<div style="display:none" id="preferenceDialogWindow" title="" data-bind="ojComponent:{
            component: 'ojDialog', 
            initialVisibility: 'hide', 
            rootAttributes: {class: 'scheduleModal-dimensions'}, 
            'position': {'my': 'center center', 'at': 'top center'}}">
     <!-- Note: the user must provide the aria-labelledby attribute for the dialog to be accessible -->
     <div class="oj-dialog-header oj-helper-clearfix" aria-labelledby="dialogTitleId">
         <div id="dialogTitleId" class="oj-dialog-title oj-flex">
            <div class="leftSideTitleDialog">
                <img data-bind="attr:{src: 'css/images/arrow-left-dialog.png'}" />
            </div>
            <div class="oj-md-10 centerTitleDialog">
                <div class="oj-flex dialogPageToolBarWrapper">
                    <div class="oj-md-12 oj-flex-item-nopad">
                        <h2><img data-bind="attr:{src: 'css/images/header-icon-dialog.png'}" /> <span class="h2Text">Preference Dialog Window</span></h2>
                    </div>
                </div>

            </div>
         </div> 
     </div>

     <div class="oj-dialog-body">
            <
     </div>
</div>