<div class="justifyCenter">
    <div class="oj-row">
        <div class="oj-col oj-md-10">
            <h2> <span id="currentPage" data-bind="text: label"></span><a href="#"><i class="fa fa-question-circle"></i></a></h2>
        </div>
        <div class="oj-col oj-sm-2 oj-lg-text-align-end">
            <a data-bind="click: function(){$parent.handleOpen('#empPayrollDialog')}" style="line-height:39px;">Edit <i class="fa fa-pencil-square-o"></i></a>
        </div>
    </div>
    <div class="oj-row">
        <div class="oj-col oj-md-12 oj-lg-3">
            <h3>General</h3>
            <div class="oj-col oj-md-6 oj-lg-12">
                <div class="oj-col oj-md-6 oj-lg-12">External payroll ID</div>
               <div class="oj-col oj-md-6 oj-lg-12">
                    <div class="payrollItems" data-bind="text: $parent.extPayrollId"></div>
               </div>
            </div>
             <div class="oj-col oj-md-6 oj-lg-12">
                <div class="oj-col oj-md-6 oj-lg-12">Options</div>
                <div id="checkboxOptionsWages" aria-labelledby="mainlabelid" data-bind="ojComponent: {component: 'ojCheckboxset', value: ''}">
                  <span class="oj-choice-row" data-bind="visible: $parent.minimumwage() == 1">
                    <i class="fa fa-check"></i><span>Allow sub minimum wage</span>
                  </span>
                  <span class="oj-choice-row" data-bind="visible: $parent.overtimeexempt() == 1">
                    <i class="fa fa-check"></i><span>Overtime exempt</span>
                  </span>
                </div>
            </div>
        </div>
        <div class="oj-col oj-md-12 oj-lg-9">
            <h3>I9 Information</h3>
            <div class="oj-col oj-md-6 oj-lg-4">
                <div>Date of Birth</div>
                    <div data-bind="text: $parent.birthDateFormatted()"></div>
                <div>Child Labor Law Requirements (Age 16)</div>
            </div>
            <div class="oj-col oj-md-6 oj-lg-4">
                <div class="oj-col oj-md-12">INS Status</div>
                <div class="oj-col oj-md-12" data-bind="text:$parent.insstatus()"></div>

                <div class="oj-col oj-md-12">Admission Number</div>
                <div class="oj-col oj-md-12">
                        <div data-bind="text: $parent.admissionnumber"></div>
                </div>
                <div class="oj-col oj-md-12">INS Expiration Date</div>
                <div class="oj-col oj-md-12">
                        <div data-bind="text: $parent.insexpirationdateFormatted()"></div>
                </div>
            </div>
            <div class="oj-col oj-md-12 oj-lg-4">
                <div class="oj-col oj-md-6 oj-lg-12">Social Security Number</div>
                <div class="oj-col oj-md-6 oj-lg-12">
<!--                    <input type="password" id="password" data-bind="ojComponent: {component: 'ojInputPassword', value: self.socialnumber}"/>-->
                      <input id="password-disabled" data-bind="ojComponent: {component: 'ojInputPassword', value: $parent.socialsecuritynumber, disabled: true}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="oj-row">
        <div class="oj-col oj-md-12">
            <h3>Identity Documents</h3>
        </div>
        <div class="oj-col oj-md-12">
            <span class="identityHeader">Selected Identity Documents: </span><span data-bind="text: $parent.identityfilterSelectedType()"></span>
        </div>
        <hr class="oj-col oj-md-12" data-bind="visible: $parent.identityfilterSelectedType() == 'list-b-c'" />
        <div class="oj-col oj-md-12" data-bind="visible: $parent.identityfilterSelectedType() == 'list-b-c'">
            <div class="oj-col oj-md-12">
                <h4>List B I9 Document Type</h4> 
            </div>
            <div class="oj-col oj-md-12 oj-lg-4">

                <div class="oj-col">Document Type</div>
                <div class="oj-col" data-bind="text: $parent.bi9TypeSelected"></div>

            </div>
            <div class="oj-col oj-md-3 oj-lg-2">
                <div class="oj-col oj-md-12 oj-lg-12">Document ID</div>
                <div class="oj-col oj-md-12 oj-lg-12">
                    <div data-bind="text:$parent.bi9documentid"></div>
                </div>
            </div>
            <div class="oj-col oj-md-3 oj-lg-2">
                <div class="oj-col">Expiration Date</div>
                <div class="oj-col">
                    <div data-bind="text: $parent.bi9documentexpirationFormatted"></div>
                </div>
            </div>
            <div class="oj-col oj-md-6 oj-lg-4">
                <div class="oj-col oj-md-12 oj-lg-12">Upload Document Image</div>
                <div class="oj-col oj-md-8 oj-lg-8">
                    <div data-bind="text:$parent.bi9documentupload"></div>
                </div>
                <div class="oj-col oj-md-4 oj-lg-4">

                </div>
            </div>
    </div>
    
    <hr class="oj-col oj-md-12" data-bind="visible: $parent.identityfilterSelectedType() == 'list-b-c'" />
            
    <div class="oj-col oj-md-12" data-bind="visible: $parent.identityfilterSelectedType() == 'list-b-c'">
        <div class="oj-col oj-md-12">
            <h4>List C I9 Document Type</h4> 
        </div>
        <div class="oj-col oj-md-12 oj-lg-4">
            <div class="oj-col">Document Type</div>
            <div class="oj-col" data-bind="text: $parent.ci9TypeSelected"></div>

        </div>
        <div class="oj-col oj-md-3 oj-lg-2">
            <div class="oj-col oj-md-12 oj-lg-12">Document ID</div>
            <div class="oj-col oj-md-12 oj-lg-12">
                <div data-bind="text:$parent.ci9documentid"></div>
            </div>
        </div>
        <div class="oj-col oj-md-3 oj-lg-2">
            <div class="oj-col">Expiration Date</div>
            <div class="oj-col">
                <div data-bind="text: $parent.ci9documentexpirationFormatted"></div>
                <div data-bind="text: $parent.ci9documentexpiration"></div>
            </div>
        </div>
        <div class="oj-col oj-md-6 oj-lg-4">
            <div class="oj-col oj-md-12 oj-lg-12">Upload Document Image</div>
            <div class="oj-col oj-md-8 oj-lg-8">
                <div data-bind="text:$parent.ci9documentupload"></div>
            </div>
            <div class="oj-col oj-md-4 oj-lg-4">

            </div>
        </div>
    </div>
    
    <hr class="oj-col oj-md-12" />
    <div class="oj-col oj-md-12">
        <div class="oj-col oj-md-12 oj-lg-12">
               <span data-bind="visible: $parent.agecertification() == 1"><i class="fa fa-check"></i></span>
                <label for="agree"><strong>Age Certification</strong></label>
        </div>
        <div class="oj-col oj-md-4 oj-lg-4">

            <div class="oj-col oj-md-12 oj-lg-12">Certification Number</div>
            <div class="oj-col oj-md-12 oj-lg-12">
                <div data-bind="text: $parent.certificationnumber"></div>
            </div> 
        </div>
        <div class="oj-col oj-md-4 oj-lg-4">
            <div class="oj-col oj-md-12 oj-lg-12">Expiration Date</div>
            <div class="oj-col oj-md-12 oj-lg-12">
                <div data-bind="text: $parent.certificationexpiration"></div>
            </div>
        </div>
        <div class="oj-col oj-md-12 oj-lg-4">
            <div class="oj-col oj-md-12 oj-lg-12">Upload Document Image</div>
            <div class="oj-col oj-md-8 oj-lg-8">
                <div data-bind="text: $parent.agecertupload"></div>
            </div>
            <div class="oj-col oj-md-4 oj-lg-4">

            </div>
        </div>
    </div>
    <hr class="oj-col oj-md-12" />
        <div class="oj-col oj-md-12">
            <div class="oj-col oj-md-12 oj-lg-12">
                 <span data-bind="visible: $parent.workpermit() == 1"><i class="fa fa-check"></i></span>
                 <label>Work Permit</label>
           </div>
           <div class="oj-col oj-md-4 oj-lg-4">

               <div class="oj-col oj-md-12 oj-lg-12">Permit Number</div>
               <div class="oj-col oj-md-12 oj-lg-12">
                   <div data-bind="text:$parent.workpermitnumber"></div>
               </div>
           </div>
           <div class="oj-col oj-md-4 oj-lg-4">
               <div class="oj-col oj-md-12 oj-lg-12">Expiration Date</div>
               <div class="oj-col oj-md-12 oj-lg-12">
                    <div data-bind="text: $parent.workpermitexpiration"></div>
               </div>
           </div>
           <div class="oj-col oj-md-4 oj-lg-4">
               <div class="oj-col oj-md-12 oj-lg-12">Upload Document Image</div>
               <div class="oj-col oj-md-8 oj-lg-8">
                   <div data-bind="text:$parent.workpermitupload"></div>
               </div>
               <div class="oj-col oj-md-4 oj-lg-4">

               </div>
           </div>
        </div>
    </div>
</div>
    
<div data-bind="template: {name: 'partials/employee-payroll-edit-modal/employee-payroll-edit-modal-large'}"></div>
