<div class="justifyCenter">
    <div class="oj-row">
        <div class="oj-col oj-sm-8">
<!--            <h2 id="currentPage" data-bind="text: label"></h2>-->
         <a style="line-height:39px;" data-bind="attr:{href: 'index.html?root=people'}">Back to Search</a>
        </div>
        <div class="oj-col oj-sm-4 oj-lg-text-align-end">
            <a data-bind="click: function(){$parent.handleOpen('#empDialog')}" style="line-height:39px;">Payroll Edit <i class="fa fa-pencil-square-o"></i></a>
        </div>
    </div>
    <div class="oj-row">
        <div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
            <div id="general" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">
                 <h3>General</h3>
                 <div>
                        <div class="oj-col oj-sm-8">External payroll ID</div>
                        <div class="oj-col oj-sm-4 payrollItems"data-bind="text: $parent.extPayrollId"></div>
                    

                    
                        <div class="oj-col oj-sm-12">Options</div>
                         <div id="checkboxOptionsWages" aria-labelledby="mainlabelid" data-bind="ojComponent: {component: 'ojCheckboxset', value: ''}">
                           <span class="oj-choice-row" data-bind="visible: $parent.minimumwage() == 1">
                  <!--                    <input id="temp" type="checkbox"  value="$parent.minimumwage">
                             <label>Allow sub minimum wage</label>-->
                             <i class="fa fa-check"></i><span>Allow sub minimum wage</span>
                           </span>
                           <span class="oj-choice-row" data-bind="visible: $parent.overtimeexempt() == 1">
                  <!--                    <input id="partTime" type="checkbox" value="overtime">
                             <label>Overtime exempt</label>-->
                             <i class="fa fa-check"></i><span>Overtime exempt</span>
                           </span>
                         </div>
                   
                </div>
            </div>
            <div id="i9information" data-bind="ojComponent: {component: 'ojCollapsible'}">
               <h3>I9 Information</h3>
               <div>
                    <div>Date of Birth</div><div data-bind="text: $parent.birthDate()"></div>
                    <em>Child Labor Law Requirements (Age 16)</em>

                    <div>Admission Number: </div><div data-bind="text: $parent.admissionnumber"></div>
<!--                        <span class="oj-sm-6">INS Expiration Date: </span> <span class="oj-sm-6" data-bind="text: $parent.insexpirationdate()"></span>-->
               </div>
            </div>
            <div id="identitydocuments" data-bind="ojComponent: {component: 'ojCollapsible'}">
                <h3>Identity Documents</h3>
                <div>
                    <div id="radiosetIdentifyDoc" aria-labelledby="mainlabelid" data-bind="ojComponent: {component: 'ojRadioset', disabled: $parent.disabledState, value: $parent.identifydocumenttype}">
                      <span class="oj-choice-row">
                        <input id="none" type="radio" value="none">
                        <label>None</label>
                      </span>
                      <span class="oj-choice-row">
                        <input id="listA" type="radio" value="list-a">
                        <label>List A</label>
                      </span>
                      <span class="oj-choice-row">
                        <input id="listBC" type="radio" value="list-b-c">
                        <label>List B and List C </label>
                      </span>
                    </div>

                    <div id="bi9information" data-bind="visible: $parent.identifydocumenttype()=='list-b-c' ">
                        <h3>List B I9 Document Type </h3>
                        <div>
                            <div>
                                <div class="oj-col">Document Type</div>
                                <div class="oj-col" data-bind="text: $parent.bi9TypeSelected"></div>
                            </div>
                            <div>Document ID</div>
                            <div>
                                <div data-bind="text: $parent.bi9documentid"></div>
                            </div>
                            <div>
                                <span>Expiration Date:</span> <span data-bind="text: $parent.bi9documentexpiration"></span>
                            </div>
                            <div>Upload Document Image</div>
                            <div>
                                <div data-bind="text: $parent.bi9documentupload"></div>
                            </div>
                        </div>

                    </div>
                    <div id="ci9information" data-bind="visible: $parent.identifydocumenttype()=='list-b-c' ">
                        <h3>List C I9 Document Type </h3>
                        <div>
                            <div>
                                <div class="oj-col">Document Type</div>
                                <div class="oj-col" data-bind="text: $parent.ci9TypeSelected"></div>
                            </div>
                            <div>Document ID</div>
                            <div>
                                <div data-bind="text: $parent.ci9documentid"></div>
                            </div>
                            <div>
                                <span>Expiration Date:</span> <span data-bind="text: $parent.ci9documentexpiration"></span>
                            </div>
                            <div>Upload Document Image</div>
                            <div>
                                <div data-bind="text: $parent.ci9documentupload"></div>
                            </div>
                        </div>
                    </div>
                    <div id="agecertification" data-bind="visible: $parent.agecertification()== 1">
                        <h3>Age Certification</h3>
                        <div>
                            <div>Certification Number</div>
                            <div data-bind="text: $parent.certificationnumber"></div>
                            <div>Expiration Date</div>
                            <div data-bind="text: $parent.certificationexpiration"></div>

                            <div>Upload Document Image</div>
                            <div data-bind="text: $parent.agecertupload"></div>
                        </div>
                    </div>
                    <div id="workpermit" data-bind="visible: $parent.workpermit()== 1">
                        <h3>Work Permit</h3>
                            <div>Permit Number</div>
                            <div data-bind="text: $parent.workpermitnumber"></div>
                            <div>Expiration Date</div>
                            <div data-bind="text: $parent.workpermitexpiration"></div>

                            <div>Upload Document Image</div>
                            <div data-bind="text: $parent.workpermitupload"></div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div data-bind="template: {name: 'partials/employee-payroll-edit-modal/employee-payroll-edit-modal-small'}"></div>