<div class="justifyCenter">
    <div class="oj-row">
        <div class="oj-col oj-md-10">
            <h2 id="currentPage" data-bind="text: label"></h2>
        </div>
        <div class="oj-col oj-sm-2 oj-lg-text-align-end">
            <a data-bind="click: function(){$parent.handleOpen('#empPayrollDialog')}" style="line-height:39px;">Edit <i class="fa fa-pencil-square-o"></i></a>
        </div>
    </div>
    <div class="oj-row">
        <div class="oj-col oj-md-12 oj-lg-3">
            <h3>General</h3>
            <div class="oj-col oj-md-6 oj-lg-12">
                <div class="oj-col oj-md-6 oj-lg-12">External payroll ID</div>
               <div class="oj-col oj-md-6 oj-lg-12">
<!--                   <input data-bind="ojComponent: {component: 'ojInputText', value: ''}" />-->
                        <div class="payrollItems" data-bind="text: $parent.extPayrollId"></div>
               </div>
            </div>
             <div class="oj-col oj-md-6 oj-lg-12">
                <div class="oj-col oj-md-6 oj-lg-12">Options</div>
                <div id="checkboxOptionsWages" aria-labelledby="mainlabelid" data-bind="ojComponent: {component: 'ojCheckboxset', value: ''}">
                  <span class="oj-choice-row" data-bind="visible: $parent.minimumwage() == 1">
<!--                    <input id="temp" type="checkbox"  value="$parent.minimumwage">
                    <label>Allow sub minimum wage</label>-->
                    <i class="fa fa-check"></i><span>Allow sub minimum wage</span>
                  </span>/
                  <span class="oj-choice-row" data-bind="visible: $parent.overtimeexempt() == 1">
<!--                    <input id="partTime" type="checkbox" value="overtime">
                    <label>Overtime exempt</label>-->
                    <i class="fa fa-check"></i><span>Overtime exempt</span>
                  </span>
                </div>
            </div>
        </div>
        <div class="oj-col oj-md-12 oj-lg-9">
            <h3>I9 Information</h3>
            <div class="oj-col oj-md-6 oj-lg-4">
                <div>Date of Birth</div>
<!--                <input data-bind="ojComponent: {component: 'ojInputDate', value: $parent.reHireDate}" />-->
                    <div data-bind="text: $parent.birthDateFormatted()"></div>
                <div>Child Labor Law Requirements (Age 16)</div>
            </div>
            <div class="oj-col oj-md-6 oj-lg-4">
                <div class="oj-col oj-md-12">INS Status</div>
                <div class="oj-col oj-md-12" data-bind="text:$parent.insstatus()"></div>

                <div class="oj-col oj-md-12">Admission Number</div>
                <div class="oj-col oj-md-12">
<!--                    <input data-bind="ojComponent: {component: 'ojInputText', value: ''}" />-->
                        <div data-bind="text: $parent.admissionnumber"></div>
                </div>
                <div class="oj-col oj-md-12">INS Expiration Date</div>
                <div class="oj-col oj-md-12">
<!--                    <input data-bind="ojComponent: {component: 'ojInputText', value: ''}" />-->
                        <div data-bind="text: $parent.insexpirationdateFormatted()"></div>
                </div>
            </div>
            <div class="oj-col oj-md-12 oj-lg-4">
                <div class="oj-col oj-md-6 oj-lg-12">Social Security Number</div>
                <div class="oj-col oj-md-6 oj-lg-12">
<!--                    <input type="password" id="password" data-bind="ojComponent: {component: 'ojInputPassword', value: self.socialnumber}"/>-->
                      <input id="password-disabled" data-bind="ojComponent: {component: 'ojInputPassword', value: $parent.socialsecuritynumber, disabled: true}"/>
                </div>
                <div class="oj-col oj-md-6 oj-lg-12">Confirm Social Security Number</div>
                <div class="oj-col oj-md-6 oj-lg-12">
<!--                    <input data-bind="ojComponent: {component: 'ojInputText', value: ''}" />-->
                        <input id="password-disabled" data-bind="ojComponent: {component: 'ojInputPassword', value: $parent.socialsecuritynumber, disabled: true}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="oj-row">
        <div class="oj-col oj-md-12">
            <h3>Identity Documents</h3>
        </div>
        <div class="oj-col oj-md-12">
            <div data-bind="text: $parent.identifydocumenttype()"></div>
        </div>
        <hr class="oj-col oj-md-12" />
        <div class="oj-col oj-md-12">
            <div class="oj-col oj-md-12">
                List B I9 Document Type 
            </div>
            <div class="oj-col oj-md-12 oj-lg-4">
                <label for="basicSelect">Document Type</label>
                <select id="basicSelect" data-bind="ojComponent: {component: 'ojSelect', disabled: true,
                                                                      value: $parent.bi9documenttype,
                                                                      rootAttributes: {style:'max-width:400px'}}">
                      <option value="">Please Select</option>
                      <option value="calicense">Canadian Driver's License</option>
                      <option value="cdhrecords">Clinic, Doctor, or Hospital Record</option>
                      <option value="dnschoolrecord">Daycare or Nursery School Record</option>
                      <option value="driverlicense">Driver's License</option>
                      <option value="fslidcard">Federal, State, or Local ID Card</option>
                      <option value="mildepidcard">Military Dependents ID Card</option>
                      <option value="natamericandoc">Native American Tribal Document</option>
                      <option value="driverlicense">School ID Card</option>
                      <option value="recordreportcard">School Record/Report Card</option>
                      <option value="driverlicense">US Coast Guard merchant</option>
                      <option value="documentidcard">Employment Authorization Document ID Card</option>
                    </select>

            </div>
            <div class="oj-col oj-md-3 oj-lg-2">
                <div class="oj-col oj-md-12 oj-lg-12">Document ID</div>
                <div class="oj-col oj-md-12 oj-lg-12">
                    <input data-bind="ojComponent: {component: 'ojInputText', disabled: true, value: $parent.bi9documentid}" />
                </div>
            </div>
            <div class="oj-col oj-md-3 oj-lg-2">
                <div class="oj-col">Expiration Date</div>
                <div class="oj-col">
                    <div data-bind="text: $parent.bi9documentexpirationFormatted"></div>
                </div>
            </div>
            <div class="oj-col oj-md-6 oj-lg-4">
                <div class="oj-col oj-md-12 oj-lg-12">Upload Document Image</div>
                <div class="oj-col oj-md-8 oj-lg-8">
                    <input data-bind="ojComponent: {component: 'ojInputText', disabled: true, value: $parent.bi9documentupload}" />
                </div>
                <div class="oj-col oj-md-4 oj-lg-4">
                        <button id="buttonIcon2" data-bind="ojComponent: {component:'ojButton', 
                            icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}, 
                            label: 'Browse'
                }"></button>
                </div>
            </div>
    </div>
    
    <hr class="oj-col oj-md-12" />
            
    <div class="oj-col oj-md-12">
        <div class="oj-col oj-md-12">
            List C I9 Document Type 
        </div>
        <div class="oj-col oj-md-12 oj-lg-4">
            <label for="basicSelect">Document Type</label>
            <select id="basicSelect" data-bind="ojComponent: {component: 'ojSelect', disabled: true,
                                                              value: $parent.ci9documenttype,
                                                              rootAttributes: {style:'max-width:400px'}}">
              <option value="">Please Select</option>
              <option value="calicense">Certificate of Birth Abroad</option>
              <option value="cdhrecords">Employment Authorization Document ID Card</option>
              <option value="dnschoolrecord">Native American Tribal Document</option>
              <option value="driverlicense">US Birth Certificate</option>
              <option value="fslidcard">US Citizen ID Card</option>
              <option value="ussscard">US Social Security Card</option>
            </select>

        </div>
        <div class="oj-col oj-md-3 oj-lg-2">
            <div class="oj-col oj-md-12 oj-lg-12">Document ID</div>
            <div class="oj-col oj-md-12 oj-lg-12">
                <input data-bind="ojComponent: {component: 'ojInputText', disabled: true, value: $parent.ci9documentid}" />
            </div>
        </div>
        <div class="oj-col oj-md-3 oj-lg-2">
            <div class="oj-col">Expiration Date</div>
            <div class="oj-col">
                <div data-bind="text: $parent.ci9documentexpirationFormatted"></div>
            </div>
        </div>
        <div class="oj-col oj-md-6 oj-lg-4">
            <div class="oj-col oj-md-12 oj-lg-12">Upload Document Image</div>
            <div class="oj-col oj-md-8 oj-lg-8">
                <input data-bind="ojComponent: {component: 'ojInputText', disabled: true, value: $parent.ci9documentupload}" />
            </div>
            <div class="oj-col oj-md-4 oj-lg-4">
                    <button id="buttonIcon2" data-bind="ojComponent: {component:'ojButton', 
                        icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}, 
                        label: 'Browse'
            }"></button>
            </div>
        </div>
    </div>
    
    <hr class="oj-col oj-md-12" />
    <div class="oj-col oj-md-12">
        <div class="oj-col oj-md-12 oj-lg-12">
               <span data-bind="visible: $parent.agecertification() == 1"><i class="fa fa-check"></i></span>
                <label for="agree"><strong>Age Certification</strong></label>
        </div>
        <div class="oj-col oj-md-4 oj-lg-4">

            <div class="oj-col oj-md-12 oj-lg-12">Certification Number</div>
            <div class="oj-col oj-md-12 oj-lg-12">
                <input data-bind="ojComponent: {component: 'ojInputText', disabled: true, value: $parent.certificationnumber}" />
            </div> 
        </div>
        <div class="oj-col oj-md-4 oj-lg-4">
            <div class="oj-col oj-md-12 oj-lg-12">Expiration Date</div>
            <div class="oj-col oj-md-12 oj-lg-12">
<!--                <input data-bind="ojComponent: {component: 'ojInputDate', value: $parent.reHireDate}" />-->
                <div data-bind="text: $parent.certificationexpirationFormatted"></div>
            </div>
        </div>
        <div class="oj-col oj-md-12 oj-lg-4">
            <div class="oj-col oj-md-12 oj-lg-12">Upload Document Image</div>
            <div class="oj-col oj-md-8 oj-lg-8">
                <input data-bind="ojComponent: {component: 'ojInputText', disabled: true, value: $parent.agecertupload}" />
            </div>
            <div class="oj-col oj-md-4 oj-lg-4">
                    <button id="buttonIcon2" data-bind="ojComponent: {component:'ojButton', 
                        icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}, 
                        label: 'Browse'
            }"></button>
            </div>
        </div>
    </div>
    <hr class="oj-col oj-md-12" />
        <div class="oj-col oj-md-12">
            <div class="oj-col oj-md-12 oj-lg-12">
                 <span data-bind="visible: $parent.workpermit() == 1"><i class="fa fa-check"></i></span>
                 <label>Work Permit</label>
           </div>
           <div class="oj-col oj-md-4 oj-lg-4">

               <div class="oj-col oj-md-12 oj-lg-12">Permit Number</div>
               <div class="oj-col oj-md-12 oj-lg-12">
                   <input data-bind="ojComponent: {component: 'ojInputText', disabled: true, value: $parent.workpermitnumber}" />
               </div>
           </div>
           <div class="oj-col oj-md-4 oj-lg-4">
               <div class="oj-col oj-md-12 oj-lg-12">Expiration Date</div>
               <div class="oj-col oj-md-12 oj-lg-12">
<!--                   <input data-bind="ojComponent: {component: 'ojInputDate', value: $parent.reHireDate}" />-->
                    <div data-bind="text: $parent.workpermitexpirationFormatted"></div>
               </div>
           </div>
           <div class="oj-col oj-md-4 oj-lg-4">
               <div class="oj-col oj-md-12 oj-lg-12">Upload Document Image</div>
               <div class="oj-col oj-md-8 oj-lg-8">
                   <input data-bind="ojComponent: {component: 'ojInputText', disabled: true, value: $parent.workpermitupload}" />
               </div>
               <div class="oj-col oj-md-4 oj-lg-4">
                       <button id="buttonIcon2" data-bind="ojComponent: {component:'ojButton', 
                           icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}, 
                           label: 'Browse'
               }"></button>
               </div>
           </div>
        </div>
    </div>
</div>
<div data-bind="template: {name: 'partials/employee-payroll-edit-modal/employee-payroll-edit-modal-large'}"></div>
