<div style="display:none" id="enterpriseDialogWindow" title="" data-bind="ojComponent:{
            component: 'ojDialog',
            resizeBehavior: 'none',
            dragAffordance: 'none',
            initialVisibility: 'hide', 
            rootAttributes: {style: 'width: 100%; height: 667px;'},
            'position': {'at': 'top'}}">
     <!-- Note: the user must provide the aria-labelledby attribute for the dialog to be accessible -->
    <div class="oj-dialog-header oj-helper-clearfix" aria-labelledby="dialogTitleId">
        <div id="dialogTitleId" class="oj-dialog-title">
             <h2 class="dialogHeaderText oj-flex"><img data-bind="attr:{src: 'css/images/header-icon-dialog.png'}" /> <span>Enterprise Dialog Window</span></h2>
        </div>
    </div> 
    <div class="oj-dialog-body">
             <div class="oj-flex">
                 <div class="alertMsgWrap oj-flex-item">
                     <div class="alertMsgText">
                         <i class="fa fa-check"></i> Order i15-02095 has been successfully submitted
                     </div>
                 </div>
             </div>
         </div>
     </div>
