@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url("fonts/HelveticaNeue-Medium.ttf") format("truetype"); }
@font-face {
  font-family: 'Helvetica Neue Light';
  src: url("fonts/HelveticaNeue-Light.ttf") format("truetype"); }
/*****Section Variables*****/
html {
  height: 100vh; }

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px; }

body {
  background-image: none;
  background-color: #fff;
  color: #000; }

a {
  cursor: pointer; }

.txtHighlight {
  color: #00a8ff; }

h1, h2 {
  font-family: 'Helvetica Neue Light';
  font-weight: normal;
  color: #fff;
  padding-left: 15px; }

h1.pageTitle {
  font-size: 36px; }

/*OJET Overwrites*/
.oj-navigationlist-horizontal .oj-navigationlist-element, .oj-navigationlist-icon-only .oj-navigationlist-element {
  margin: 0; }

.oj-navigationlist-item {
  border-width: 0 !important; }

.oj-panel {
  border-color: transparent; }

.oj-panel-alt2 {
  background-color: transparent;
  border-color: transparent; }

/*Font Awesome Overwrites*/
.arrowLocation.fa-location-arrow {
  font-size: 14px; }

.fa-chevron-down, .fa-chevron-up {
  font-size: 14px; }

/*Page layouts*/
#topDrawer {
  background-color: #696e72;
  outline-color: transparent; }
  #topDrawer:active {
    outline-color: transparent; }
  #topDrawer .oj-tabs-title {
    color: #fff;
    text-decoration: none !important; }
  #topDrawer #offCanvasScope {
    height: 225px; }
    #topDrawer #offCanvasScope .analyticsWrapper {
      background-color: #fff;
      display: block;
      float: left;
      margin: 0 10px;
      padding: 10px;
      color: #000; }
    #topDrawer #offCanvasScope .oj-tabs-tab.oj-selected, #topDrawer #offCanvasScope .oj-tabs-tab.oj-active .oj-tabs-close-icon, #topDrawer #offCanvasScope .oj-tabs-tab.oj-active .oj-tabs-anchor {
      border: 0;
      background-color: #454545; }
      #topDrawer #offCanvasScope .oj-tabs-tab.oj-selected .oj-tabs-tab-content, #topDrawer #offCanvasScope .oj-tabs-tab.oj-active .oj-tabs-close-icon .oj-tabs-tab-content, #topDrawer #offCanvasScope .oj-tabs-tab.oj-active .oj-tabs-anchor .oj-tabs-tab-content {
        border: 0; }
    #topDrawer #offCanvasScope .oj-tabs-vertical {
      height: 100%; }
      #topDrawer #offCanvasScope .oj-tabs-vertical .oj-tabs-selected {
        border-radius: 0;
        border: 0;
        background-color: #454545;
        color: #fff; }

.oj-web-applayout-page {
  overflow: auto; }

.oj-web-applayout-header > div, .oj-web-applayout-content {
  padding: 0; }

.oj-web-applayout-content {
  background-color: #fff; }

.oj-web-applayout-footer {
  text-align: center;
  border: 0; }

.oj-dialog, .oj-dialog-body {
  background: #fff; }

.oj-dialog .fa {
  font-size: 12px; }

html:not([dir="rtl"]) .oj-dialog-title {
  padding: 0; }

.dialogToolBar {
  float: right; }

.oj-dialog-header-close-wrapper {
  width: 40px;
  height: 35px;
  margin: 0;
  padding: 0; }
  .oj-dialog-header-close-wrapper.oj-active .oj-dialog-close-icon {
    background-color: #f7f8f9; }

.oj-dialog-close-icon {
  color: #fff;
  line-height: 35px;
  width: 40px;
  border: 0;
  border-radius: 0; }

.oj-dialog-header {
  padding: 0px; }
  .oj-dialog-header h2 {
    color: #fff;
    font-size: 18px; }
  .oj-dialog-header .dialogHeaderText {
    display: inline-block;
    margin: 3px; }
  .oj-dialog-header img {
    vertical-align: middle; }

.oj-dialog-body {
  font-size: 15px; }
  .oj-dialog-body .fa-check {
    color: #88b300; }

.alertMsgWrap {
  text-align: center;
  padding: 10px 0px;
  margin: 20px 0;
  background-color: #F5F5F5;
  border-top: 10px solid #88b300;
  min-height: 40px; }
  .alertMsgWrap .alertMsgText {
    width: 60%;
    margin: 0 auto; }

/*Dialog window*/
#ojDialogWrapper-homeDialogWindow .oj-dialog-header {
  background-color: #004587; }
  #ojDialogWrapper-homeDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper {
    background-color: #0572CE; }
    #ojDialogWrapper-homeDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper.oj-hover .oj-dialog-close-icon {
      color: #0572CE; }
#ojDialogWrapper-homeDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-default, #ojDialogWrapper-homeDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-hover, #ojDialogWrapper-homeDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-focus-only {
  background-color: #004587; }

#ojDialogWrapper-laborDialogWindow .oj-dialog-header {
  background-color: #8b3300; }
  #ojDialogWrapper-laborDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper {
    background-color: #be4800; }
    #ojDialogWrapper-laborDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper.oj-hover .oj-dialog-close-icon {
      color: #be4800; }
#ojDialogWrapper-laborDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-default, #ojDialogWrapper-laborDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-hover, #ojDialogWrapper-laborDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-focus-only {
  background-color: #8b3300; }

#ojDialogWrapper-inventoryDialogWindow .oj-dialog-header {
  background-color: #79006C; }
  #ojDialogWrapper-inventoryDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper {
    background-color: #A90083; }
    #ojDialogWrapper-inventoryDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper.oj-hover .oj-dialog-close-icon {
      color: #A90083; }
#ojDialogWrapper-inventoryDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-default, #ojDialogWrapper-inventoryDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-hover, #ojDialogWrapper-inventoryDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-focus-only {
  background-color: #79006C; }

#ojDialogWrapper-gift-loyaltyDialogWindow .oj-dialog-header {
  background-color: #410b6e; }
  #ojDialogWrapper-gift-loyaltyDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper {
    background-color: #754b9a; }
    #ojDialogWrapper-gift-loyaltyDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper.oj-hover .oj-dialog-close-icon {
      color: #754b9a; }
#ojDialogWrapper-gift-loyaltyDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-default, #ojDialogWrapper-gift-loyaltyDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-hover, #ojDialogWrapper-gift-loyaltyDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-focus-only {
  background-color: #410b6e; }

#ojDialogWrapper-reports-analyticsDialogWindow .oj-dialog-header {
  background-color: #005C3A; }
  #ojDialogWrapper-reports-analyticsDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper {
    background-color: #1A8841; }
    #ojDialogWrapper-reports-analyticsDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper.oj-hover .oj-dialog-close-icon {
      color: #1A8841; }
#ojDialogWrapper-reports-analyticsDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-default, #ojDialogWrapper-reports-analyticsDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-hover, #ojDialogWrapper-reports-analyticsDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-focus-only {
  background-color: #005C3A; }

#ojDialogWrapper-enterpriseDialogWindow .oj-dialog-header {
  background-color: #88000d; }
  #ojDialogWrapper-enterpriseDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper {
    background-color: #e4001e; }
    #ojDialogWrapper-enterpriseDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper.oj-hover .oj-dialog-close-icon {
      color: #e4001e; }
#ojDialogWrapper-enterpriseDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-default, #ojDialogWrapper-enterpriseDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-hover, #ojDialogWrapper-enterpriseDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-focus-only {
  background-color: #88000d; }

#ojDialogWrapper-peopleDialogWindow .oj-dialog-header {
  background-color: #172777; }
  #ojDialogWrapper-peopleDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper {
    background-color: #5a68ad; }
    #ojDialogWrapper-peopleDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper.oj-hover .oj-dialog-close-icon {
      color: #5a68ad; }
#ojDialogWrapper-peopleDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-default, #ojDialogWrapper-peopleDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-hover, #ojDialogWrapper-peopleDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-focus-only {
  background-color: #172777; }

#ojDialogWrapper-empBasicDialogWindow .oj-dialog-header {
  background-color: #172777; }
  #ojDialogWrapper-empBasicDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper {
    background-color: #5a68ad; }
    #ojDialogWrapper-empBasicDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper.oj-hover .oj-dialog-close-icon {
      color: #5a68ad; }
#ojDialogWrapper-empBasicDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-default, #ojDialogWrapper-empBasicDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-hover, #ojDialogWrapper-empBasicDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-focus-only {
  background-color: #172777; }

#ojDialogWrapper-profileDialogWindow .oj-dialog-header {
  background-color: #172777; }
  #ojDialogWrapper-profileDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper {
    background-color: #5a68ad; }
    #ojDialogWrapper-profileDialogWindow .oj-dialog-header .oj-dialog-header-close-wrapper.oj-hover .oj-dialog-close-icon {
      color: #5a68ad; }
#ojDialogWrapper-profileDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-default, #ojDialogWrapper-profileDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-hover, #ojDialogWrapper-profileDialogWindow .dialogSendBtn.oj-button.oj-button-full-chrome.oj-focus-only {
  background-color: #172777; }

/*Header*/
.appHeader {
  background-color: #F5F5F5; }

.appHeaderMobile {
  padding-left: 10px; }

.appHeaderLogoWrap .appHeaderName {
  display: inline-block; }

.appHeaderLogo {
  background-image: url("images/oracle_logo_sm_black.png");
  background-repeat: no-repeat;
  background-position: 5px;
  width: 140px;
  height: 22px;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 10px; }

#userMenu, .globalStoreLink {
  float: right;
  display: block;
  background-image: none;
  background-color: #F5F5F5;
  height: 100%;
  border: 0px;
  line-height: 40px;
  border-radius: 0; }

.globalStoreLink {
  border: 1px solid #d5d7d6;
  border-width: 0 1px 1px 1px;
  padding: 0 15px;
  color: #454545;
  background-color: #fff; }
  .globalStoreLink .fa {
    color: #454545; }
  .globalStoreLink.active, .globalStoreLink.hover, .globalStoreLink:active, .globalStoreLink:hover {
    font-weight: normal;
    color: #fff;
    background-color: #454545; }
    .globalStoreLink.active .fa, .globalStoreLink.hover .fa, .globalStoreLink:active .fa, .globalStoreLink:hover .fa {
      color: #fff; }

.mobileTitle, .mobileSubNav {
  color: #fff;
  font-size: 16px; }

.mobileSubNav {
  display: block; }

.mobileNavTitleArea {
  padding: 0.8571rem; }

.customUserIcon {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 1;
  overflow: hidden;
  direction: ltr;
  text-align: center;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  .customUserIcon:before {
    content: url("images/default-user-icon.png"); }

#headerTemplate .profileTitleWrap {
  display: none; }

.homeTitleWrap {
  background-color: #004587; }

.labor-managementTitleWrap {
  background-color: #8b3300; }

.inventory-managementTitleWrap {
  background-color: #79006C; }

.gift-loyaltyTitleWrap {
  background-color: #410b6e; }

.reports-analyticsTitleWrap {
  background-color: #005C3A; }

.enterpriseTitleWrap {
  background-color: #88000d; }

.peopleTitleWrap {
  background-color: #172777; }

.profileTitleWrap {
  background-color: #172777; }

#appHeaderDesktopNav .topNavImgIcon, #appHeaderMobileNav .topNavImgIcon {
  margin-top: 3px;
  display: inline-block;
  width: 24px;
  height: 22px;
  vertical-align: middle; }
#appHeaderDesktopNav .oj-navigationlist-item, #appHeaderMobileNav .oj-navigationlist-item {
  margin-right: 0;
  /*Main Navigation Background Colors*/ }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-focus#home a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-default#home a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-focus#home a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-default#home a .topNavImgIcon {
    background-image: url("images/icon/home-default.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#home, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#home, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#home, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#home {
    background-color: #004587; }
    #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#home a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#home a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#home a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#home a .topNavImgIcon {
      background-image: url("images/icon/home-hover.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-focus#labor-management a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-default#labor-management a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-focus#labor-management a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-default#labor-management a .topNavImgIcon {
    background-image: url("images/icon/labor-default.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#labor-management, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#labor-management, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#labor-management, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#labor-management {
    background-color: #8b3300; }
    #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#labor-management a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#labor-management a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#labor-management a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#labor-management a .topNavImgIcon {
      background-image: url("images/icon/labor-hover.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-focus#inventory-management a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-default#inventory-management a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-focus#inventory-management a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-default#inventory-management a .topNavImgIcon {
    background-image: url("images/icon/inventory-default.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#inventory-management, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#inventory-management, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#inventory-management, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#inventory-management {
    background-color: #79006C; }
    #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#inventory-management a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#inventory-management a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#inventory-management a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#inventory-management a .topNavImgIcon {
      background-image: url("images/icon/inventory-hover.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-focus#gift-loyalty a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-default#gift-loyalty a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-focus#gift-loyalty a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-default#gift-loyalty a .topNavImgIcon {
    background-image: url("images/icon/gift-loyalty-default.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#gift-loyalty, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#gift-loyalty, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#gift-loyalty, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#gift-loyalty {
    background-color: #410b6e; }
    #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#gift-loyalty a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#gift-loyalty a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#gift-loyalty a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#gift-loyalty a .topNavImgIcon {
      background-image: url("images/icon/gift-loyalty-hover.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-focus#reports-analytics a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-default#reports-analytics a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-focus#reports-analytics a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-default#reports-analytics a .topNavImgIcon {
    background-image: url("images/icon/reporting-analytics-default.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#reports-analytics, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#reports-analytics, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#reports-analytics, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#reports-analytics {
    background-color: #005C3A; }
    #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#reports-analytics a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#reports-analytics a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#reports-analytics a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#reports-analytics a .topNavImgIcon {
      background-image: url("images/icon/reporting-analytics-hover.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-focus#enterprise a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-default#enterprise a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-focus#enterprise a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-default#enterprise a .topNavImgIcon {
    background-image: url("images/icon/enterprise-default.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#enterprise, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#enterprise, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#enterprise, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#enterprise {
    background-color: #88000d; }
    #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#enterprise a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#enterprise a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#enterprise a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#enterprise a .topNavImgIcon {
      background-image: url("images/icon/enterprise-hover.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-focus#people a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-default#people a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-focus#people a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-default#people a .topNavImgIcon {
    background-image: url("images/icon/people-default.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#people, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#people, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#people, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#people {
    background-color: #172777; }
    #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#people a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#people a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#people a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#people a .topNavImgIcon {
      background-image: url("images/icon/people-hover.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-focus#profile a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-default#profile a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-focus#profile a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-default#profile a .topNavImgIcon {
    background-image: url("images/icon/people-default.png"); }
  #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#profile, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#profile, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#profile, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#profile {
    background-color: #172777; }
    #appHeaderDesktopNav .oj-navigationlist-item.oj-selected#profile a .topNavImgIcon, #appHeaderDesktopNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#profile a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-selected#profile a .topNavImgIcon, #appHeaderMobileNav .oj-navigationlist-item.oj-hover:not(.oj-selected)#profile a .topNavImgIcon {
      background-image: url("images/icon/people-hover.png"); }

#appDrawer {
  background-color: #454545;
  width: 200px;
  outline-color: transparent; }
  #appDrawer .oj-navigationlist-element .oj-default .oj-navigationlist-item-label {
    color: #fff; }

/*Page Tabs*/
.oj-navigationlist-page-level.oj-navigationlist-vertical:not(.oj-navigationlist-icon-only) .oj-navigationlist-item:not(.oj-disabled) a.oj-navigationlist-item-content .oj-navigationlist-item-label {
  color: #fff; }

.subTabs {
  margin-top: -42px; }
  .subTabs .oj-navigationlist-item {
    margin-right: 5px; }
    .subTabs .oj-navigationlist-item.oj-selected {
      background-color: #fff; }
      .subTabs .oj-navigationlist-item.oj-selected a.oj-navigationlist-item-content {
        color: #000; }

.inputFieldWrap {
  max-width: 100%; }

.inputField {
  border: 1px solid #F5F5F5; }

.searchResultSections {
  width: 100%;
  padding: 0 10px; }

.searchFieldWrap {
  border: 1px solid #F5F5F5;
  overflow: hidden; }

.searchBtnWrap {
  float: right; }

.searchTitleBar {
  height: 20px;
  padding: 10px;
  background-color: #F5F5F5; }
  .searchTitleBar label {
    font-size: 20px; }

.firstAdvSearchArea, #advancebtn {
  padding: 10px; }

.advSearchLabel {
  font-weight: bold;
  width: 100%;
  display: block;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #AFBAC5; }

.advSearchCol {
  border-right: 1px solid #AFBAC5;
  padding: 10px 20px; }
  .advSearchCol:last-child {
    border: 0; }
  .advSearchCol label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block; }

.tableHeader {
  background-color: #37424C;
  padding: 15px 10px; }
  .tableHeader span {
    color: #fff; }

.employeeTable li {
  background-color: #fff; }
  .employeeTable li:nth-child(even) {
    background-color: #F5F5F5; }
  .employeeTable li .oj-flex-item div, .employeeTable li .oj-flex-item a {
    line-height: 50px; }

.empImg {
  border-radius: 50%;
  height: 75px;
  width: 75px; }

.empImgCol {
  max-width: 95px; }

.oj-listview-item.oj-hover {
  background-color: #ebeced !important; }

.simplesearchWrap {
  margin: 10px 5px; }

.searchTitle h2 {
  color: #000; }

#empBasicDialogWindow label {
  font-weight: bold;
  text-transform: uppercase; }
  #empBasicDialogWindow label.subLabel {
    text-transform: capitalize; }
  #empBasicDialogWindow label.empStatus {
    text-transform: capitalize;
    margin-bottom: 10px;
    display: inline-block; }
    #empBasicDialogWindow label.empStatus.clockedIn {
      color: #22a451; }
      #empBasicDialogWindow label.empStatus.clockedIn::before {
        height: 10px;
        width: 10px;
        background-color: #22a451;
        content: '';
        display: inline-block;
        margin-right: 5px; }
    #empBasicDialogWindow label.empStatus.clockedOut {
      color: #ff0000; }
      #empBasicDialogWindow label.empStatus.clockedOut::before {
        height: 10px;
        width: 10px;
        background-color: #ff0000;
        content: '';
        display: inline-block;
        margin-right: 5px; }
#empBasicDialogWindow .oj-flex-item:not(:last-child) {
  margin: 0 20px 10px 0; }
#empBasicDialogWindow #filmStripDiv {
  background-color: #F5F5F5; }
  #empBasicDialogWindow #filmStripDiv .dayHeader {
    background-color: #F5F5F5; }
  #empBasicDialogWindow #filmStripDiv .dayBody {
    border: 1px solid #000;
    padding: 5px; }
  #empBasicDialogWindow #filmStripDiv .oj-flex-item {
    margin: 0; }
#empBasicDialogWindow .oj-flex-item.currentWeekHeaderArea {
  margin: 0;
  background-color: #F5F5F5; }
  #empBasicDialogWindow .oj-flex-item.currentWeekHeaderArea .currentWeekHeader {
    color: #000; }
#empBasicDialogWindow .oj-flex-item.currentWeekHeader {
  margin: 0; }
#empBasicDialogWindow .currentWeekHeader {
  padding: 10px; }
#empBasicDialogWindow .weeklyTotalHeader {
  border-top: 3px solid #04b404; }
#empBasicDialogWindow .job1TotalHeader {
  border-top: 3px solid #fe9a2e; }
#empBasicDialogWindow .job2TotalHeader {
  border-top: 3px solid #2e2efe; }

@media only screen and (min-width: 768px) {
  .searchFieldWrap {
    margin: 15px; }

  .empImg {
    height: 50px;
    width: 50px; }

  .homeTitleWrap {
    background: url("images/header-icon-header.png");
    background-repeat: no-repeat;
    background-size: 223px 111px;
    background-position: 100% 30%;
    background-color: #004587;
    height: 110px; }

  .labor-managementTitleWrap {
    background: url("images/header-icon-labor.png");
    background-repeat: no-repeat;
    background-size: 223px 111px;
    background-position: 100% 30%;
    background-color: #8b3300;
    height: 110px; }

  .inventory-managementTitleWrap {
    background: url("images/header-icon-inventory.png");
    background-repeat: no-repeat;
    background-size: 223px 111px;
    background-position: 100% 30%;
    background-color: #79006C;
    height: 110px; }

  .gift-loyaltyTitleWrap {
    background: url("images/header-icon-giftloyalty.png");
    background-repeat: no-repeat;
    background-size: 223px 111px;
    background-position: 100% 30%;
    background-color: #410b6e;
    height: 110px; }

  .reports-analyticsTitleWrap {
    background: url("images/header-icon-reporting.png");
    background-repeat: no-repeat;
    background-size: 223px 111px;
    background-position: 100% 30%;
    background-color: #005C3A;
    height: 110px; }

  .enterpriseTitleWrap {
    background: url("images/header-icon-enterprise.png");
    background-repeat: no-repeat;
    background-size: 223px 111px;
    background-position: 100% 30%;
    background-color: #88000d;
    height: 110px; }

  .peopleTitleWrap {
    background: url("images/header-icon-people.png");
    background-repeat: no-repeat;
    background-size: 223px 111px;
    background-position: 100% 30%;
    background-color: #172777;
    height: 110px; }

  .profileTitleWrap {
    background: url("images/header-icon-people.png");
    background-repeat: no-repeat;
    background-size: 223px 111px;
    background-position: 100% 30%;
    background-color: #172777;
    height: 110px; }

  #homeTabs {
    margin-left: 10px;
    margin-top: 4px; }
    #homeTabs .oj-navigationlist-item.oj-focus {
      outline-color: transparent; }
    #homeTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) {
      background-color: #fff;
      border-color: #015FAB; }
      #homeTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) .oj-navigationlist-item-label {
        color: #004587; }
    #homeTabs .oj-navigationlist-item.oj-default {
      background-color: #015FAB; }
      #homeTabs .oj-navigationlist-item.oj-default .oj-navigationlist-item-label {
        color: #fff; }
    #homeTabs .oj-navigationlist-item.oj-selected {
      border-color: #015FAB; }
      #homeTabs .oj-navigationlist-item.oj-selected a .oj-navigationlist-item-label {
        font-weight: 300;
        color: #000; }

  #laborTabs {
    margin-left: 10px;
    margin-top: 4px; }
    #laborTabs .oj-navigationlist-item.oj-focus {
      outline-color: transparent; }
    #laborTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) {
      background-color: #fff;
      border-color: #AB4100; }
      #laborTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) .oj-navigationlist-item-label {
        color: #8b3300; }
    #laborTabs .oj-navigationlist-item.oj-default {
      background-color: #AB4100; }
      #laborTabs .oj-navigationlist-item.oj-default .oj-navigationlist-item-label {
        color: #fff; }
    #laborTabs .oj-navigationlist-item.oj-selected {
      border-color: #AB4100; }
      #laborTabs .oj-navigationlist-item.oj-selected a .oj-navigationlist-item-label {
        font-weight: 300;
        color: #000; }

  #inventoryTabs {
    margin-left: 10px;
    margin-top: 4px; }
    #inventoryTabs .oj-navigationlist-item.oj-focus {
      outline-color: transparent; }
    #inventoryTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) {
      background-color: #fff;
      border-color: #920083; }
      #inventoryTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) .oj-navigationlist-item-label {
        color: #79006C; }
    #inventoryTabs .oj-navigationlist-item.oj-default {
      background-color: #920083; }
      #inventoryTabs .oj-navigationlist-item.oj-default .oj-navigationlist-item-label {
        color: #fff; }
    #inventoryTabs .oj-navigationlist-item.oj-selected {
      border-color: #920083; }
      #inventoryTabs .oj-navigationlist-item.oj-selected a .oj-navigationlist-item-label {
        font-weight: 300;
        color: #000; }

  #gift-LoyaltyTabs {
    margin-left: 10px;
    margin-top: 4px; }
    #gift-LoyaltyTabs .oj-navigationlist-item.oj-focus {
      outline-color: transparent; }
    #gift-LoyaltyTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) {
      background-color: #fff;
      border-color: #501884; }
      #gift-LoyaltyTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) .oj-navigationlist-item-label {
        color: #410b6e; }
    #gift-LoyaltyTabs .oj-navigationlist-item.oj-default {
      background-color: #501884; }
      #gift-LoyaltyTabs .oj-navigationlist-item.oj-default .oj-navigationlist-item-label {
        color: #fff; }
    #gift-LoyaltyTabs .oj-navigationlist-item.oj-selected {
      border-color: #501884; }
      #gift-LoyaltyTabs .oj-navigationlist-item.oj-selected a .oj-navigationlist-item-label {
        font-weight: 300;
        color: #000; }

  #reportsAnalyticsTabs {
    margin-left: 10px;
    margin-top: 4px; }
    #reportsAnalyticsTabs .oj-navigationlist-item.oj-focus {
      outline-color: transparent; }
    #reportsAnalyticsTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) {
      background-color: #fff;
      border-color: #007B2B; }
      #reportsAnalyticsTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) .oj-navigationlist-item-label {
        color: #005C3A; }
    #reportsAnalyticsTabs .oj-navigationlist-item.oj-default {
      background-color: #007B2B; }
      #reportsAnalyticsTabs .oj-navigationlist-item.oj-default .oj-navigationlist-item-label {
        color: #fff; }
    #reportsAnalyticsTabs .oj-navigationlist-item.oj-selected {
      border-color: #007B2B; }
      #reportsAnalyticsTabs .oj-navigationlist-item.oj-selected a .oj-navigationlist-item-label {
        font-weight: 300;
        color: #000; }

  #enterpriseTabs {
    margin-left: 10px;
    margin-top: 4px; }
    #enterpriseTabs .oj-navigationlist-item.oj-focus {
      outline-color: transparent; }
    #enterpriseTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) {
      background-color: #fff;
      border-color: #ba0006; }
      #enterpriseTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) .oj-navigationlist-item-label {
        color: #88000d; }
    #enterpriseTabs .oj-navigationlist-item.oj-default {
      background-color: #ba0006; }
      #enterpriseTabs .oj-navigationlist-item.oj-default .oj-navigationlist-item-label {
        color: #fff; }
    #enterpriseTabs .oj-navigationlist-item.oj-selected {
      border-color: #ba0006; }
      #enterpriseTabs .oj-navigationlist-item.oj-selected a .oj-navigationlist-item-label {
        font-weight: 300;
        color: #000; }

  #peopleTabs {
    margin-left: 10px;
    margin-top: 4px; }
    #peopleTabs .oj-navigationlist-item.oj-focus {
      outline-color: transparent; }
    #peopleTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) {
      background-color: #fff;
      border-color: #5a68ad; }
      #peopleTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) .oj-navigationlist-item-label {
        color: #172777; }
    #peopleTabs .oj-navigationlist-item.oj-default {
      background-color: #5a68ad; }
      #peopleTabs .oj-navigationlist-item.oj-default .oj-navigationlist-item-label {
        color: #fff; }
    #peopleTabs .oj-navigationlist-item.oj-selected {
      border-color: #5a68ad; }
      #peopleTabs .oj-navigationlist-item.oj-selected a .oj-navigationlist-item-label {
        font-weight: 300;
        color: #000; }

  #profileTabs {
    margin-left: 10px;
    margin-top: 4px; }
    #profileTabs .oj-navigationlist-item.oj-focus {
      outline-color: transparent; }
    #profileTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) {
      background-color: #fff;
      border-color: #5a68ad; }
      #profileTabs .oj-navigationlist-item.oj-hover:not(.oj-selected) .oj-navigationlist-item-label {
        color: #172777; }
    #profileTabs .oj-navigationlist-item.oj-default {
      background-color: #5a68ad; }
      #profileTabs .oj-navigationlist-item.oj-default .oj-navigationlist-item-label {
        color: #fff; }
    #profileTabs .oj-navigationlist-item.oj-selected {
      border-color: #5a68ad; }
      #profileTabs .oj-navigationlist-item.oj-selected a .oj-navigationlist-item-label {
        font-weight: 300;
        color: #000; }

  .dialog-dimensions {
    width: 95%; }

  .oj-dialog-header h2 {
    padding: 0;
    margin: 5px 10px 0 10px; } }
.hamburger {
  margin-top: 4px; }

@media only screen and (min-width: 1024px) {
  .oj-web-applayout-footer {
    border: 1px solid #d2d2d2;
    background-color: #fff; }

  .appHeaderDesktop {
    padding: 0 10px; }

  #appHeaderDesktopNav {
    margin-top: 10px; }

  .dialog-dimensions {
    width: 85%;
    height: auto; }

  #appDrawer {
    background-color: #f5f5f5;
    width: 200px;
    outline-color: transparent; }
    #appDrawer .oj-navigationlist-element .oj-default .oj-navigationlist-item-label {
      color: #045fab; }
    #appDrawer .oj-navigationlist-element .oj-hover {
      background-color: #454545; }
      #appDrawer .oj-navigationlist-element .oj-hover .oj-navigationlist-item-label {
        color: #fff; }

  .inputFieldWrap {
    width: 60em; } }
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #homeNavList {
    background-color: #004587;
    height: 40px; }

  #homeTabs {
    border-top: 1px solid #015FAB; }
    #homeTabs .oj-navigationlist-item:not(.oj-disabled).oj-default {
      background-color: #004587; }
    #homeTabs .oj-navigationlist-item:not(.oj-disabled).oj-selected {
      background-color: #454545; }
    #homeTabs .oj-navigationlist-item:not(.oj-disabled).oj-hover {
      background-color: #454545; }

  #laborNavList {
    background-color: #8b3300;
    height: 40px; }

  #laborTabs {
    border-top: 1px solid #AB4100; }
    #laborTabs .oj-navigationlist-item:not(.oj-disabled).oj-default {
      background-color: #8b3300; }
    #laborTabs .oj-navigationlist-item:not(.oj-disabled).oj-selected {
      background-color: #454545; }
    #laborTabs .oj-navigationlist-item:not(.oj-disabled).oj-hover {
      background-color: #454545; }

  #inventoryNavList {
    background-color: #79006C;
    height: 40px; }

  #inventoryTabs {
    border-top: 1px solid #920083; }
    #inventoryTabs .oj-navigationlist-item:not(.oj-disabled).oj-default {
      background-color: #79006C; }
    #inventoryTabs .oj-navigationlist-item:not(.oj-disabled).oj-selected {
      background-color: #454545; }
    #inventoryTabs .oj-navigationlist-item:not(.oj-disabled).oj-hover {
      background-color: #454545; }

  #gift-loyaltyNavList {
    background-color: #410b6e;
    height: 40px; }

  #gift-loyaltyTabs {
    border-top: 1px solid #501884; }
    #gift-loyaltyTabs .oj-navigationlist-item:not(.oj-disabled).oj-default {
      background-color: #410b6e; }
    #gift-loyaltyTabs .oj-navigationlist-item:not(.oj-disabled).oj-selected {
      background-color: #454545; }
    #gift-loyaltyTabs .oj-navigationlist-item:not(.oj-disabled).oj-hover {
      background-color: #454545; }

  #enterpriseNavList {
    background-color: #88000d;
    height: 40px; }

  #enterpriseTabs {
    border-top: 1px solid #ba0006; }
    #enterpriseTabs .oj-navigationlist-item:not(.oj-disabled).oj-default {
      background-color: #88000d; }
    #enterpriseTabs .oj-navigationlist-item:not(.oj-disabled).oj-selected {
      background-color: #454545; }
    #enterpriseTabs .oj-navigationlist-item:not(.oj-disabled).oj-hover {
      background-color: #454545; }

  #reports-analyticsNavList {
    background-color: #005C3A;
    height: 40px; }

  #reports-analyticsTabs {
    border-top: 1px solid #007B2B; }
    #reports-analyticsTabs .oj-navigationlist-item:not(.oj-disabled).oj-default {
      background-color: #005C3A; }
    #reports-analyticsTabs .oj-navigationlist-item:not(.oj-disabled).oj-selected {
      background-color: #454545; }
    #reports-analyticsTabs .oj-navigationlist-item:not(.oj-disabled).oj-hover {
      background-color: #454545; }

  #peopleNavList {
    background-color: #172777;
    height: 40px; }

  #peopleTabs {
    border-top: 1px solid #1F348F; }
    #peopleTabs .oj-navigationlist-item:not(.oj-disabled).oj-default {
      background-color: #172777; }
    #peopleTabs .oj-navigationlist-item:not(.oj-disabled).oj-selected {
      background-color: #454545; }
    #peopleTabs .oj-navigationlist-item:not(.oj-disabled).oj-hover {
      background-color: #454545; }

  #profileNavList {
    background-color: #172777;
    height: 40px; }

  #profileTabs {
    border-top: 1px solid #1F348F; }
    #profileTabs .oj-navigationlist-item:not(.oj-disabled).oj-default {
      background-color: #172777; }
    #profileTabs .oj-navigationlist-item:not(.oj-disabled).oj-selected {
      background-color: #454545; }
    #profileTabs .oj-navigationlist-item:not(.oj-disabled).oj-hover {
      background-color: #454545; } }
#loginPage * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
#loginPage a:visited {
  text-decoration: none;
  color: #0572ce; }
#loginPage a:link {
  color: #0572ce;
  text-decoration: none; }
#loginPage a.buttonclass {
  display: inline-block;
  padding: 10px 0;
  margin: 5px 0;
  height: 40px;
  width: 100%;
  min-width: 100px !important;
  font-family: Helvetica Neue, helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #e4e8ea;
  border: 1px solid #c4ced7;
  border-radius: 2px;
  text-align: center; }
#loginPage a.btn_primary {
  color: #fff;
  background-color: #0572ce; }
#loginPage h1 {
  margin: 0px;
  font-family: Helvetica Neue Bold, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  letter-spacing: 1px; }
#loginPage h2 {
  display: none; }
#loginPage .topbackground {
  height: 165px;
  background-color: #f7f7f7;
  padding-top: 15px;
  border-bottom: 20px solid #0572ce; }
#loginPage .myMicrosLogo-container {
  margin-top: -80px; }
#loginPage .myMicrosLogo-bottom {
  opacity: 0.7;
  display: block;
  margin: -119px auto 0 auto; }
#loginPage .myMicrosLogo-top {
  display: block;
  margin: 0 auto; }
#loginPage .container {
  text-align: center; }
#loginPage .formcontainer {
  padding: 10px; }
#loginPage .logo_container {
  font-family: Helvetica Neue Light;
  font-size: 20px;
  font-weight: 500; }
#loginPage .logo {
  vertical-align: baseline;
  max-width: 115px; }
#loginPage .textlg {
  font-family: Helvetica Neue Light;
  font-size: 15px;
  color: #666;
  font-weight: 400; }
#loginPage #messagesDivId {
  display: none; }
#loginPage #loginFrom input {
  height: 30px;
  width: 100%;
  margin: 7px 0;
  font-size: 16px;
  padding: 5px; }
#loginPage .fgp-container {
  text-align: left; }
#loginPage .footer {
  display: block;
  padding: 10px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  text-align: left; }
#loginPage .icon {
  vertical-align: middle;
  border: none;
  margin: 0 3px; }
#loginPage .hr {
  width: 100%;
  height: 1px;
  background-color: #d5d5d7;
  margin-top: 15px;
  margin-bottom: 15px; }
#loginPage .lowerbar {
  display: none; }
@media only screen and (min-width: 768px) {
  #loginPage .container {
    margin: 0 auto;
    width: 85%;
    max-width: 960px;
    text-align: left; }
  #loginPage .body-container, #loginPage .desktopLogo {
    float: left;
    width: 50%;
    display: block; }
  #loginPage a.btn_primary {
    max-width: 150px; }
  #loginPage .textlg {
    font-size: 20px;
    color: #fff;
    padding-top: 40px; }
  #loginPage h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Helvetica Neue Light;
    font-size: 24px;
    line-height: 44px;
    font-weight: 600;
    letter-spacing: 1px; }
  #loginPage h2 {
    display: block;
    font-family: Helvetica Neue Light;
    font-size: 18px;
    line-height: 36px;
    font-weight: 600;
    text-transform: uppercase; }
  #loginPage .myMicrosLogo-container {
    display: none; }
  #loginPage .logo_container {
    font-size: 20px; }
  #loginPage .logo {
    max-width: 190px; }
  #loginPage #messagesDivId {
    display: block;
    color: red;
    font-weight: bold; }
  #loginPage .formcontainer {
    padding: 0px;
    margin-top: 45px; }
  #loginPage #loginFrom {
    max-width: 300px; }
  #loginPage .lowerbar {
    border-bottom: 54px solid #0572ce;
    height: 322px;
    position: absolute;
    width: 100%;
    z-index: -1;
    display: block;
    background-color: #f7f7f7; }
  #loginPage .topbackground {
    border-bottom: 0;
    background-color: transparent;
    height: auto;
    margin-top: 90px; }
  #loginPage .circle_1 {
    position: relative;
    z-index: 2;
    width: 256px;
    height: 256px;
    margin-top: 100px;
    background-color: white;
    background-image: url("images/icon.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  #loginPage .circle_2 {
    position: relative;
    z-index: 1;
    width: 265px;
    height: 265px;
    margin-top: -200px;
    margin-left: 20px;
    background-color: #c5d9ee;
    opacity: 0.5;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  #loginPage .circle_3 {
    position: relative;
    z-index: -1;
    width: 207px;
    height: 207px;
    margin-top: -234px;
    margin-left: -37px;
    background-color: #c5d9ee;
    opacity: 0.75;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  #loginPage .footer {
    text-align: right; } }

/*# sourceMappingURL=oj-override.css.map */
