<!--Linked to people.js through modules and template bindings-->

<div class="searchWindow">
    <form data-bind="submit: $parent.filteredAllPeople">

            <div class="searchFieldWrap">
                  <div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
                                  <div id="c1"   data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">
                                      <label class="searchTitleBar">Search</label>
                                      <div>
                <div id="simplesearch" class="simplesearchWrap" data-bind="visible:$parent.visibleAdvanceSearch()===false">
                    <input class="inputField"
                           placeholder="search for active names, stores, jobs"
                           id="firstname" data-bind="event:{'keydown':$parent.preventDefaultFunc},value: $parent.firstNameSearch, ojComponent: {component: 'ojInputText', rootAttributes:{class:'inputFieldWrap'}}"/>
                    <input class="oj-button-primary" id="submit" type="submit"
                           data-bind="ojComponent: {component: 'ojButton',
                    label: 'search', icons: { start: 'fa fa-search'} }" />
<!--                    <input id="reset" type="reset" data-bind="click: resetData, ojComponent: {component: 'ojButton', label: 'Clear'}" />-->
                    <button id="hidesimple"
                           data-bind="click: $parent.hideSimpleSearch, ojComponent: {component: 'ojButton', icons: {start: 'fa fa-search'}, label: 'adv. search'}" />

                </div>

                <div id="advanceseach" data-bind="visible:$parent.visibleAdvanceSearch">
    <!--                            <div class="oj-flex-item" style="background-color: #fffff; padding: 10px; ">
                        <span style="font-style:bold">Advance Search</span>
                    </div>-->

                        <div class="firstAdvSearchArea">
                            <div>
                                <label for="firstname">FIRST NAME</label>
                                <input id="firstname" data-bind="value: $parent.advFirstNameSearch, ojComponent: {component: 'ojInputText'}"/>

                                <label for="lastname">LAST NAME</label>
                                <input id="lastname" data-bind="value: $parent.lastNameSearch,ojComponent: {component: 'ojInputText'}">

                            </div>

                            <div>
                                <label for="homestore">HOME STORE ASSIGNMENT</label>
                                <input placeholder="" id="homestore" data-bind="value: $parent.homeStoreSearch, ojComponent: {component: 'ojInputText'}"/>

                                <label for="lastname">AWAY STORE(S)</label>
                                <input id="awaystore" data-bind="value: $parent.awayStoreSearch,ojComponent: {component: 'ojInputText'}">

                            </div>

                            <div>
                                <label for="job">JOB</label>
                                <input placeholder="" id="job" data-bind="value: $parent.jobSearch, ojComponent: {component: 'ojInputText'}"/>

                                <label for="payroll">PAYROLL ID</label>
                                <input id="payroll" data-bind="value: $parent.payrollIdSearch,ojComponent: {component: 'ojInputText'}">

                            </div>
                        </div>
                        <div class="accordionRow">
                            <div id="employee-search-accordion" data-bind="ojComponent: {component: 'ojAccordion'}">
                                <div id="c1">
                                    <label for="status">STATUS</label>
                                    <div>
                                        <div id="statuscheckboxSetId" aria-labelledby="mainlabelid" data-bind="ojComponent: {
                                                              component: 'ojCheckboxset',
                                                              invalidComponentTracker: $parent.statusTracker,
                                                              value: $parent.currentStatus}">
                                            <span class="oj-choice-row">
                                                <input id="active" type="checkbox" value="Active" checked>
                                                <label for="active">Active</label>
                                            </span>
                                            <span class="oj-choice-row">
                                                <input id="inactivesuspended" type="checkbox" value="Inactive-Suspended"  checked>
                                                <label for="inactivesuspended">Inactive-Suspended</label>
                                            </span>
                                            <span class="oj-choice-row">
                                                <input id="inactiveterm" type="checkbox" value="Inactive-Terminated"  checked>
                                                <label for="inactiveterm">Inactive-Terminated</label>
                                            </span>
                                            <span class="oj-choice-row">
                                                <input id="inactiveterm" type="checkbox" value="Inactive-Leave"  checked>
                                                <label for="inactiveterm">Inactive-Leave Of Absence</label>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div id="c2">
                                    <label for="status">MORE OPTIONS</label>
                                    <div>
                                        <div id="morecheckboxSetId" aria-labelledby="mainlabelid" data-bind="ojComponent: {
                                                              component: 'ojCheckboxset',
                                                              value: $parent.currentMoreOptions}">
                                            <span class="oj-choice-row">
                                                <input id="minor" type="checkbox" value="Minor" checked data-bind="help: {definition: $parent.helpDef()}">
                                                <label for="minor">Minor</label>
                                            </span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="advancebtn">
                                <button id="hideadvance"
                                        data-bind="click: $parent.hideAdvanceSearch,
                                        ojComponent: {component: 'ojButton', label: 'default search'}">
                                </button>

                                <div class="oj-sm-float-end">
                                    <input class="oj-button-primary" id="advsubmit" type="submit"
                                           data-bind="click:$parent.advanceSearch,ojComponent: {component: 'ojButton',
                                            label: 'search', icons: { start: 'fa fa-search'} }" />

<!--
                                    <button id="advreset"
                                            data-bind="click: advResetData,
                                        ojComponent: {component: 'ojButton', label: 'Clear'}" />
-->
                                </div>

                            </div>
                        </div>
        </div>
                                      </div>
                      </div>
                </div>
            </div>
    </form>
</div>

<div class="searchWindow"  data-bind="visible: $parent.visibleSearchResult">

    <div class="oj-flex">
        <h3>Search Results</h3>
    </div>
    <div class="oj-flex">
        <div class="oj-flex-item">
              <ul id="listview" data-bind="ojComponent: {component: 'ojListView',
                data: $parent.listViewDataSource,
                item: {template: 'peoplelist_template'},
                selectionMode: 'single',
                currentItem: '100',
                selection: ['100'],
                ready: $parent.handleReady, 
                destroy: $parent.handleDestroy,
                scrollPolicyOptions: {fetchSize: 10}}">
                </ul>
                <!-- Hidden Links for swipe -->
                <ui id="itemMenu" style="display:none" aria-label="Swipe Actions" data-bind="ojComponent: {component: 'ojMenu', 
                select: $parent.handleMenuItemSelect}">
                    <li id="tag"><a href="#">Tag</a></li>
                    <li id="delete"><a href="#">Delete</a></li>
                </ul>
         </div>
    </div>

    <div class="oj-flex">
         <div data-bind="ojComponent: {component: 'ojPagingControl',
                                data: $parent.listViewDataSource, pageSize:10}"></div>
    </div>
    <script type="text/html" id="peoplelist_template">
                 <li data-bind="attr: {id: $data['name']}", class="item-marker">
                    <!-- Offcanvas swipe menu -->
                        <div class="oj-offcanvas-outer-wrapper">
                          <div class="oj-offcanvas-inner-wrapper">

                                <div class="oj-flex">
                                     <div class="oj-flex-item empImgCol">
                                         <span class="inActiveStatusCheck" data-bind="visible: status == 'Inactive-Terminated'"></span>
                                         <span class="activeStatusCheck" data-bind="visible: status == 'Active'"></span>
                                         <img class="empImg" data-bind="attr: {src: $parents[1].getPhoto($data['empId'])}"/>
                                     </div>
                                     <div class="oj-flex-item">
                                         <div>
                                             <strong><span class="header" data-bind="text: firstName + ' ' + lastName"></span></strong>
                                         </div>
                                         <div>
                                             <span data-bind="text: homeStore"></span>

                                         </div>
                                         <div>
                                             <span data-bind="text: $parents[1].getBasicFormattedDate(hireDate)"></span>
                                         </div>
                                         <div>
                                             <div class="employeeStatusListView"
                                                  data-bind="css:{empStatusInactive: status == 'Inactive-Terminated', empStatusActive: status == 'Active'}">
                                                 <span data-bind="css:{'fa-times-circle': status == 'Inactive-Terminated', 'fa-check-circle': status == 'Active'}"></span> <span data-bind="text: status"></span></div>
                                         </div>
                                     </div>
                               
                                 
                                    <div tabIndex="-1" data-bind="attr: {id: 'second_toolbar_'+$data['name']}" class="oj-offcanvas-end" style="width:150px">
                                        <div data-bind="click: $parents[1].empBasicViewOpen" class="oj-swipetoreveal-more">
                                            <div class="oj-flex-bar" style="height:100%">
                                                <div class="oj-flex-bar-center-absolute">
                                                    <div class="oj-flex oj-sm-flex-direction-column">
                                                        <div title=".demo-library-icon-24" role="img" class="oj-flex-item demo-library-icon-24 demo-icon-font-24"></div>
                                                        <div style="padding-top: 10px" class="oj-flex-item" >
                                                            <span >quick view</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-bind="click: $parents[1].empHireStatusOpen" class="oj-swipetoreveal-flag">
                                            <div class="oj-flex-bar" style="height:100%">
                                                <div class="oj-flex-bar-center-absolute">
                                                    <div class="oj-flex oj-sm-flex-direction-column">
                                                        <div title=".demo-library-icon-24" role="img" class="oj-flex-item demo-library-icon-24 demo-icon-font-24"></div>
                                                        <div style="padding-top: 10px" class="oj-flex-item">status</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                          </div>
                        </div>
                    <!-- end of offcanvas swipe -->

                 </li>
             </script>


<div data-bind="template: {name: 'labor-management/dialogwindow/employee-hirestatus-modal-small'}"></div>
 <div data-bind="template: {name: 'labor-management/dialogwindow/employee-basicinfo-modal-small'}"></div>
 
