<!--Not being used, only use when mobile template is very different from ipad/desktop template-->
<div style="display:none;" id="empDialog" title="Edit Employee Information" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', dragAffordance: 'none',
            rootAttributes: {style: 'width: 375px; height: 600px;'},
            'position': {'my': 'right center', 'at': 'left center'}}">
    <div class="oj-dialog-body">
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">First Name</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.firstName}" />
            </div>

            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Last Name</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.lastName}" />
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">POS Check Name</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.posCheckName}" />
            </div>

             <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Language</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.language}" />
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Time Zone</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.timeZone}" />
            </div>

            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Ethnicity</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.ethnicity}" />
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Gender</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.gender}" />
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-section-label">Veteran Info</div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Veteran Status</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.veteranStatus}" />
            </div>

            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Vietnam Era</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.vietnamEra}" />
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Other Eligible</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.otherEligible}" />
            </div>

            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Other Protected</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.otherProtected}" />
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Armed Forces Service Medal</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.armedForcesServiceMedal}" />
            </div>

            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Recently Separated</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.recentlySeparated}" />
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Special Disabled</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.specialDisabled}" />
            </div>

            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Registered Disabled Number</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.registeredDisabledNumber}" />
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Discharge Date</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.dischargeDate}" />
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-section-label">Contact Info</div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Email</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.email}" />
            </div>

            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Phone</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.phone}" />
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Other Phone Number</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.mobile}" />
            </div>

            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Fax Number</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.faxNumber}" />
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Address</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.address1}" />
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.address2}" />
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.city}" />
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.state}" />
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.postal}" />
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.country}" />
            </div>

            <div class="oj-col oj-sm-12 oj-md-5 oj-lg-3 dialog-field-label">Emergency Contact</div>
            <div class="oj-col oj-sm-12 oj-md-7 oj-lg-3">
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.emergencyName}" />
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.relationship}" />
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.emergencyAddress}" />
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.emergencyCity}" />
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.emergencyState}" />
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.emergencyZipCode}" />
                <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.emergencyPhone}" />
            </div>
        </div>

        <button id="submitButton" class="basic-btn" data-bind="click: function(){$parent.handleClose('#empDialog')}">Save</button>

    </div>
