@import "oj/v2.0.0/alta/_oj.alta.variables.scss"; 

@font-face {
    font-family: 'Helvetica Neue Medium';
//    src: url('fontname.eot');
//    src: url('fontname.eot?#iefix') format('embedded-opentype'),
//         url('fontname.woff') format('woff'),
         src: url('fonts/HelveticaNeue-Medium.ttf') format('truetype');
//         url('fontname.svg#fontname') format('svg');
}
@font-face {
    font-family: 'Helvetica Neue Light';
//    src: url('fontname.eot');
//    src: url('fontname.eot?#iefix') format('embedded-opentype'),
//         url('fontname.woff') format('woff'),
         src: url('fonts/HelveticaNeue-Light.ttf') format('truetype');
//         url('fontname.svg#fontname') format('svg');
}
 
// background colors 
// ---------------------------------
$white: #fff;
$offWhite: #f7f8f9;
$black: #000;

//New Colors
$darkGray: #37424C;
$medGray1: #6E8598;
$medGray2: #919fAB;
$gray: #AFBAC5;
$lightGray1: #CFDCE8;
$lightGray2: #F5F5F5;

$darkBlue: #002d66;
$medBlue1: #004587;
$medBlue2: #015FAB;
$lightBlue: #0572CE;

$darkBrown: #6F2900;
$medBrown1: #8b3300;
$medBrown2: #AB4100;
$lightBrown: #be4800;

$darkGreen: #004A2E;
$medGreen1: #005C3A;
$medGreen2: #007B2B;
$lightGreen: #1A8841;

$darkRed: #6D000A;
$medRed1: #88000d;
$medRed2: #ba0006;
$lightRed: #e4001e;

$darkViolet: #5B004F;
$medViolet1: #79006C;
$medViolet2: #920083;
$lightViolet: #A90083;

$darkPurple: #300050;
$medPurple1: #410b6e;
$medPurple2: #501884;
$lightPurple: #754b9a;

$darkGrayBlue: #101356;
$medGrayBlue1: #172777;
$medGrayBlue2: #1F348F;
$lightGrayBlue: #5a68ad;

$darkMustard: #8D4300;
$medMustard1: #905200;
$medMustard2: #926200;
$lightMustard: #947100;


//Old Colors
$primaryLightBlue: #346fd4;
$secondaryLightBlue: #84bbe6;
$tertiaryLightBlue: #045fab;

$primaryOrange: #EA5801;
$secondaryOrange: #EE7934;
$tertiaryOrange: #C74B01;

$primaryGreen: #3E9850;
$secondaryGreen: #65AD73;
$tertiaryGreen: #358144;

$primaryPurple: #4C1889;
$secondaryPurple: #7046A1;
$tertiaryPurple: #411475;

$primaryBlueGray: #596D86;
$secondaryBlueGray: #7A8A9E;
$tertiaryBlueGray: #4C5D72;

$primaryDarkGray:#2D3142;
$secondaryDarkGray: #575A68;
$tertiaryDarkGray: #262A38;

$primaryLightGrayBlue: #507AA0;
$secondaryLightGrayBlue: #6A8EAE;

$tertiaryLightGreen: #446888;

$lightGrayOld: #f5f5f5;
$lightGrayOld2: #e8eef4;
$lightGrayOld3: #d5d7d6;
$lightGrayOld4: #d2d2d2;
$mediumGray: #696e72;
$darkGrayOld: #454545;
$oliveGreen: #88b300;

//Offcanvas
$offCanvasGray: #454545;
$offCanvasGrayLi: #f5f5f5;
$sideNavBckColor:#f5f5f5;
$sideNavLinkHover: #454545;
$sideNavLinksBlue: #045fab;
/*****Section Variables*****/
// font family 

$fontFamily: 'Helvetica Neue Light', Arial, sans-serif;

//Text
$BodyTextColor:       $black; 
$headerTextColor:     $white;

//Image Variables
//HEADER Navigation custom icons and custom graphics
$headerBGLogo: $imageDir + 'oracle_logo_sm_black.png';
$headerUserIcon: $imageDir + 'default-user-icon.png';

//Top Navigation Default Icons & Header Background 
$homeIconDefault: $imageDir + 'icon/home-default.png';
$homeIconHover: $imageDir + 'icon/home-hover.png';
$homeBckImg: $imageDir + 'header-icon-header.png';
$laborIconDefault: $imageDir + 'icon/labor-default.png';
$laborIconHover: $imageDir + 'icon/labor-hover.png';
$laborBckImg: $imageDir + 'header-icon-labor.png';
$inventoryIconDefault: $imageDir + 'icon/inventory-default.png';
$inventoryIconHover: $imageDir + 'icon/inventory-hover.png';
$inventoryBckImg: $imageDir + 'header-icon-inventory.png';
$giftLoyaltyIconDefault: $imageDir + 'icon/gift-loyalty-default.png';
$giftLoyaltyIconHover: $imageDir + 'icon/gift-loyalty-hover.png';
$giftLoyaltyBckImg: $imageDir + 'header-icon-giftloyalty.png';
$reportingAnalyticsIconDefault: $imageDir + 'icon/reporting-analytics-default.png';
$reportingAnalyticsIconHover: $imageDir + 'icon/reporting-analytics-hover.png';
$reportingAnalyticsBckImg: $imageDir + 'header-icon-reporting.png';
$enterpriseIconDefault: $imageDir + 'icon/enterprise-default.png';
$enterpriseIconHover: $imageDir + 'icon/enterprise-hover.png';
$enterpriseBckImg: $imageDir + 'header-icon-enterprise.png';
$peopleIconDefault: $imageDir + 'icon/people-default.png';
$peopleIconHover: $imageDir + 'icon/people-hover.png';
$peopleBckImg: $imageDir + 'header-icon-people.png';

//Dialog
$dialogTitleText: $white;
$dialogBg: $white;
$dialogAccentHover: $offWhite;
$dialogAccentText: $white;
$dialogIconColor: $oliveGreen;
$alertMsgBckColor: $lightGray2;

//Off Canvas Variables
$topOffCanvasBckg: $darkGrayOld;
$topOffCanvasTabBckg: $mediumGray;
$topOffCanvasTabSelected: $darkGrayOld;
$topOffCanvasTabTextColor: $white;
$topOffCanvasAnalyticsBckgColor: $white;
$topOffCanvasAnalyticsText: $black;

//Off Canvas Left
$leftOffCanvasDesktopBckg: $sideNavBckColor;
$leftOffCanvasDesktopText: $sideNavLinksBlue;

//Header Variables
$headerBgColor: $lightGray2;
$globalStoreLinkIconBorder: $lightGrayOld3;
$globalStoreLinkIcon: $darkGrayOld;
$globalStoreLinkIconHover: $white;

$globalStoreLinkIconBckg: $white;
$globalStoreLinkIconHoverBckg: $darkGrayOld;


//Navigation Styles
$mobileNavTextColor:            $white;
$navigationListDesktopBgSelected:          $white;
$navigationListDesktopTextColorSelected:   $black;

$navListSelected: $darkGrayOld;
$tabActiveTxtColor: $black; 
$tabHoverBckgColor: $white;
//Offcanvas Styles
$sideNavLinkColor:$sideNavLinksBlue;
$sideNavLinkColorHover:$white;
$sideNavLinkBckBgHover: $sideNavLinkHover;
$sideNavLinkBckColor:$sideNavBckColor;

//Page Variables
$mainAreaBckgColor: $white;
$mainAreaBorderColor: $lightGrayOld2;

$homeBckColor: $primaryLightBlue;
$homeMobileTabBckColor: $primaryLightBlue;
$homeMobileTabAccentColor: $secondaryLightBlue;
$homeMainTabBckColor: $primaryLightBlue;
$homeSubTabBckColor: $secondaryLightBlue;
$homeTabHoverText: $primaryLightBlue;
$homeDialogHeaderColor: $primaryLightBlue;
$homeDialogAccentColor: $tertiaryLightBlue;


$laborBckColor: $primaryOrange;
$laborMobileTabBckColor: $primaryOrange;
$laborMobileTabAccentColor: $secondaryOrange;
$laborMainTabBckColor: $primaryOrange;
$laborSubTabBckColor: $secondaryOrange;
$laborTabHoverText: $primaryOrange;
$laborDialogHeaderColor: $primaryOrange;
$laborDialogAccentColor: $tertiaryOrange;

$inventoryBckColor: $primaryGreen;
$inventoryMobileTabBckColor: $primaryGreen;
$inventoryMobileTabAccentColor: $secondaryGreen;
$inventoryMainTabBckColor: $primaryGreen;
$inventorySubTabBckColor: $secondaryGreen;
$inventoryTabHoverText: $primaryGreen;
$inventoryDialogHeaderColor: $primaryGreen;
$inventoryDialogAccentColor: $tertiaryGreen;

$giftLoyaltyBckColor: $primaryPurple;
$giftLoyaltyMobileTabBckColor: $primaryPurple;
$giftLoyaltyMobileTabAccentColor: $secondaryPurple;
$giftLoyaltyMainTabBckColor: $primaryPurple;
$giftLoyaltySubTabBckColor: $secondaryPurple;
$giftLoyaltyTabHoverText: $primaryPurple;
$giftLoyaltyDialogHeaderColor: $primaryPurple;
$giftLoyaltyDialogAccentColor: $tertiaryPurple;

$reportsAnalyticsBckColor: $primaryBlueGray;
$reportsAnalyticsMobileTabBckColor: $primaryBlueGray;
$reportsAnalyticsMobileTabAccentColor: $secondaryBlueGray;
$reportsAnalyticsMainTabBckColor: $primaryBlueGray;
$reportsAnalyticsSubTabBckColor: $secondaryBlueGray;
$reportsAnalyticsTabHoverText: $primaryBlueGray;
$reportsAnalyticsDialogHeaderColor: $primaryBlueGray;
$reportsAnalyticsDialogAccentColor: $tertiaryBlueGray;

$enterpriseBckColor: $primaryDarkGray;
$enterpriseMobileTabBckColor: $primaryDarkGray;
$enterpriseMobileTabAccentColor: $secondaryDarkGray;
$enterpriseMainTabBckColor: $primaryDarkGray;
$enterpriseSubTabBckColor: $secondaryDarkGray;
$enterpriseTabHoverText: $primaryDarkGray;
$enterpriseDialogHeaderColor: $primaryDarkGray;
$enterpriseDialogAccentColor: $tertiaryDarkGray;

$peopleBckColor: $medGrayBlue1;
$peopleMobileTabBckColor: $medGrayBlue1;
$peopleMobileTabAccentColor: $medGrayBlue2;
$peopleMainTabBckColor: $medGrayBlue1;
$peopleSubTabBckColor: $lightGrayBlue;
$peopleTabHoverText: $medGrayBlue1;
$peopleDialogHeaderColor: $medGrayBlue1;
$peopleDialogAccentColor: $tertiaryLightGreen;

//Employee Search
$searchTitleBarBckg: $lightGray2;
$searchWrapBorder: $lightGray2;
$inputFieldBorder: $lightGray2;
$tableHeaderBckg: $darkGray;
$formBorders: $gray;
$oddEmpTableBckg: $lightGray2;


//Footer Variables
$footerBorderColor: $lightGrayOld4;
$footerBckgColor: $white;

// MOBILE FIRST SETUP
// Custom Override CSS
// HEADER CSS 

html{
    height: 100vh;
}
html,body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-size:14px;
}
body{
    background-image:none;
    background-color:$white;
    color: $BodyTextColor;
}
a{
    cursor: pointer;
}

//General Header Tags
h1, h2{
    font-family: 'Helvetica Neue Light';
    font-weight: normal;
    color: $headerTextColor;
    padding-left: 15px;
}
h1.pageTitle{
    font-size: 36px;
}

/*OJET Overwrites*/
.oj-navigationlist-horizontal .oj-navigationlist-element, .oj-navigationlist-icon-only .oj-navigationlist-element{
    margin:0;
}

.oj-navigationlist-item {
    border-width:0 !important;
}


/*Font Awesome Overwrites*/
.arrowLocation.fa-location-arrow{
    font-size:14px;
}
.fa-chevron-down, .fa-chevron-up{
    font-size:14px;
}
/*Page layouts*/
//Top Off Canvas
#topDrawer{
    background-color: $topOffCanvasTabBckg;
    outline-color:transparent;
    &:active{
        outline-color:transparent;
    }
    .oj-tabs-title{
        color: $topOffCanvasTabTextColor;
        text-decoration:none !important;
    }
    #offCanvasScope{
        height:225px;
        .analyticsWrapper{
            background-color: $topOffCanvasAnalyticsBckgColor;
            display:block;
            float:left;
            margin:0 10px;
            padding:10px;
            color: $topOffCanvasAnalyticsText;
        }
        .oj-tabs-tab.oj-selected, .oj-tabs-tab.oj-active .oj-tabs-close-icon, .oj-tabs-tab.oj-active .oj-tabs-anchor{
            border:0;
            background-color:$topOffCanvasTabSelected;
            .oj-tabs-tab-content{
                border:0;
            }
        }
        .oj-tabs-vertical{
            height:100%;
            .oj-tabs-selected{
                border-radius:0;
                border:0;
                background-color:$topOffCanvasTabSelected;
                color:$topOffCanvasTabTextColor;
            }
        }
    }
}
.oj-web-applayout-page{
    overflow:auto;
}
.oj-web-applayout-header > div, .oj-web-applayout-content{
    padding:0;
}

.oj-web-applayout-content{
    background-color: $mainAreaBckgColor;
}
.oj-web-applayout-footer{
    text-align:center;
    border:0;
}

//Dialog
.oj-dialog, .oj-dialog-body{
    background: $dialogBg;
}
.oj-dialog{
    .fa{
        font-size:12px;
    }
}
html:not([dir="rtl"]) .oj-dialog-title{
    padding:0;
}
.dialogToolBar{
    float:right;
}
.oj-dialog-header-close-wrapper{
    width:40px;
    height:35px;
    margin:0;
    padding:0;
    &.oj-active .oj-dialog-close-icon {
      background-color: $dialogAccentHover;
    }
}
.oj-dialog-close-icon{
    color: $dialogAccentText;
    line-height: 35px;
    width:40px;
    border:0;
    border-radius:0;
}
.oj-dialog-header{
    padding:0px;
   
    h2{
        color: $dialogTitleText;
        font-size:18px;
    }
    .dialogHeaderText{
        display:inline-block;
        margin:3px;
    }
    img{
        vertical-align: middle;
    }
}

.oj-dialog-body {
    font-size:15px;
    .fa-check{
        color: $dialogIconColor;
    }
}

.alertMsgWrap{
    text-align: center;
    padding: 10px 0px;
    margin: 20px 0;
    background-color: $alertMsgBckColor;
    border-top: 10px solid $dialogIconColor;
    min-height: 40px;
    .alertMsgText{
        width:60%;
        margin:0 auto;
    }
}

/*Dialog window*/
@each $section, $primaryColor, $secondaryColor in (home, $homeDialogHeaderColor, $homeDialogAccentColor), 
                            (labor, $laborDialogHeaderColor, $laborDialogAccentColor),
                            (inventory, $inventoryDialogHeaderColor, $inventoryDialogAccentColor),
                            (gift-loyalty, $giftLoyaltyDialogHeaderColor, $giftLoyaltyDialogAccentColor),
                            (reports-analytics, $reportsAnalyticsDialogHeaderColor, $reportsAnalyticsDialogAccentColor),
                            (enterprise, $enterpriseDialogHeaderColor, $enterpriseDialogAccentColor),
                            (people, $peopleDialogHeaderColor, $peopleDialogAccentColor),
                            (empBasic, $peopleDialogHeaderColor, $peopleDialogAccentColor),
                            (profile, $peopleDialogHeaderColor, $peopleDialogAccentColor){
                            //Dialog window Per Section    
                            #ojDialogWrapper-#{$section}DialogWindow{
                                    .oj-dialog-header{
                                        background-color:$primaryColor;
                                        .oj-dialog-header-close-wrapper{
                                            background-color: $secondaryColor; 
                                            &.oj-hover{
                                                .oj-dialog-close-icon{
                                                    color:$secondaryColor;
                                                }
                                            }
                                        }
                                    }
                                    .dialogSendBtn{
                                        &.oj-button.oj-button-full-chrome{
                                            &.oj-default, &.oj-hover, &.oj-focus-only{
                                                background-color:$primaryColor;
                                            }
                                        }
                                    }
                                }
                                
                            }
/*Header*/
.appHeader {
    background-color: $headerBgColor;
}
.appHeaderMobile {
    padding-left: 10px;
}
.appHeaderLogoWrap{
    .appHeaderName {
        display: inline-block;
    }
}
.appHeaderLogo {
    background-image: url($headerBGLogo);
    background-repeat: no-repeat;
    background-position: 5px;
    width: 140px;
    height: 22px;
    display: inline-block;
    vertical-align: bottom;
    margin-top:10px;
}
#userMenu{
    float: right;
    display: block;
    background-image: none;
    background-color: $headerBgColor;
    height: 100%;
    border:0px;
    line-height: 40px;
    border-radius: 0;
}
.globalStoreLink{
    @extend #userMenu;
    border:1px solid $globalStoreLinkIconBorder;
    border-width:0 1px 1px 1px;
    padding:0 15px;
    color: $globalStoreLinkIcon;
    background-color: $globalStoreLinkIconBckg;
    .fa{
        color: $globalStoreLinkIcon;
    }

    &.active, &.hover, &:active, &:hover{
        font-weight:normal;
        color: $globalStoreLinkIconHover;
        background-color: $globalStoreLinkIconHoverBckg;
        .fa{
            color: $globalStoreLinkIconHover;
        }
    }
}

.mobileTitle{
    color: $mobileNavTextColor;
    font-size:16px;
}

.mobileSubNav{
    @extend .mobileTitle;
    display:block;
}
.mobileNavTitleArea{
    padding: 0.8571rem;
}

.customUserIcon{
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 1;
    overflow: hidden;
    direction: ltr;
    text-align: center;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    &:before{
        content: url($headerUserIcon);
    }
}
//profile header overwrite
#headerTemplate .profileTitleWrap {
    display: none;
}
@each $section, $color, $headerBckImg in (home, $homeBckColor, $homeBckImg),
                            (labor-management, $laborBckColor, $laborBckImg),
                            (inventory-management, $inventoryBckColor, $inventoryBckImg),
                            (gift-loyalty, $giftLoyaltyBckColor, $giftLoyaltyBckImg),
                            (reports-analytics, $reportsAnalyticsBckColor, $reportingAnalyticsBckImg),
                            (enterprise, $enterpriseBckColor, $enterpriseBckImg),
                            (people, $peopleBckColor, $peopleBckImg),
                            (profile, $peopleBckColor, $peopleBckImg){
                                .#{$section}TitleWrap{
                                    background-color: $color;
                                }

                            }
#appHeaderDesktopNav, #appHeaderMobileNav{
    .topNavImgIcon{
       margin-top:3px;
       display:inline-block;
       width:24px;
       height:22px;
       vertical-align: middle;
   }
    .oj-navigationlist-item{
        margin-right:0;
        /*Main Navigation Background Colors*/
        @each $section, $backGroundImg, $backgroundColor, $hoverBackGroundImg in (home, $homeIconDefault, $homeMainTabBckColor, $homeIconHover), 
                                 (labor-management, $laborIconDefault, $laborMainTabBckColor, $laborIconHover),
                                 (inventory-management, $inventoryIconDefault, $inventoryMainTabBckColor, $inventoryIconHover),
                                 (gift-loyalty, $giftLoyaltyIconDefault, $giftLoyaltyMainTabBckColor, $giftLoyaltyIconHover),
                                 (reports-analytics, $reportingAnalyticsIconDefault, $reportsAnalyticsMainTabBckColor,$reportingAnalyticsIconHover),
                                 (enterprise, $enterpriseIconDefault, $enterpriseMainTabBckColor, $enterpriseIconHover),
                                 (people, $peopleIconDefault, $peopleMainTabBckColor, $peopleIconHover),
                                 (profile, $peopleIconDefault, $peopleMainTabBckColor, $peopleIconHover){
                                       &.oj-focus, &.oj-default{
                                           &##{$section}{
                                               a{
                                                   .topNavImgIcon{
                                                       background-image: url($backGroundImg);
                                                   }
                                               }
                                           }
                                       }
                                       &.oj-selected, &.oj-hover:not(.oj-selected){
                                            &##{$section}{
                                                background-color: $backgroundColor;
                                                a{
                                                    .topNavImgIcon{
                                                        background-image: url($hoverBackGroundImg);
                                                    }
                                                }
                                            }
                                        }
                                 }
    }
}
//Left hand Side offcanvas
//Left Side Navigation
      #appDrawer{
        background-color: $darkGrayOld;
        width:200px;
        outline-color: transparent;
        .oj-navigationlist-element{
            .oj-default{
                .oj-navigationlist-item-label{
                    color:$white;
                }
            }
        }
    }
/*Page Tabs*/
.oj-navigationlist-page-level.oj-navigationlist-vertical:not(.oj-navigationlist-icon-only) .oj-navigationlist-item:not(.oj-disabled) a.oj-navigationlist-item-content .oj-navigationlist-item-label{
    color: $mobileNavTextColor;
}

.subTabs{
    margin-top:-42px;
    .oj-navigationlist-item {
        margin-right: 5px;
        &.oj-selected {
            background-color: $navigationListDesktopBgSelected;

            a.oj-navigationlist-item-content{
                color: $navigationListDesktopTextColorSelected;
            }
        }
    }
}
//People CSS

.inputFieldWrap{
    max-width:100%;
}
.inputField{
    border: 1px solid $inputFieldBorder;
}
.searchResultSections{
    width:100%;
    padding:0 10px;
}

.searchFieldWrap{
    border: 1px solid $searchWrapBorder;
    overflow:hidden;
}
.searchBtnWrap{
    float:right;
}
.searchTitleBar{
    height:20px;
    padding:10px;
    background-color: $searchTitleBarBckg;
    label{
        font-size: 20px;
    }
}
.firstAdvSearchArea, #advancebtn{
    padding:10px;
}
.advSearchLabel{
    font-weight: bold;
    width: 100%;
    display: block;
    padding: 0 0 10px 0;
    border-bottom: 1px solid $formBorders;
}
.advSearchCol{
    border-right: 1px solid $formBorders;
    padding:10px 20px;
    &:last-child{
        border:0;
    }
    label{
        margin-bottom:10px;
        font-weight:bold;
        display: block;
    }
}
.tableHeader{
    background-color: $tableHeaderBckg;
    padding:15px 10px;
    span{
        color:$white;
    }
}

.employeeTable{
    li{
        background-color:$white;
        &:nth-child(even){
            background-color: $oddEmpTableBckg;
        }
        .oj-flex-item{
            div, a{
                line-height:50px;
            }
        }
    }
}
.empImg{
    border-radius:50%;
    height:75px;
    width:75px;
}
.empImgCol{
    max-width:95px;
}
.oj-listview-item.oj-hover{
    background-color: #ebeced !important;
}

.simplesearchWrap{
    margin:10px 5px;
}
.searchTitle{
    h2{
         color:$black;
    }
}
//.searchWindow{
//    .peopleSearchWrapper {
//        padding: 0 20px;
//
//    }
//    .button-row {
//        padding: 10px 10px 0 10px;
//    }
//}


//Media Query
//Medium/ipad (UP)
@media only screen and (min-width: 768px){
    //Tablet Page Layout
    //Search Styles
    .searchFieldWrap{
        margin:15px;
    }
    .empImg{
        height:50px;
        width:50px;
    }
    
@each $section, $color, $headerBckImg in (home, $homeBckColor, $homeBckImg), 
                            (labor-management, $laborBckColor, $laborBckImg),
                            (inventory-management, $inventoryBckColor, $inventoryBckImg),
                            (gift-loyalty, $giftLoyaltyBckColor, $giftLoyaltyBckImg),
                            (reports-analytics, $reportsAnalyticsBckColor, $reportingAnalyticsBckImg),
                            (enterprise, $enterpriseBckColor, $enterpriseBckImg),
                            (people, $peopleBckColor, $peopleBckImg),
                            (profile, $peopleBckColor, $peopleBckImg){
                                .#{$section}TitleWrap{
                                    background:url($headerBckImg);
                                    background-repeat: no-repeat;
                                    background-size: 223px 111px;
                                    background-position:100% 30%;
                                    background-color: $color;
                                    height:110px;
                                }
  
                            }
@each $section, $primaryColor, $secondaryColor in (home, $homeTabHoverText, $homeSubTabBckColor), 
                            (labor, $laborTabHoverText, $laborSubTabBckColor),
                            (inventory, $inventoryTabHoverText, $inventorySubTabBckColor),
                            (gift-Loyalty, $giftLoyaltyTabHoverText, $giftLoyaltySubTabBckColor),
                            (reportsAnalytics, $reportsAnalyticsTabHoverText, $reportsAnalyticsSubTabBckColor),
                            (enterprise, $enterpriseTabHoverText, $enterpriseSubTabBckColor),
                            (people, $peopleTabHoverText, $peopleSubTabBckColor),
                            (profile, $peopleTabHoverText, $peopleSubTabBckColor){
                                
                                ##{$section}Tabs{
                                    margin-left:10px;
                                    margin-top:4px;
                                    .oj-navigationlist-item{
                                        &.oj-focus{
                                            outline-color:transparent;
                                        }
                                        &.oj-hover:not(.oj-selected){
                                            background-color:$tabHoverBckgColor;
                                            border-color:$secondaryColor;
                                                .oj-navigationlist-item-label{
                                                    color:$primaryColor;
                                                }
                                        }
                                        &.oj-default{
                                            background-color: $secondaryColor;
                                                .oj-navigationlist-item-label{
                                                    color:$white;
                                                }
                                       }
                                       &.oj-selected {
                                           border-color: $secondaryColor;
                                           a{
                                                .oj-navigationlist-item-label{
                                                     font-weight:300;
                                                     color:$tabActiveTxtColor;
                                                }
                                           }
                                       }
                                    }
                                } 
                            }
//Ipad Dialog styles
    .dialog-dimensions{
        width:95%;
    }
    .oj-dialog-header h2{
        padding:0;
        margin: 5px 10px 0 10px;
    }
}
//Header OffCanvas
.hamburger {
    margin-top: 4px;
}
//large/desktop (UP)
@media only screen and (min-width: 1024px){

    //Desktop Page Layout
    .oj-web-applayout-footer {
        border: 1px solid $footerBorderColor;
        background-color: $footerBckgColor;
    }
    //Desktop Header
    .appHeaderDesktop {
        padding: 0 10px;
    }
    #appHeaderDesktopNav{
        margin-top:10px;
    }

    //Dialog Window Ipad and up
    .dialog-dimensions{
        width:85%;
        height:auto;
    }
    //Left Side Navigation
      #appDrawer{
        background-color: $leftOffCanvasDesktopBckg;
        width:200px;
        outline-color: transparent;
        .oj-navigationlist-element{
            .oj-default{
                .oj-navigationlist-item-label{
                    color:$leftOffCanvasDesktopText;
                }
            }
            .oj-hover{
                background-color: $sideNavLinkBckBgHover;
                .oj-navigationlist-item-label{
                    color:$sideNavLinkColorHover;
                }
            }
        }
    }
    //Search styles
    .inputFieldWrap{
        width:60em;
    }
}

//xLarge (UP)
@media only screen and (min-width: 1280px){
    
}

//Mobile (CAP)
@media only screen and (min-width: 320px) and (max-width: 767px){
    //Mobile Dropdown background color
    @each $section, $backGroundColor, $accentColor in 
                                  (home, $homeMobileTabBckColor, $homeMobileTabAccentColor),
                                  (labor, $laborMobileTabBckColor, $laborMobileTabAccentColor),
                                  (inventory, $inventoryMobileTabBckColor, $inventoryMobileTabAccentColor),
                                  (gift-loyalty, $giftLoyaltyMobileTabBckColor, $giftLoyaltyMobileTabAccentColor),
                                  (enterprise, $enterpriseMobileTabBckColor, $enterpriseMobileTabAccentColor),
                                  (reports-analytics, $reportsAnalyticsMobileTabBckColor, $reportsAnalyticsMobileTabAccentColor),
                                  (people, $peopleMobileTabBckColor, $peopleMobileTabAccentColor),
                                  (profile, $peopleMobileTabBckColor, $peopleMobileTabAccentColor)
    {
        ##{$section}NavList{
            background-color:$backGroundColor;
            height: 40px;
        }
        ##{$section}Tabs{
            border-top:1px solid $accentColor;
            .oj-navigationlist-item:not(.oj-disabled){
                &.oj-default{
                    background-color: $backGroundColor;
                }
                &.oj-selected{
                    background-color: $navListSelected;
                } 
                &.oj-hover{
                    background-color: $navListSelected;
                }
            }
        }    
    }
}
// MD IPad (CAP)
@media only screen and (min-width: 768px) and (max-width: 1023px){

}

// LG Desktop (CAP)
@media only screen and (min-width: 1024px) and (max-width: 1279px){
}

// XL Desktop (CAP)
@media only screen and (min-width: 1280px) and (max-width: 1900px){

}
@import "login.scss";
