<div style="display:none;" id="addEmpStatusDialog" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', 
            rootAttributes: {style: 'height: 600px;', class: 'generalModal-dimensions'},
            'position': {'my': 'right center', 'at': 'left center'}}">

    <div class="oj-dialog-header oj-helper-clearfix" aria-labelledby="dialogTitleId">
        <span id="dialogTitleId" class="oj-dialog-title">
           <div><span class="fa fa-plus"></span> Add Employee Modal</div>
        </span>
    </div>
    
</div>