/*$background4Color: #f0f0f0 !default; */
@font-face {
  font-family: 'Alta Icon Font';
  src: url("fonts/JetFW_iconfont.woff") format("woff"); }
.app-header {
  background-color: #0c4a7e; }

.app-header-mobile {
  padding-top: 5px;
  padding-left: 10px; }

.appheader-logo-oracle {
  background-image: url("images/oracle-logo.png");
  background-repeat: no-repeat;
  background-position: 5px 2px;
  width: 140px;
  height: 25px;
  display: inline-block;
  vertical-align: middle; }

.appheader-avatar {
  background-image: url("images/vatar_24px.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
  margin-right: 50px; }

.oj-offcanvas-open {
  background-color: #333333; }

#app-header-desktop-nav.oj-navigationlist-horizontal .oj-navigationlist-divider, #app-header-mobile-nav.oj-navigationlist-horizontal .oj-navigationlist-divider {
  border-color: #0c4a7e; }
#app-header-desktop-nav .oj-navigationlist-item.oj-default, #app-header-mobile-nav .oj-navigationlist-item.oj-default {
  background-color: #0c4a7e; }
#app-header-desktop-nav .oj-navigationlist-item.oj-selected, #app-header-mobile-nav .oj-navigationlist-item.oj-selected {
  background-color: #0572CE;
  border-width: 0 !important; }
#app-header-desktop-nav .oj-navigationlist-item.oj-hover:not(.oj-selected), #app-header-mobile-nav .oj-navigationlist-item.oj-hover:not(.oj-selected) {
  background-color: #0572CE;
  border-color: transparent; }
#app-header-desktop-nav .oj-navigationlist-item .oj-navigationlist-item-icon, #app-header-mobile-nav .oj-navigationlist-item .oj-navigationlist-item-icon {
  color: #fff; }
#app-header-desktop-nav a.oj-navigationlist-item-content, #app-header-mobile-nav a.oj-navigationlist-item-content {
  color: #fff; }

.app-header-mobile-nav-title {
  background-color: #0572CE;
  padding: 0.8571rem !important;
  color: #fff; }

.oj-navigationlist-item {
  border-width: 0 !important; }
  .oj-navigationlist-item.oj-default {
    background-color: #666666; }
    .oj-navigationlist-item.oj-default a.oj-navigationlist-item-content {
      color: #fff; }
  .oj-navigationlist-item.oj-selected {
    background-color: #cccccc; }
    .oj-navigationlist-item.oj-selected a.oj-navigationlist-item-content {
      color: #fff; }
  .oj-navigationlist-item.oj-hover:not(.oj-selected) {
    background-color: #cccccc; }
    .oj-navigationlist-item.oj-hover:not(.oj-selected) a.oj-navigationlist-item-content {
      color: #fff; }

.oj-button.oj-default.oj-button-half-chrome .oj-button-icon,
.oj-button.oj-focus-only.oj-button-half-chrome .oj-button-icon,
.oj-button-half-chrome .oj-button.oj-default .oj-button-icon,
.oj-button-half-chrome .oj-button.oj-focus-only .oj-button-icon {
  color: #fff; }

.tbd {
  height: 427px;
  width: 350px;
  background-color: #cccccc; }

body,
html {
  height: 100%; }

.page-area {
  height: 100%; }

.full-height {
  height: 100%; }

.page-header h1 {
  display: inline-block; }

footer {
  position: absolute;
  bottom: 0;
  padding: 10px; }

html:not([dir="rtl"]) .oj-navigationlist-horizontal:not(.oj-navigationlist-stack-icon-label):not(.oj-navigationlist-icon-only) .oj-navigationlist-item-icon {
  margin-right: 0; }

#selected-title {
  background-color: #0572CE;
  height: 20px;
  padding: 2%;
  width: 96%; }
  #selected-title a {
    color: #fff;
    text-decoration: none; }

@media only screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .page-area {
    padding-left: 1.072rem !important;
    padding-top: 10px; }

  .page-header {
    padding: 10px 0; }
    .page-header > h1 {
      margin: 0; }

  .page-sub-navigation {
    padding-left: 25px; }

  #app-main-area {
    padding: 0 15px; }

  .oj-navigationlist-divider {
    border-color: transparent !important; }

  .oj-navigationlist-item {
    border-width: 3px 0 0 0 !important;
    margin-right: 5px; }
    .oj-navigationlist-item:last-child {
      margin: 0 1px 0 0; }
    .oj-navigationlist-item.oj-default {
      background-color: #0572CE; }
    .oj-navigationlist-item.oj-selected {
      background-color: #fff;
      border-width: 3px 1px 0 1px !important;
      border-right-color: #cccccc;
      border-left-color: #cccccc; }
      .oj-navigationlist-item.oj-selected a.oj-navigationlist-item-content {
        color: #000; } }
@media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .app-header-desktop {
    padding: 15px 10px 0 10px; }

  .appheader-appname {
    color: #fff;
    font-size: 12px;
    display: inline-block; }

  .appheader-logo-oracle {
    margin-bottom: 10px; }

  #sidebar-left {
    border-right: 1px #ccc solid;
    padding-top: 10px; }

  .sidebar-left-input {
    width: 140px; }

  #sideNavigationContainer > div {
    padding: 0 0 6px 0; }

  .sidebar-left-nav {
    list-style-type: none;
    margin: 0;
    padding: 0.77778rem 0;
    border-top: solid 1px #ccc;
    margin-top: 15px; }
    .sidebar-left-nav li a:not(.button) {
      color: #0572ce;
      font-size: 1.05em;
      padding: 10px 5px 10px 25px;
      display: block; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  .oj-navigationlist-item-icon {
    font-size: 1.25em !important; }

  #mainCol {
    padding: 0; } }
@media only screen and (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  html:not([dir="rtl"]) .oj-navigationlist-horizontal:not(.oj-navigationlist-stack-icon-label):not(.oj-navigationlist-icon-only) .oj-navigationlist-item-icon {
    margin-right: 5px; }

  .oj-navigationlist-item-label {
    font-size: 14px; }

  .sectionName {
    padding-left: 5px; }

  .oj-tabs-panel {
    border: 0px solid #cccccc;
    border-top: 1px solid #cccccc; } }
