<div class="justifyCenter">
    <div class="oj-row">
        <div class="oj-col oj-md-10">
            <h2 id="currentPage" data-bind="text: label"></h2>
        </div>
        <div class="oj-col oj-md-2 oj-lg-text-align-end">
<!--            <div data-bind="click: function(){$parent.handleOpen('#empDialog')}" style="line-height:39px;">Edit</div>-->
        </div>
    </div>

    <hr class="oj-col oj-md-12" />
    <div class="oj-row">
        <div class="oj-col oj-md-6">
            <h3>SYSTEM</h3>
            <div class="oj-col oj-md-12">
                <div class="permissionRoleHeader">
                    Role
                </div>
                <div class="permissionRole">
                    Employee
                </div>
            </div>
        </div>
        <div class="oj-col oj-md-6">
            <h3>PROFILE</h3>
            <div class="oj-col oj-md-12">
                <div class="profileItems">Allow user to update their contact information</div>
                <div class="profileItems">Allow user to maintain their notifications</div>
                <div class="profileItems">Allow user to view schedule</div>
                <div class="profileItems">Allow user to access to the shift pool</div>
            </div>
        </div>
    </div>
    <div class="oj-row">
        <div class="oj-col oj-md-12">
            <h3>PORTAL USER</h3>
        </div>
        <div class="oj-col oj-md-6">
            <div class="oj-col oj-md-6">
                <div class="portalItemHeaders">Username</div>
                <div class="portalItems" data-bind="text: $parent.email"></div>
                <div class="portalItemHeaders">Display Name</div>
                <div class="portalItems"><span data-bind="text: $parent.firstName"></span> <span data-bind="text: $parent.lastName"></span></div>
            </div>
            <div class="oj-col oj-md-6">
                <div class="portalItemHeaders">Role</div>
                <div class="portalItems">System User</div>
                <div class="portalItemHeaders">POS Language</div>
                <div class="portalItems">System User</div>          
            </div>
        </div>
        <div class="oj-col oj-md-6">
            <div class="portalRevenueCenterHeader">Revenue Centers</div>
            
        </div>
    </div>
</div>
