<div class="justifyCenter">

    
    
<!--    <hr class="oj-col oj-sm-12" />-->
    <div class="oj-row">
        <div class="oj-col oj-sm-12">
            <h3>SYSTEM</h3>
            <div class="oj-col oj-sm-12">
                <div class="permissionRoleHeader">
                    Role
                </div>
                <div class="permissionRole">
                    Employee
                </div>
            </div>
        </div>
        <div class="oj-col oj-sm-12">
            <h3>PROFILE</h3>
            <div class="oj-col oj-sm-12">
                <div class="profileItems"><i class="fa fa-check"></i> Allow user to update their contact information</div>
                <div class="profileItems"><i class="fa fa-check"></i> Allow user to maintain their notifications</div>
                <div class="profileItems"><i class="fa fa-check"></i> Allow user to view schedule</div>
                <div class="profileItems"><i class="fa fa-check"></i> Allow user to access to the shift pool</div>
            </div>
        </div>
    </div>
    <div class="oj-row">
        <div class="oj-col oj-sm-12">
            <h3>PORTAL USER</h3>
        </div>
        <div class="oj-col oj-sm-12">
            <div class="oj-col oj-sm-12">
                <span class="portalItemHeaders">Username:</span> <span class="portalItems" data-bind="text: $parent.email"></span>
                <p>
                   <span class="portalItemHeaders">Display Name: </span><span class="portalItems" data-bind="text: $parent.firstName"></span> <span class="portalItems" data-bind="text: $parent.lastName"></span> 
                </p>
            </div>
            <div class="oj-col oj-sm-12">
                <div class="portalItemHeaders">Role</div>
                <div class="portalItems">System User</div>
                <div class="portalItemHeaders">POS Language</div>
                <div class="portalItems">System User</div>          
            </div>
        </div>
        <div class="oj-col oj-sm-12">
            <div class="portalRevenueCenterHeader">Revenue Centers</div>
            
        </div>
    </div>
    <div class="oj-row subToolRow">
        <hr class="oj-sm-12" />
        <div class="oj-col oj-sm-10">
             <a style="line-height:39px;" data-bind="attr:{href: 'index.html?root=people'}"><i class="fa fa-arrow-circle-left"></i> Back to Search</a>
        </div>
        <div class="oj-col oj-sm-2">
            <a data-bind="click: $parent.handleOpen('#scheduleDetailDialog')" style="line-height:39px;">edit <i class="fa fa-pencil-square-o"></i></a>
        </div>
    </div>
</div>