<div style="display:none;" id="empLaborBasicDialogWindow" data-bind="ojComponent:{
            component: 'ojDialog',
            resizeBehavior: 'none',
            dragAffordance: 'none',
            initialVisibility: 'hide', 
            rootAttributes: {style: 'width: 315px; height: 1500px;'}, 
            'position': {'at': 'top'}}">
    <!-- Note: the user must provide the aria-labelledby attribute for the dialog to be accessible -->
    <div class="oj-dialog-header oj-helper-clearfix" aria-labelledby="dialogTitleId" style="background: #015fab">
        <div id="dialogTitleId" class="oj-dialog-title">
            <h1 class="dialogHeaderText oj-flex">
                <img data-bind="attr:{src: 'css/images/people/nopic.png'}" />
                <span data-bind="text: $parent.basicEmpInfo().firstName"></span>
                <span data-bind="text: $parent.basicEmpInfo().lastName"></span>
                 <a href="#" data-bind="click:$parent.loadPersonPage">full details<i class="fa fa-arrow-circle-right"></i></a>
             </h1>
        </div>
    </div>
    <div class="oj-dialog-body">
            <div class="oj-flex">
                <div class="oj-flex-item">
                   <div class="oj-flex">
                         <img data-bind="attr: {src: $parent.getPhoto($parent.basicEmpInfo().empId)}" class="empImgDialog" />
                    </div>
                      <div class="oj-flex">
<!--                            <label for="status" class="oj-flex-item">STATUS </label>-->
                            <span id="status" class="txtHighlight oj-flex-item" data-bind="text: $parent.basicEmpInfo().hireStatus"></span>
                        </div>
                </div>

                <div class="oj-flex-item empInfo" style="font-weight: bold">
                    <div class="oj-flex-item" >
                        <label for="homestore">HOME STORE</label>
                        <br /><span id="homestore" class="txtHighlight" data-bind="text: $parent.basicEmpInfo().homeStore"></span>
                    </div>
                    <div class="oj-flex-item">
                        <label for="hiredate">HIRE DATE</label>
                        <br /><span id="hiredate" class="txtHighlight" data-bind="text: new Date($parent.basicEmpInfo().hireDate).getYear();"></span>
                    </div>
                </div>
            </div>
        <hr>
        <div class="oj-flex empInfo" >
            <div class="oj-flex-item">
                <label for="contact" style="font-weight: bold">CONTACT</label>
                <br /><span id="contact" class="txtHighlight" data-bind="text: $parent.basicEmpInfo().mobile + ' mobile' "></span>
                <br /><span id="contact" class="txtHighlight" data-bind="text: $parent.basicEmpInfo().email + ' email' "></span>
            </div>
            <div class="oj-flex-item">
                <label for="emecontact" style="font-weight: bold">EMERGENCY CONTACT</label>
                <br /><span id="emecontact" class="txtHighlight" data-bind="text: $parent.basicEmpInfo().emergencyName + ' ('+$parent.basicEmpInfo().relationship+ ') '+$parent.basicEmpInfo().emergencyPhone"></span>

            </div>
        </div>
        <hr>
        <div class="oj-flex" >
            <div class="oj-flex-item">
                <label for="clockedin" class="empStatus clockedIn" style="font-weight: bold">Clocked in</label>
                <br />
                <label for="clockedin" style="font-weight: bold">LAST CLOCKED IN</label>
                <br /><span id="clockedin" class="txtHighlight" data-bind="text: $parent.basicEmpInfo().homeStore"></span>

                <br />
                <br /><a href="#">view all employees <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <hr>
        <div class="oj-flex">
            <div class="oj-flex-item">
                <label for="availability" style="font-weight: bold">AVAILABILITY (Days &amp; Time)</label>
                <br />
                <label for="unavailable" class="subLabel" style="font-weight: bold">Unavailable</label>
                <div data-bind="foreach: $parent.unavailableDaysAndTimes()">
                    <div class="oj-flex-item">
                        <div data-bind="text: day + ': '+ (allday === 'yes' ? 'all day' : starttime + ' - '+endtime)">
                        </div>

                    </div>
                </div>
                <br />
                <label for="preferred" class="subLabel" style="font-weight: bold">Preferred</label>
                <div data-bind="foreach: $parent.preferredDaysAndTimes()">
                    <div class="oj-flex-item">
                        <div data-bind="text: day + ': '+ (allday === 'yes' ? 'all day' : starttime + ' - '+endtime)">
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="oj-flex">
            <div class="oj-flex-item" style="background-color: #F5F5F5;
  margin-top: 10px;">
                <div class="currentWeekHeader"><strong>Current Week</strong> (8/40 hours) </div>
            </div>
        </div>
        <div class="oj-flex" style="font-weight: bold;">
            <div class="oj-flex-item currentWeekSummary weeklyTotalHeader" style="border-top: 10px solid #04b404; margin-top: 10px;">
                <div>WEEKLY TOTALS</div>
                <div>$126.75 (18.5 hours) | $120.00 tips</div>
                <div style="font-size: 20px; margin-top: 5px; ">$246.75</div>
            </div>
            <div class="oj-flex-item currentWeekSummary job1TotalHeader" style="border-top: 10px solid #fe9a2e; margin-top: 10px;">
                <div>BARTENDER TOTALS</div>
                <div>$126.75 (18.5 hours) | $120.00 tips</div>
                <div style="font-size: 20px; margin-top: 5px; ">$246.75</div>
            </div>
            <div class="oj-flex-item currentWeekSummary job2TotalHeader" style="border-top: 10px solid #2e2efe; margin-top: 10px;">
                <div>SERVER TOTALS</div>
                <div>$126.75 (18.5 hours) | $120.00 tips</div>
                <div style="font-size: 20px; margin-top: 5px; ">$246.75</div>
            </div>
        </div>
        <div class="oj-flex">
            <div class="oj-flex-item currentFilmStrip" style="width:280px;">
                <div id="filmStripDiv">
                    <div id="filmStrip" aria-label="Set of chemicals" 
                         data-bind="ojComponent: {component: 'ojFilmStrip', 
                                 arrowPlacement: self.currentNavArrowPlacement,
                                 maxItemsPerPage : 1,
                                 arrowVisibility: self.currentNavArrowVisibility}">

                        <!-- ko foreach: $parent.formttedCurrentScheduledDateValues -->

                        <div class="oj-flex-item" style="align-self: flex-start; margin: 0 5px;">
                            <div>
                                <div style="background-color: #F5F5F5; text-align: center; margin-top: 10px;">
                                    <span data-bind="text: startDate"></span>
<!--                                    <br /><span data-bind="text: dailyLoacl"></span>-->
                                </div>
                                <div class="daySummary" style="padding: 10px; margin: 10px 0;
    background-color: #fff;
    min-height: 150px;
    -webkit-box-shadow: 0 5px 5px 0px #AFBAC5;
    box-shadow: 0 5px 5px 0px #AFBAC5;">
                                  <div class="oj-flex">
                                      <span class="oj-flex-item oj-sm-6">
                                          <span data-bind="text: totalHours"></span><span> hours</span>
                                      </span>
                                      <span class="oj-flex-item oj-sm-6 dollarAmts">
                                         <!--Need total earnings for current job, not including tips?-->
                                          <span data-bind="text: hourlyWage"></span>
                                      </span>
                                  </div>
                                  <div class="oj-flex">
                                      <span class="oj-flex-item oj-sm-6">
                                         <span>Tips</span>
                                      </span>
                                      <span class="oj-flex-item oj-sm-6 dollarAmts">
                                         <!--Need total tips?-->
                                          <span data-bind="text: hourlyWage"></span>
                                      </span>
                                  </div>
                                   <div class="oj-flex dayTotals">
                                        <span class="oj-flex-item oj-sm-6">Daily Total</span>
                                        <span class="oj-flex-item oj-sm-6 dollarAmts" data-bind="text: totalEarning;"></span>
                                    </div>
                                    <hr/>
                                    <div data-bind="visible: (preferred === 'yes')" class="empAvailability">
                                        <div class="oj-flex">
                                            <span class="oj-flex-item prefLabel"  style="color: #6E8598;">
                                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                                PREFERRED
                                            </span>
                                        </div>
                                        <div class="oj-flex">
                                            <span data-bind="text: preferredtime" class="oj-flex-item"></span>
                                        </div>
                                    </div>
                                    <div data-bind="visible: (unavailable === 'yes')" class="empAvailability">
                                        <div class="oj-flex">
                                            <span class="notAvailLabel oj-flex-item"  style="color: #ff0000;">
                                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                                NOT AVAILABLE
                                            </span>
                                        </div>
                                        <div class="oj-flex">
                                            <span data-bind="text: unavialbaletime" class="oj-flex-item"></span>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="foreach: locations" 
                                      style="text-align: center; padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    min-height: 150px;
    -webkit-box-shadow: 0 5px 5px 0px #AFBAC5;
    box-shadow: 0 5px 5px 0px #AFBAC5;">
                                    <div data-bind="visible: (name.toLowerCase() === $root.activeLocation().toString().toLowerCase())">
                                
                                    <div style="color: black;  text-align: center">
                                        <div>
                                            <span data-bind="text: name" style="font-weight: bold;"> </span>
                                            <br /><span data-bind="text: address"> </span>
                                        </div>
                                        <div data-bind="foreach: workDetails;">
                                            <div data-bind=" style: { 'border-color': backgroundcolor}" class="oj-flex jobSection" style="margin-top: 3px;
        margin-right: 3px;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;">
                                                <!--Notes to Dev: Would be good to have class name in json for each job-->
                                                <span data-bind="css: jobtitle" class="oj-flex-item"></span>
                                                <span class="oj-flex-item">
                                                    <span data-bind="text: jobtitle" style="font-weight: bold;"> </span>
                                                    <br /><span data-bind="text: (jobtitle === 'Not Scheduled' ? '' : workStation)"> </span>
                                                    <br /><span data-bind="text: (jobtitle === 'Not Scheduled' ? '' : time)"> </span>
                                                    <br /><span data-bind="text: (jobtitle === 'Not Scheduled' ? '' : (hours + ' hours'))"> </span>
                                                </span>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- /ko -->
                    </div>
                </div>
                <!-- end filmStripDiv -->
            </div>
        </div>
    </div>
</div>
