<div class="tabs-container">
    <div id="tabs" data-bind="ojComponent: {component: 'ojTabs'}">
        <ul>
            <li><span>Individual</span></li>
            <li id="import-multiple"><span>Import Multiple</span></li>
        </ul>
        <div id="tabs-1">
            <div id="train-container">
                <div style="text-align: center">

                    <div id="train" class="oj-train-stretch" data-bind="ojComponent:{component: 'ojTrain', selected: selected, steps:stepArray}"></div>

                </div>
                <div id="currentStepText" data-bind="template: {name: 'add-employee/add-employee-steps/add-employee-' + selectedText()}"></div>
            </div>

            <button id="PreviousStep" type="button" style="display:inline-block;vertical-align:top;" data-bind="click: previousStep, ojComponent: { component: 'ojButton', label: 'Back', icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}}"></button>

            <button id="NextStep" type="button" style="display:inline-block;vertical-align:top;" data-bind="click: nextStep, ojComponent: {component: 'ojButton', label: 'Next ', icons: {end:'oj-fwk-icon-caret-end oj-fwk-icon'}}"></button>
        </div>
        <div id="tabs-2">
            <a>Import Multiple</a>
        </div>
    </div>
</div>
