<div class="oj-row subToolRow">
    <div class="oj-col oj-sm-10">
<!--        <h2 id="currentPage" data-bind="text: label"></h2>-->

         <a style="line-height:39px;" data-bind="attr:{href: 'index.html?root=people'}">Back to Search</a>

    </div>
    <div class="oj-col oj-sm-2">
        <div data-bind="click: $parent.handleOpen('#empDialog')" style="line-height:39px;">Edit <i class="fa fa-pencil-square-o"></i></div>
    </div>
</div>
<div class="oj-row">
    <div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
        <!-- Start of Section 1 --->
        <div id="general" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">
            <h3>General</h3>
                <div>
                    <h4>Name</h4>
                    <span data-bind="text: $parent.firstName()"></span>
                    <span data-bind="text: $parent.lastName()"></span>

                    <div data-bind="visible: $parent.posCheckName()">
                        <h4>POS Check Name</h4>
                        <div data-bind="text: $parent.posCheckName()"></div>
                    </div>

                    <h4>Language</h4>
                    <div data-bind="text: $parent.language()"></div>

                    <h4>Time Zone</h4>
                    <div data-bind="text: $parent.timeZone()"></div>

                    <div>
                        <h4>Ethnicity</h4>
                        <div data-bind="text: $parent.ethnicity()"></div>
                    </div>
                    <div>
                        <h4>Gender</h4>
                        <div data-bind="text: $parent.gender()"></div>
                    </div>
                    <div>
                    <h4>Profile Picture</h4>
                       <img data-bind="attr: {src: $parent.getPhoto($parent.personProfile().empId)}" />
                    </div>
                    <div data-bind="visible: $parent.veteranStatus() == 'yes'">
                    
                        <h4>Veteran</h4>
       <!--                <div><span class="veteranStatus">A Veteran?</span> <span data-bind="text: $parent.veteranStatus()"></span></div>-->
                           <div><i class="fa fa-check"></i> <span data-bind="text: $parent.vietnamEra()"></span></div>
                           <div><i class="fa fa-check"></i> <span data-bind="text: $parent.otherEligible()"></span></div>
                           <div><i class="fa fa-check"></i> <span data-bind="text: $parent.otherProtected()"></span></div>
                           <div><i class="fa fa-check"></i> <span data-bind="text: $parent.armedForcesServiceMedal()"></span></div>
                           <div><i class="fa fa-check"></i> <span data-bind="text: $parent.recentlySeparated()"></span></div>
                           <div><i class="fa fa-check"></i> <span data-bind="text: $parent.specialDisabled()"></span></div>

                           <h4>Registered Disable Number</h4>
                           <div data-bind="text: $parent.registeredDisabledNumber()"></div>

                           <h4>Discharge Date</h4>
                           <div data-bind="text: $parent.dischargeDate()"></div>
                    </div>
                </div>
        </div>
        <div id="veteran">
            <h3>Contact</h3>
            <div>
                <h4>Email Address</h4>
                <a data-bind="attr:{href: $parent.getEmail($data)}, text: $parent.email() + '@example.net'"></a>
                <div data-bind="visible: $parent.receiveEmailNotification() == 1">
                    <div><i class="fa fa-check"></i> Receive email notifications</div>
                </div>
                
                <h4>Phone Number</h4>
                <div data-bind="text: $parent.phone()"></div>
                <div data-bind="visible: $parent.receiveTextNotification() == 1">
                    <div><i class="fa fa-check"></i> Receive text notifications</div>
                </div>
                <div data-bind="visible: $parent.publishInCompanyDirectory() == 1">
                    <div><i class="fa fa-check"></i> Publish in company directory</div>
                </div>
                
                <h4>Other Phone Number</h4>
                <div data-bind="text: $parent.mobile()"></div>

                <div data-bind="visible: $parent.faxNumber()">
                    <h4>FAX Number</h4>
                    <div data-bind="text: $parent.faxNumber()"></div>
                </div>
                <h4>Address</h4>
                <div data-bind="text: $parent.address1()"></div>
                <div data-bind="text: $parent.address2()"></div>
                <span data-bind="text: $parent.city()"></span>
                <span data-bind="text: $parent.state()"></span>
                <span data-bind="text: $parent.postal()"></span>
                <span data-bind="text: $parent.country()"></span>
                <div data-bind="visible: $parent.inCityLimits() == 1">
                    <div><i class="fa fa-check"></i> In city limits</div>
                </div>
                
                <h4>Emergency Contact</h4>
                <span data-bind="html: $parent.emergencyName()"></span>
                <span data-bind="html: $parent.formattedRelationship()"></span>
                <div data-bind="html: $parent.emergencyAddress()"></div>
                <span data-bind="html: $parent.emergencyCity()"></span>
                <span data-bind="html: $parent.emergencyState()"></span>
                <span data-bind="html: $parent.emergencyZipCode()"></span>
                <div data-bind="html: $parent.emergencyPhone()"></div>
            </div>
        </div>
        <div id="Custom">
            <h3>Custom</h3>
        </div>
    </div>

</div>

<div data-bind="template: {name: 'partials/employee-edit-modal/employee-edit-modal-small'}"></div>


