<div class="justifyCenter">

    <div class="oj-row">
        <div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
            <!-- Start of Section 1 --->
            <div id="general" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">
                <h3>General</h3>
                    <div>
                        <div class="oj-row">
                            <div class="oj-sm-6 oj-col">
                                <h4>Name</h4>
                                <span class="employeeName" data-bind="text: $parent.firstName() + ' ' + $parent.lastName()"></span>

    <!--                            <div data-bind="visible: $parent.posCheckName()">
                                <div class="oj-sm-12 oj-col">
                                    <span><strong>POS Check Name: </strong></span>
                                    <div data-bind="text: $parent.posCheckName()"></div>
                                </div>-->
                                <div class="oj-sm-12 oj-col generalArea">
                                    <span><strong>Ethnicity: </strong></span>
                                    <span data-bind="text: $parent.ethnicity()"></span>
                                </div>
                                <div class="oj-sm-12 oj-col generalArea">
                                    <span><strong>Gender: </strong></span>
                                    <span data-bind="text: $parent.gender()"></span>
                                </div>
                                <div class="oj-sm-12 oj-col generalArea">
                                    <span><strong>Language: </strong></span>
                                    <span data-bind="text: $parent.language()"></span>
                                </div>
                                <div class="oj-sm-12 oj-col generalArea">
                                    <span><strong>Time Zone: </strong></span>
                                    <span data-bind="text: $parent.timeZone()"></span>
                                </div>
                            </div>

                            <div class="oj-sm-6 oj-col">
                            <h4>Profile Picture</h4>
                               <img data-bind="attr: {src: $parent.getPhoto($parent.personProfile().empId)}" />
                            </div>
                        </div>
                        <div class="oj-sm-12">
                            <div data-bind="visible: $parent.veteranStatus() == 'yes'">
                                <div class="oj-row">
                                    <div class="oj-sm-12 oj-col">
                                        <h4>Veteran</h4>
                                    </div>
                                    <div class="oj-sm-5 oj-col generalArea">
                                       <div class="indentDiv"><i class="fa fa-check"></i> <span data-bind="text: $parent.vietnamEra()"></span></div>
                                       <div class="indentDiv"><i class="fa fa-check"></i> <span data-bind="text: $parent.otherEligible()"></span></div>
                                       <div class="indentDiv"><i class="fa fa-check"></i> <span data-bind="text: $parent.otherProtected()"></span></div>
                                    </div>
                                    <div class="oj-sm-7 oj-col generalArea">
                                       <div><i class="fa fa-check"></i> <span data-bind="text: $parent.armedForcesServiceMedal()"></span></div>
                                       <div><i class="fa fa-check"></i> <span data-bind="text: $parent.recentlySeparated()"></span></div>
                                       <div><i class="fa fa-check"></i> <span data-bind="text: $parent.specialDisabled()"></span></div>
                                    </div>
                                </div>
                                <div class="oj-row">
                                    <div class="oj-sm-12 oj-col disableNumberArea">
                                        <span><strong>Registered Disable Number: </strong></span>
                                         <span data-bind="text: $parent.registeredDisabledNumber()"></span>
                                    </div>
                                    <div class="oj-sm-12 oj-col disableNumberArea">
                                   <span><strong>Discharge Date: </strong></span>
                                   <span data-bind="text: $parent.dischargeDate()"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div id="veteran">
                <h3>Contact</h3>
                <div>
                    <div class="oj-row">
                        <div class="oj-sm-12 oj-col contactArea">
                            <span><strong>Email Address: </strong></span>
                            <a data-bind="attr:{href: $parent.getEmail($data)}, text: $parent.email() + '@example.net'"> </a> <i class="fa fa-envelope"></i>
                            <div data-bind="visible: $parent.receiveEmailNotification() == 1">
                                <div class="indentDiv"><i class="fa fa-check"></i> Receive email notifications</div>
                            </div>
                        </div>
                        <div class="oj-sm-12 oj-col contactArea">
                            <span><strong>Phone Number: </strong></span>
                            <a href=""><span data-bind="text: '+1 ' + $parent.phone()"></span> <i class="fa fa-phone"></i></a>
                            <div data-bind="visible: $parent.receiveTextNotification() == 1">
                                <div class="indentDiv"><i class="fa fa-check"></i> Receive text notifications</div>
                            </div>
                            <div data-bind="visible: $parent.publishInCompanyDirectory() == 1">
                                <div class="indentDiv"><i class="fa fa-check"></i> Publish in company directory</div>
                            </div>
                        </div>
                        <div class="oj-sm-12 oj-col contactArea">
                            <span><strong>Other Phone Number: </strong></span>
                            <a href=""><span data-bind="text: '+1 ' + $parent.mobile()"></span> <i class="fa fa-phone"></i></a>
                        </div>
                        <div data-bind="visible: $parent.faxNumber()">
                            <div class="oj-sm-12 oj-col contactArea">
                                <span><strong>FAX Number: </strong></span>
                                <span data-bind="text: '+1 ' + $parent.faxNumber()"></span>
                            </div>
                        </div>
                        <div class="oj-sm-12 oj-col contactArea">
                            <div><strong>Address</strong></div>
                            <div class="indentDiv">
                                <div data-bind="text: $parent.address1()"></div>
                                <div data-bind="text: $parent.address2()"></div>
                                <span data-bind="text: $parent.city()"></span>
                                <span data-bind="text: $parent.state()"></span>
                                <span data-bind="text: $parent.postal()"></span>
                                <span data-bind="text: $parent.country()"></span>
                                <div data-bind="visible: $parent.inCityLimits() == 1">
                                    <div><i class="fa fa-check"></i> In city limits</div>
                                </div>
                            </div>
                        </div>
                        <div class="oj-sm-12 oj-col contactArea">
                            <div><strong>Emergency Contact</strong></div>
                            <div class="indentDiv">
                                <span data-bind="html: $parent.emergencyName()"></span>
                                <span data-bind="html: $parent.formattedRelationship()"></span>
                                <div data-bind="html: $parent.emergencyAddress()"></div>
                                <span data-bind="html: $parent.emergencyCity()"></span>
                                <span data-bind="html: $parent.emergencyState()"></span>
                                <span data-bind="html: $parent.emergencyZipCode()"></span>
                                <div data-bind="html: $parent.emergencyPhone()"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Custom">
                <h3>Custom</h3>
                <div>&nbsp;</div>

            </div>
        </div>
    <div class="oj-row subToolRow">
        <hr class="oj-sm-12" />
        <div class="oj-col oj-sm-10">
             <a style="line-height:39px;" data-bind="attr:{href: 'index.html?root=people'}"><i class="fa fa-arrow-circle-left"></i> back to search</a>
        </div>
        <div class="oj-col oj-sm-2">
            <a data-bind="click: $parent.handleOpen('#empDialog')" style="line-height:39px;">edit <i class="fa fa-pencil-square-o"></i></a>
        </div>
    </div>
    </div>
</div>
<div data-bind="template: {name: 'partials/employee-edit-modal/employee-edit-modal-small'}"></div>


