<div style="display:none;" id="externalPayrollDialog" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', dragAffordance: 'none',
                   rootAttributes: {class: 'generalModal-dimensions'},
                  'position': {'my': 'right center', 'at': 'left center'}}">
   <div class="oj-dialog-header oj-helper-clearfix" aria-labelledby="dialogTitleId">
        <span id="dialogTitleId" class="oj-dialog-title">
           <div>External Payroll ID Modal</div>
        </span>
     </div>
    <div class="oj-dialog-body">
        <div class="oj-row">

        </div>
        <button id="submitButton" class="basic-btn" data-bind="click: function(){handleClose('#externalPayrollDialog')}">Save</button>
    </div>
</div>
