<div class="justifyCenter">
    <div class="oj-flex">
        <div class="oj-md-12 oj-flex-item">
            <!-- ko foreach: $parent.compensation -->
            <div data-bind="text: jobcodename"></div>
            <!--/ko-->
            
<ul id="listview" aria-label="list using array" contextmenu="menu1" 
       data-bind="ojComponent: {component: 'ojListView', data: $parent.dataListSource, item: {template: 'server_template'}, selectionMode: 'single'}">
</ul>
        </div>
    </div>
</div>
<script type="text/html" id="server_template">
    <li data-bind="attr: {id: $data['id']}">
        <div class="oj-flex row">
            <div data-bind="text: jobcodename"></div>
        </div>
    </li>
</script>
