<!-- small template -->
<script type="text/html" id="sm_md_header_template">
    <div class="oj-flex-bar appHeaderMobile">
        <div class="oj-flex-bar-start appHeaderLogoWrap">
            <div class="hamburger">
                <button data-bind="click: toggleAppDrawer,
                                   ojComponent: {component:'ojButton', 
                                   label: 'Toggle outer offcanvas', 
                                   chroming: 'half',
                                   display: 'icons', 
                                   icons: {start: 'oj-fwk-icon-hamburger oj-fwk-icon'}}">
                </button>
            </div>
            <span role="img" class="appHeaderLogo" title="Oracle Logo" alt="Oracle Logo"></span>
        </div>
        <div class="oj-flex-bar-end">
            <a class="oj-button globalStoreLink" data-bind="click: $parent.toggleDrawer">
                <span class="oj-sm-only-hide globalStoreText" data-bind="text: $root.activeLocation"></span>
                <span class="arrowLocation fa fa-location-arrow"></span>
            </a>
            <button id="userMenu" data-bind="ojComponent: { component: 'ojButton',
                             label: 'Avatar', 
                             display: 'icons',
                             icons: {start:'customUserIcon'},
                             menu: '#appheaderGlobalNavMenuId'
                             }">
            </button>
            <ul id="appheaderGlobalNavMenuId" data-bind="ojComponent: {component: 'ojMenu', select: menuItemSelect}" style="display:none">
                <li data-bind="attr: {label: $root.userData().email}">
                    <a data-bind="text: $root.userData().email, href: url"></a>
                </li>

                <!-- ko foreach: globalNavItems -->
                <li data-bind="attr: {id: label}">
                    <a data-bind="text: label, href: url"></a>
                </li>
                <!-- /ko -->
            </ul>
        </div>
    </div>
    <div class="oj-flex-item">
        <div id="appHeaderMobileNav" data-bind="ojComponent: {component: 'ojNavigationList',
                              drillMode: 'none', 
                              edge: 'top', 
                              selection: $root.router.stateId(),
                              data: dataSource,
                              optionChange: $root.optionChangeHandler,
                              item: { template: 'app_nav_template' }
                              }" aria-label="Choose only one navigation element">
        </div>
    </div>
    <div data-bind="if: $root.router.stateId() == 'people'">
        <div id="peopleNavList" class="oj-flex">
            <div class="oj-flex-item">
                <h1 class="inlineHeader"><span class="fa fa-users"></span> People <span class="fa fa-question custom-question-icon"></span> </h1>
            </div>
            <div class="oj-flex-item">
<!--            <a href="index.html?root=add-employee" class="basic-btn-link">Add</a>-->
                <a href="" data-bind="click: function(){handleOpen('#addEmpStatusDialog');}" class="basic-btn-link"><span class="fa fa-plus"></span> Add</a>
            </div>
            

        </div>
    </div>
    <div data-bind="ifnot:$root.router.stateId() == 'people'">
        <div class="oj-flex mobileTitle oj-sm-only-hide" data-bind="css: $root.router.stateId() + 'TitleWrap'">
            <h1 data-bind="text: $root.pageTitle" class="pageTitle"></h1>
        </div>
    </div>

</script>
<!-- large template -->
<script type="text/html" id="lg_xl_header_template">
    <div class="oj-flex appHeaderDesktop">
        <div class="hamburger">
            <button data-bind="click: toggleAppDrawer,
                               ojComponent: {component:'ojButton', 
                               label: 'Toggle outer offcanvas', 
                               chroming: 'half',
                               display: 'icons', 
                               icons: {start: 'oj-fwk-icon-hamburger oj-fwk-icon'}}">
            </button>
        </div>
        <div class="oj-flex-item appHeaderLogoWrap">
            <div role="img" class="oj-flex-item appHeaderLogo" title="Oracle Logo" alt="Oracle Logo"></div>
            <div class="appHeaderName" data-bind="text: appName"></div>
        </div>

        <div class="oj-flex-item">
            <div id="appHeaderDesktopNav" class="oj-xl-justify-content-flex-end" data-bind="ojComponent: {component: 'ojNavigationList',
                              drillMode: 'none',
                              edge: 'top',
                              selection: $root.router.stateId(),
                              data: dataSource,
                              optionChange: $root.optionChangeHandler,
                              item: { template: 'app_nav_template' }
                              }" aria-label="Choose only one navigation element">
            </div>
        </div>

        <div class="oj-flex-item userMenuWrap">
            <!-- This pulldown menu is used for wider screens -->


            <button id="userMenu" data-bind="ojComponent: { component: 'ojButton',
                             label: 'Avatar', 
                             display: 'icons',
                             icons: {start:'customUserIcon'},
                             menu: '#appheaderGlobalNavMenuId'
                             }">
            </button>
            <ul id="appheaderGlobalNavMenuId" data-bind="ojComponent: {component: 'ojMenu', select: menuItemSelect}" style="display:none">

               <li data-bind="attr: {label: $root.userData().email}">
                    <a data-bind="text: $root.userData().email, href: url"></a>
                </li>

                <!-- ko foreach: globalNavItems -->
                <li data-bind="attr: {id: label}">
                    <a data-bind="text: label, href: url"></a>
                </li>
                <!-- /ko -->
            </ul>
            <button class="oj-button globalStoreLink" data-bind="click: $parent.toggleDrawer">
                <span class="globalStoreText" data-bind="text: $root.activeLocation"></span>
                <span class="arrowLocation fa fa-location-arrow"></span>
            </button>
        </div>
    </div>
    <div class="oj-flex" data-bind="css: $root.router.stateId() + 'TitleWrap'">
        <h1 data-bind="text: $root.pageTitle" class="pageTitle"></h1>
    </div>
</script>
<!-- oj-row -->
<script type="text/html" id="app_nav_template">
    <li data-bind="attr: {id: $data['id']}">
        <a href="#">
            <span class="topNavImgIcon" width="24px" height="22px"></span>
        </a>
    </li>
</script>

<script type="text/html" id="app_nav_off_canvas_template">
    <li>
        <a href="#">
            <span data-bind="css: $data['iconClass']"></span>
            <span data-bind="text: $data['name']"></span>
        </a>
    </li>
</script>
<div id="headerTemplate" data-bind="template: {name: $root.large() ? 'lg_xl_header_template' : 'sm_md_header_template'}"></div>
