<!-- small template -->
<script type="text/html" id="sm_template">
    <div id="inventoryNavList" class="oj-flex mobileSubNav" data-bind="if: router.stateId(), click:toggleSections">
        <div data-bind="with: router.currentState()" class="oj-flex-item">
            <div class="mobileNavTitleArea oj-flex-bar">
                <span class="oj-flex-bar-start" id="currentPage" data-bind="text: label"></span>
                <span class="oj-flex-bar-end"><i class="fa fa-chevron-down"></i></span>
            </div>
        </div>
    </div>

    <div class="oj-flex mobileSubNavList" data-bind="visible: sectionsState">
        <div id="inventoryTabs" class="oj-flex-item" data-bind="ojComponent: {component: 'ojNavigationList', selection: router.stateId(), beforeSelect: selectHandler, drillMode: 'none'}">
            <ul data-bind="foreach: router.states">
                <li data-bind="attr: {id: id}, click: $parent.toggleSections">
                    <a data-bind="text: label"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mainContentArea">
        <div class="oj-flex oj-flex-items-pad" data-bind="if: router.stateId()">
            <div id="inventoryTabSection" class="oj-flex-item" data-bind="with: router.currentState()">
                <div data-bind="template: {name: 'inventory-management/' + id +'/' + id + '-small'}"></div>
            </div>
        </div>
    </div>
    <!--inventory dialog modal-->
    <div data-bind="template: {name: 'inventory-management/dialogwindow/dialogwindow-small'}"></div>
</script>

<!-- large template -->
<script type="text/html" id="md_lg_xl_template">
        <div id="inventorySectionTabs" class="oj-flex-item subTabs">
            <div data-bind="ojComponent: {component: 'ojConveyorBelt'}">  
                <div id="inventoryTabs" data-bind="ojComponent: {component: 'ojNavigationList', selection: router.stateId(), beforeSelect: selectHandler, drillMode: 'none', edge: 'top'}">
                    <ul data-bind="foreach: router.states">
                        <li data-bind="attr: {id: id}">
                            <a data-bind="text: label"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="oj-flex oj-flex-items-pad">
        <div id="inventoryTabWrapper" class="oj-flex-item" data-bind="if: router.stateId()">
            <div data-bind="with: router.currentState()">
                    <div data-bind="template: {name: 'inventory-management/' + id +'/' + id + '-large'}"></div>
            </div>
        </div>
    </div>

    <!--inventory dialog modal-->
    <div data-bind="template: {name: 'inventory-management/dialogwindow/dialogwindow-large'}"></div>   
</script>


<div id="templateWrapper" data-bind="template: {name: $root.medium() ? 'md_lg_xl_template' : 'sm_template'}"></div>
