<div id="offCanvasScope">
    <div id="vtabs" data-bind="ojComponent:{component: 'ojTabs', orientation: 'vertical'}">
        <ul class="regionReportUl">
            <li class="regionReportLi">
                <span class="oj-sm-only-hide">Favorites</span>
                <span class="oj-md-hide"><i class="fa fa-star" aria-hidden="true"></i></span>
            </li>
            <li class="regionReportLi">
                <span class="oj-sm-only-hide">Recently Viewed</span>
                <span class="oj-md-hide"><i class="fa fa-hourglass-half" aria-hidden="true"></i></span>
            </li>
            <li class="regionReportLi">
                <span class="oj-sm-only-hide">Browse</span>
                <span class="oj-md-hide"><i class="fa fa-eye" aria-hidden="true"></i></span>
            </li>
            <li class="regionReportLi">
                <span class="oj-sm-only-hide">Search</span>
                <span class="oj-md-hide"><i class="fa fa-search" aria-hidden="true"></i></span>
            </li>
        </ul>
        <div id="tabs-1" class="regionTabSections" style="padding-top: 10px; ">
             <div id="filmStripDiv">
                <div id="filmStrip"
                     aria-label="Set of chemicals"
                     data-bind="ojComponent: {
                       component: 'ojFilmStrip',
                       arrowPlacement: $root.currentNavArrowPlacement,
                       arrowVisibility: $root.currentNavArrowVisibility}">
                         <!-- ko foreach: $root.userData().assignedLocations-->

                        <div class="analyticsWrapper" data-bind="click: $root.updateActiveLocation">
                            <div data-bind="css: ((locID == $root.activeLocationId()) ? 'active' : 'inactive')"></div>
                            <div class="analyticsContent">
                                <div class="analyticsStore" data-bind="text: name"></div>
                                <div class="analyticsCity" data-bind="text: cityname"></div>
                                <div class="analyticsRegion" data-bind="text: region"></div>

                                <div class="locTotalSummary">
                                    <div class="analyticsTotalgreen">
                                            <!--<span class="dailySalesLabel">Daily Sales:</span>-->
                                            <span data-bind="text: dailySales"></span>
                                            <i class="fa fa-arrow-circle-o-up"></i>
                                    </div>
                                    <div class="analyticsTotalred">
                                            <!--<span class="dailyLaborCostLabel">Daily Labor Cost:</span>-->
                                            <span data-bind="text: laborCosts"></span>
                                            <i class="fa fa-arrow-circle-o-down"></i>
                                    </div>
                                </div>
                                <div class="viewedStatus">
                                    <span data-bind="visible: !(locID == $root.activeLocationId())">Viewed x days/hours ago</span>
                                    <span data-bind="visible: (locID == $root.activeLocationId())"><i><strong>Currently Viewing</strong></i></span>
                                </div>
                            </div>
                        </div>
                         <!-- /ko -->
                           </div>
                    </div>
        </div>
        <div id="tabs-2" class="regionTabSections">
           <p>Vertical Tab 2.</p>
        </div> 

        <div id="tabs-3" class="regionTabSections">
            <p>Vertical Tab 3.</p>
        </div>

        <div id="tabs-4" class="regionTabSections">
            <p>Vertical Tab 4.</p>
        </div>
    </div>
</div>
