<!-- small template -->
<script type="text/html" id="sm_template">
  <div id="reports-analyticsNavList" class="oj-flex mobileSubNav" >
        
    </div>
   <div class="mainContentArea">
         <div class="oj-flex oj-flex-items-pad">
            <div id="reports-analyticsSection" class="oj-flex-item">
                <a data-bind="click: function(){$root.handleOpen('#reports-analyticsDialogWindow')}" style="line-height:39px;">edit <i class="fa fa-pencil-square-o"></i></a>
        
            </div>
        </div>
    </div>
    <!--reports-analytics dialog modal-->
    <div data-bind="template: {name: 'reports-analytics/dialogwindow/dialogwindow-small'}"></div>
</script>

<!-- large template -->
<script type="text/html" id="md_lg_xl_template">
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-flex-item">
            -large
            <a data-bind="click: function(){$root.handleOpen('#reports-analyticsDialogWindow')}" style="line-height:39px;">edit <i class="fa fa-pencil-square-o"></i></a>
        </div>
    </div>
    <!--reports-analytics dialog modal-->
    <div data-bind="template: {name: 'reports-analytics/dialogwindow/dialogwindow-large'}"></div>
</script>


<div id="templateWrapper" data-bind="template: {name: $root.medium() ? 'md_lg_xl_template' : 'sm_template'}"></div>