<!-- small template -->
<script type="text/html" id="sm_template">
    <div class="oj-row oj-cols-nopad">
        <div id="enterpriseNavList" class="oj-sm-12 oj-col app-header-mobile-nav-title" data-bind="if: router.stateId(), click:toggleSections">
            <div data-bind="with: router.currentState()">
                <div class="mobileNavTitleArea">
                    <div id="currentPage"><span class="oj-sm-11 oj-col"><span data-bind="text: label"></span> <span data-bind="css: value"></span></span> <span class="oj-sm-1 oj-col"></span><i class="fa fa-chevron-down"></i></span></div>
                </div>
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-sm-12 oj-col" data-bind="visible: sectionsState">
                <div id="enterpriseTabs" data-bind="ojComponent: {component: 'ojNavigationList', selection: router.stateId(), beforeSelect: selectHandler, drillMode: 'none'}">
                    <ul data-bind="foreach: router.states">
                        <li data-bind="attr: {id: id}, click: $parent.toggleSections">
                            <a data-bind="text: label"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="oj-sm-12 oj-col" data-bind="if: router.stateId()">
                <div id="enterpriseSection" class="oj-panel tab-content" data-bind="with: router.currentState()">
    <!--                    <h2 id="currentPage" data-bind="text: label"></h2>-->
                    <div data-bind="template: {name: 'enterprise/' + id +'/' + id + '-small'}"></div>
                </div>
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-sm-12 oj-col" id="footCol">
                <footer role="contentinfo">
                  <div id='appfooterDiv' data-bind="ojModule: {
                                                        name: 'footer', 
                                                        viewName: 'footer'}">
                  </div>
                </footer>
            </div>
        </div>
    </div>
<!--enterprise dialog modal-->
<div data-bind="template: {name: 'enterprise/dialogwindow/dialogwindow-small'}"></div>
</script>

<!-- large template -->
<script type="text/html" id="md_lg_xl_template">
    <div class="oj-md-12 oj-col enterpriseWrapper">
        <div id="enterpriseSection" class="oj-col oj-md-12 page-header">
            <h1>
                <span data-bind="text: pageHeading"></span>
            </h1>
        </div>
        <div id="enterpriseSectionTabs" class="oj-md-12 oj-col">
            <div data-bind="ojComponent: {component: 'ojConveyorBelt'}">  
                <div id="enterpriseTabs" data-bind="ojComponent: {component: 'ojNavigationList', selection: router.stateId(), beforeSelect: selectHandler, drillMode: 'none', edge: 'top'}">
                    <ul data-bind="foreach: router.states">
                        <li data-bind="attr: {id: id}">
                            <a data-bind="text: label"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="enterpriseTabWrapper" class="oj-md-12 oj-col" data-bind="if: router.stateId()">
        <div class="oj-panel tab-content" data-bind="with: router.currentState()">
            <h2 id="currentPage"><span data-bind="text: label"></span></span></h2>
                <div data-bind="template: {name: 'enterprise/' + id +'/' + id + '-large'}"></div>
        </div>
    </div>
    <div class="oj-row">
        <div class="oj-md-12 oj-col" id="footCol">
            <footer role="contentinfo">
              <div id='appfooterDiv' data-bind="ojModule: {name: 'footer', viewName: 'footer'}"></div>
            </footer>
        </div>
    </div>
<!--enterprise dialog modal-->
<div data-bind="template: {name: 'enterprise/dialogwindow/dialogwindow-large'}"></div>
</script>

<div id="templateWrapper" class="templateArea" data-bind="template: {name: $root.medium() ? 'md_lg_xl_template' : 'sm_template'}"></div>
