<div class="oj-row">
    <div class="oj-col">
        <!--
    <ul data-bind="foreach: footerLinks">
        <li> <a data-bind="text : name, attr : {id: linkId, href : linkTarget}"> </a> </li>
    </ul>
    -->
<!--
        <span class="page-sub-navigation">
            <span data-bind="text: $child.pageSubNavigation"></span>
            <a href="#">change</a>
        </span>
-->
    </div>

    <div class="oj-md-1 oj-lg-2 oj-col">&nbsp;</div>
    <div class="oj-md-11 oj-lg-10 oj-col">Copyright &copy; 2014, 2015 Oracle and/or its affiliates. All rights reserved</div>

</div>
