<!-- small template -->
<script type="text/html" id="sm_md_header_template">
    <div class="oj-row oj-cols-nopad app-header-mobile">
        <div class="oj-sm-9 oj-col">
            <button class='oj-button-half-chrome' data-bind="click:toggleAppDrawer,
			     ojComponent: {component:'ojButton',
                                    label: offScreenButtonLabel, 
                                    display: 'icons',  
                                    icons: {start: offScreenButtonIconClass}}">
            </button>
            <span role="img" class="appheader-logo-oracle" title="Oracle Logo" alt="Oracle Logo"></span>
            <span data-bind="visible: $parents[0].getStateID()">
                <a data-bind="click: $parent.handleOpen">
                    <span class="locationAreaHd" data-bind="text: $parents[0].locationArea"></span>
                    <span class="arrowLocation fa fa-location-arrow"></span>
                </a>
            </span>
        </div>
        <div class="oj-sm-3 oj-col oj-helper-text-align-right">
            <button class='oj-button-half-chrome' data-bind="ojComponent: { component: 'ojButton',
                             label: 'Avatar', 
                             display: 'icons',
                             icons: {start:'oj-icon fa fa-user'},
                             menu: '#appheaderGlobalNavMenuId'
                             }">
            </button>
        </div>
        <ul id="appheaderGlobalNavMenuId" data-bind="ojComponent: {component: 'ojMenu', select: menuItemSelect}" style="display:none">

            <li data-bind="attr: {label: userName}">
                <a data-bind="text: userName, href: url"></a>
            </li>

            <!-- ko foreach: globalNavItems -->
            <li data-bind="attr: {id: label}">
                <a data-bind="text: label, href: url"></a>
            </li>
            <!-- /ko -->
        </ul>
    </div>
    <div class="oj-sm-12">
        <div id="app-header-mobile-nav" data-bind="ojComponent: {component: 'ojNavigationList',
                              drillMode: 'none', 
                              edge: 'top', 
                              selection: $root.router.stateId(),
                              data: dataSource,
                              optionChange: $root.optionChangeHandler,
                              item: { template: 'app_nav_template' }
                              }" aria-label="Choose only one navigation element">
        </div>
    </div>
</script>
<!-- large template -->
<script type="text/html" id="lg_xl_header_template">
    <div class="oj-row app-header-desktop">
        <div class="oj-lg-4 oj-xl-4 oj-col app-header-logo-wrap">
            <div class="oj-md-1 oj-col"><a data-bind="click: toggleSideNav"><i class="fa fa-bars"></i></a></div>
                <div role="img" class="oj-icon appheader-logo-oracle" title="Oracle Logo" alt="Oracle Logo"></div>
                <div class="appheader-appname" data-bind="text: appName"></div>
        </div>

        <div class="oj-lg-5 oj-xl-5 oj-col">
            <div id="app-header-desktop-nav" class="oj-lg-justify-content-center oj-xl-justify-content-flex-end" data-bind="ojComponent: {component: 'ojNavigationList',
                              drillMode: 'none',
                              edge: 'top',
                              selection: $root.router.stateId(),
                              data: dataSource,
                              optionChange: $root.optionChangeHandler,
                              item: { template: 'app_nav_template' }
                              }" aria-label="Choose only one navigation element">
            </div>
        </div>

        <div class="oj-lg-3 oj-xl-3 oj-col userMenuWrap">
            <!-- This pulldown menu is used for wider screens -->
            

            <button id="userMenu" class='oj-button-half-chrome' data-bind="ojComponent: { component: 'ojButton',
                             label: 'Avatar', 
                             display: 'icons',
                             icons: {start:'oj-icon fa fa-user'},
                             menu: '#appheaderGlobalNavMenuId'
                             }">
            </button>
            <ul id="appheaderGlobalNavMenuId" data-bind="ojComponent: {component: 'ojMenu', select: menuItemSelect}" style="display:none">

                <li data-bind="attr: {label: userName}">
                    <a data-bind="text: userName, href: url"></a>
                </li>

                <!-- ko foreach: globalNavItems -->
                <li data-bind="attr: {id: label}">
                    <a data-bind="text: label, href: url"></a>
                </li>
                <!-- /ko -->
            </ul>
                        <a class="scopeLink" data-bind="click: $module.changeClass, css:{scopeLinkActive: $module.newClass() == true}"><span class="arrowLocation fa fa-location-arrow"></span>
                            <span class="topLocationLink" data-bind="text: globalCityName()? globalCityName() : 'Beacon Hill'"></span></a>
            </div>
    </div>
</script>
<!-- oj-row -->
<script type="text/html" id="app_nav_template">
    <li data-bind="attr: {id: $data['id']}">
        <a href="#">
            <span class="topNavImgIcon" width="24px" height="22px"></span>
            <span class="oj-sm-only-hide oj-lg-hide topNavText" data-bind="text: $data['name']" class="oj-sm-only-hide oj-lg-hide"></span>
        </a>
    </li>
</script>

<script type="text/html" id="app_nav_off_canvas_template">
    <li>
        <a href="#">
            <span data-bind="css: $data['iconClass']"></span>
            <span data-bind="text: $data['name']"></span>
        </a>
    </li>
</script>
<div data-bind="template: {name: $root.large() ? 'lg_xl_header_template' : 'sm_md_header_template'}"></div>
