<!-- small template -->
<script type="text/html" id="sm_template">
<div class="oj-row oj-cols-nopad">
    <div id="homeNavList" class="oj-sm-12 oj-col app-header-mobile-nav-title">
    </div>
    <div class="oj-row">
        <div class="oj-sm-12 oj-col">
            <div id="homeSection" class="oj-panel tab-content">

            </div>
        </div>
        <div class="oj-row">
            <div class="oj-sm-12 oj-col" id="footCol">
                <footer role="contentinfo">
                  <div id='appfooterDiv' data-bind="ojModule: {
                                                        name: 'footer', 
                                                        viewName: 'footer'}">
                  </div>
                </footer>
            </div>
        </div>
    </div>
</div>
</script>

<!-- large template -->
<script type="text/html" id="md_lg_xl_template">
    <div class="oj-md-12 oj-col homeWrapper">
        <div id="homeSection" class="oj-col oj-med-12 oj-lg-12 oj-xl-12 page-header">
            <h1>
                <span data-bind="text: pageHeading"></span>
                <div id="city" data-bind="text: $root.globalstoreName ? $root.globalstoreName : $parent.storeName"></div>
            </h1>
        </div>

    </div>
    <div id="homeTabWrapper" class="oj-md-12 oj-col">
        <div class="oj-panel tab-content">

        </div>
    </div>
    <div class="oj-row">
        <div class="oj-md-12 oj-col" id="footCol">
            <footer role="contentinfo">
              <div id='appfooterDiv' data-bind="ojModule: {name: 'footer', viewName: 'footer'}"></div>
            </footer>
        </div>
    </div>
</script>


<div id="templateWrapper" class="templateArea" data-bind="template: {name: $root.medium() ? 'md_lg_xl_template' : 'sm_template'}"></div>
