<!-- large template -->
<script type="text/html" id="md_lg_xl_template">
    <div class="oj-md-12 oj-col homeWrapper">
        <div id="homeSection" class="oj-col oj-med-12 oj-lg-12 oj-xl-12 page-header">
            <h1>
                <span data-bind="text: pageHeading"></span>
            </h1>
            <span data-bind="text: pageSubNavigation"></span>
            <a href="#">change</a>
        </div>
    </div>
</script>
<!-- small template -->
<script type="text/html" id="sm_template">

</script>

<div data-bind="template: {name: $root.medium() ? 'md_lg_xl_template' : 'sm_template'}"></div>
