<!-- small template -->
<script type="text/html" id="sm_template">
    <div class="oj-row oj-cols-nopad">
        <div id="inventoryNavList" class="oj-sm-12 oj-col app-header-mobile-nav-title" data-bind="if: router.stateId(), click:toggleSections">
            <div data-bind="with: router.currentState()">
                <div class="mobileNavTitleArea">
                    <span class="oj-sm-11 oj-col" id="currentPage" data-bind="text: label"></span><span class="oj-sm-1 oj-col"><i class="fa fa-chevron-down"></i></span>
                </div>
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-sm-12 oj-col" data-bind="visible: sectionsState">
                <div id="inventoryTabs" data-bind="ojComponent: {component: 'ojNavigationList', selection: router.stateId(), beforeSelect: selectHandler, drillMode: 'none'}">
                    <ul data-bind="foreach: router.states">
                        <li data-bind="attr: {id: id}, click: $parent.toggleSections">
                            <a data-bind="text: label"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="oj-sm-12 oj-col" data-bind="if: router.stateId()">
                <div class="oj-panel tab-content" data-bind="with: router.currentState()">
<!--                    <h2 id="currentPage" data-bind="text: label"></h2>-->
                    <div data-bind="template: {name: 'inventory/' + id +'/' + id + '-small'}"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<!-- large template -->
<script type="text/html" id="md_lg_xl_template">
    <div class="oj-md-12 oj-col inventoryWrapper">
        <div id="inventorySection" class="oj-col oj-md-12 page-header">
            <h1>
                 <span data-bind="text: pageHeading"></span>
             </h1>

        </div>
        <div id="inventorySectionTabs" class="oj-md-12 oj-col">
            <div data-bind="ojComponent: {component: 'ojConveyorBelt'}">  
                <div id="inventoryTabs" data-bind="ojComponent: {component: 'ojNavigationList', selection: router.stateId(), beforeSelect: selectHandler, drillMode: 'none', edge: 'top'}">
                    <ul data-bind="foreach: router.states">
                        <li id="id" data-bind="attr: {id: id}">
                            <a data-bind="text: label"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="oj-md-12 oj-col" data-bind="if: router.stateId()">
        <div class="oj-panel tab-content" data-bind="with: router.currentState()">
            <h2 id="currentPage" data-bind="text: label"></h2>
                <div data-bind="template: {name: 'inventory/' + id +'/' + id + '-large'}"></div>
        </div>
    </div>

</script>

<div id="templateWrapper" class="templateArea" data-bind="template: {name: $root.medium() ? 'md_lg_xl_template' : 'sm_template'}"></div>
