<!-- small template -->
<script type="text/html" id="sm_template">
<div class="oj-row oj-cols-nopad">    
    <div class="oj-sm-12 oj-col app-header-mobile-nav-title" data-bind="if: tabRouter.stateId(), click:toggleSections">
        <div data-bind="with: tabRouter.currentState()">
            <div class="mobileNavTitleArea">
                <span id="currentPage" data-bind="text: label"></span>
            </div>
        </div>
    </div>
    <div class="oj-row">
        <div class="oj-sm-12 oj-col" data-bind="visible: sectionsState">
            <div id="profileTabs" data-bind="ojComponent: {component: 'ojNavigationList', selection: tabRouter.stateId(), beforeSelect: selectTabHandler, drillMode: 'none'}">
                <ul data-bind="foreach: tabRouter.states">
                    <li data-bind="attr: {id: id}, click:$parent.toggleSections">
                        <a data-bind="text: label"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="justifyCenter">
    <div id="personaldetails" class="oj-row">
        <div class="oj-row">
            <div class="oj-sm-3 oj-col">
                <img style="width:50px; height:50px;" data-bind="attr: {src: getPhoto(personProfile().empId)}" />
            </div>
            <div class="oj-sm-9 oj-col">
                <h2 data-bind="text: personProfile().firstName + ' ' + personProfile().lastName"></h2>
            </div>
        </div>
        <div class="oj-row">
            <ul class="profileStatusToolArea">
                <li>
                    <h4>Home Store</h4>
<!--                    <span data-bind="text: personProfile().homeStore"></span>-->                   
                    <a data-bind="click: $parents[0].handleOpen('#homeStoreDialog')">transfer</a>
                </li>
                <li>
                    <h4>Hire Status</h4>
                    <span data-bind="text: personProfile().hireStatus"></span>
                    <a data-bind="click: $parents[0].handleOpen('#hireStatusDialog')">update</a>

                </li>
                <li>
                    <h4>External Payroll ID</h4>
                    <span data-bind="text: personProfile().externalPayrollId"></span>
                    <a data-bind="click: $parents[0].handleOpen('#externalPayrollDialog')">edit</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="oj-row">
    <div class="oj-sm-12 oj-col" data-bind="if: tabRouter.stateId()">
        <div class="oj-panel tab-content" data-bind="with: tabRouter.currentState()">

            <div data-bind="template: {name: 'profile/' + id +'/' + id + '-small'}"></div>
        </div>
    </div>
</div>

<!--Home Store dialog modal-->
<div data-bind="template: {name: 'partials/employee-home-store-modal/employee-home-store-modal-small'}"></div>

<!--Hire Status dialog modal-->
<div data-bind="template: {name: 'partials/employee-hire-status-modal/employee-hire-status-modal-small'}"></div>

<!--External Payroll ID dialog modal-->
<div data-bind="template: {name: 'partials/employee-external-payroll-modal/employee-external-payroll-modal-small'}"></div>
</script>

<!-- large template -->
<script type="text/html" id="md_lg_xl_template">
<div class="justifyCenter">
   <div class="oj-row addedNewEmpMessage">
        <div class="oj-md-12 oj-col">
            <span data-bind="text: personProfile().firstName + ' ' + personProfile().lastName"></span> has been successfully added!
        </div>
    </div>
    <div id="personaldetails" class="oj-row">
        <div class="oj-col oj-md-1 oj-lg-1">
            <img data-bind="attr: {src: getPhoto(personProfile().empId)}" />
        </div>
        <div class="oj-col oj-md-2 oj-lg-2">
            <h2 data-bind="text: personProfile().firstName + ' ' + personProfile().lastName"></h2>
        </div>
        <div class="oj-col oj-md-3 oj-lg-3">
           <h4>Home Store</h4>
           <span data-bind="text: personProfile().homeStore"></span>
           <a data-bind="click: $parents[0].handleOpen('#homeStoreDialog')">transfer</a>
        </div>
        <div class="oj-col oj-md-3 oj-lg-3">
           <h4>Hire Status</h4>
           <span data-bind="text: personProfile().hireStatus"></span>
           <a data-bind="click: $parents[0].handleOpen('#hireStatusDialog')">update</a>
        </div>
        <div class="oj-col oj-md-3 oj-lg-3">
           <h4>External Payroll ID</h4>
           <span data-bind="text: personProfile().externalPayrollId"></span>
           <a data-bind="click: $parents[0].handleOpen('#externalPayrollDialog')">edit</a>
        </div>
    </div>
</div>
<div class="oj-row">
    <div class="oj-md-12 oj-col">
        <div data-bind="ojComponent: {component: 'ojConveyorBelt'}">
            <div id="profileTabs" data-bind="ojComponent: {component: 'ojNavigationList', selection: tabRouter.stateId(), beforeSelect: selectTabHandler, drillMode: 'none', edge: 'top'}">
                <ul data-bind="foreach: tabRouter.states">
                    <li data-bind="attr: {id: id}">
                        <a data-bind="text: label"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="oj-md-12 oj-col" data-bind="if: tabRouter.stateId()">
        <div class="oj-panel tab-content" data-bind="with: tabRouter.currentState()">

            <div data-bind="template: {name: 'profile/' + id +'/' + id + '-large'}"></div>
        </div>
    </div>
</div>


<!--Home Store dialog modal-->
<div data-bind="template: {name: 'partials/employee-home-store-modal/employee-home-store-modal-large'}"></div>

<!--Hire Status dialog modal-->
<div data-bind="template: {name: 'partials/employee-hire-status-modal/employee-hire-status-modal-large'}"></div>

<!--External Payroll ID dialog modal-->
<div data-bind="template: {name: 'partials/employee-external-payroll-modal/employee-external-payroll-modal-large'}"></div>
</script>



<div data-bind="template: {name: $root.medium() ? 'md_lg_xl_template' : 'sm_template'}"></div>
