<!-- small template -->
<script type="text/html" id="sm_template">
<div class="oj-row oj-cols-nopad">    
    <div id="profileNavList" class="oj-sm-12 oj-col app-header-mobile-nav-title" data-bind="if: tabRouter.stateId(), click:toggleSections">
        <div data-bind="with: tabRouter.currentState()">
            <div class="mobileNavTitleArea">
                <span class="oj-sm-11 oj-col">
                    <span id="currentPage" data-bind="text: label"></span>
                    <span class="helpIcon" data-bind="visible: id == 'profile'"><a data-bind="click: function(){alert('Helllllllooooo'); return false;}"><i class="fa fa-question-circle"></i></a></span>
                    <span class="helpIcon" data-bind="visible: id == 'schedules-timecards'"><a data-bind="click: function(){alert('Helllllllooooo');}"><i class="fa fa-question-circle"></i></a></span>
                </span>
                
                <span class="oj-sm-1 oj-col"><i class="fa fa-chevron-down"></i></span>
                
            </div>
        </div>
    </div>
    <div class="oj-row">
        <div class="oj-sm-12 oj-col" data-bind="visible: sectionsState">
            <div id="profileTabs" data-bind="ojComponent: {component: 'ojNavigationList', selection: tabRouter.stateId(), beforeSelect: selectTabHandler, drillMode: 'none'}">
                <ul data-bind="foreach: tabRouter.states">
                    <li data-bind="attr: {id: id}, click:$parent.toggleSections">
                        <a data-bind="text: label"></a>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="justifyCenter">
   <div class="oj-row addedNewEmpMessage">
        <div class="oj-md-12 oj-col">

            <span data-bind="text: personProfile().firstName + ' ' + personProfile().lastName"></span> has been successfully added!
        </div>
    </div>
    <div id="personaldetails" class="oj-row">
        <div class="oj-row">
            <div class="oj-sm-3 oj-col">
                <span class="imageOverlayProfile"></span>
                <img id="empImg" style="width:80px; height:80px;" data-bind="attr: {src: getPhoto(personProfile().empId)}" />
            </div>
            <div class="oj-sm-9 oj-col profileNameArea">
                <h2>
                    <span data-bind="text: firstName()"></span>
                    <span data-bind="text: lastName()"></span>
                    <a data-bind="click: handleOpen('#employeeLogModal')"><i class="profileHelpIcon fa fa-book"></i></a>
                </h2>
                 <div class="oj-sm-12 oj-col parentProfileStatusToolArea">
                    <ul class="profileStatusToolArea">
                        <li>
                           <i class="fa fa-home"></i>
                            <strong>Home Store</strong>
                             <a data-bind="click: handleOpen('#homeStoreDialog')"><span data-bind="text: personProfile().homeStore"></span>                   
                           <i class="fa fa-share"></i></a>

                        <li>
                            <i class="fa fa-user-plus"></i>
                            <strong>Hire Status</strong>
                            <a data-bind="click: handleOpen('#hireStatusDialog')"><span data-bind="text: personProfile().hireStatus"></span>
                           <i class="fa fa-refresh"></i></a>

                        </li>
                    </ul>

                </div>
            </div>
           
        </div>



    </div>
</div>
<div class="oj-row">
    <div class="oj-sm-12 oj-col" data-bind="if: tabRouter.stateId()">
        <div class="oj-panel tab-content" data-bind="with: tabRouter.currentState()">

            <div data-bind="template: {name: 'profile/' + id +'/' + id + '-small'}"></div>
        </div>
    </div>
</div>
<div class="oj-row">
    <div class="oj-sm-12 oj-col" id="footCol">
        <footer role="contentinfo">
          <div id='appfooterDiv' data-bind="ojModule: {
                                                name: 'footer', 
                                                viewName: 'footer'}">
          </div>
        </footer>
    </div>
</div>
    
<!--Employee dialog modal-->
<div data-bind="template: {name: 'profile/profile/employee-log/employee-log-modal-small'}"></div>

<!--Home Store dialog modal-->
<div data-bind="template: {name: 'partials/employee-home-store-modal/employee-home-store-modal-small'}"></div>

<!--Hire Status dialog modal-->
<div data-bind="template: {name: 'partials/employee-hire-status-modal/employee-hire-status-modal-small'}"></div>

<!--External Payroll ID dialog modal-->
<div data-bind="template: {name: 'partials/employee-external-payroll-modal/employee-external-payroll-modal-small'}"></div>
</script>

<!-- large template -->
<script type="text/html" id="md_lg_xl_template">
<div class="justifyCenter">
    <div class="oj-md-10 oj-col profileWrapper">
        <div id="profileSection" class="oj-col oj-md-12 page-header">

            <div class="oj-col oj-md-6 oj-lg-5">
                <h1>
                    <span data-bind="text: firstName()"></span>
                    <span data-bind="text: lastName()"></span>
                    <a data-bind="click: handleOpen('#employeeLogModal')"><i class="profileHelpIcon fa fa-book"></i></a>
                </h1>
            </div>
            <div class="oj-md-6 oj-col">
                <div class="oj-col profileToolBar">
                   <h4>Home Store</h4>
                   <span data-bind="text: personProfile().homeStore"></span>
                   <a data-bind="click: handleOpen('#homeStoreDialog')">transfer <i class="fa fa-share"></i></a>
                </div>
                <div class="oj-col profileToolBar">
                   <h4>Hire Status</h4>
                   <span data-bind="text: personProfile().hireStatus"></span>
                   <a data-bind="click: handleOpen('#hireStatusDialog')">update <i class="fa fa-refresh"></i></a>
                </div>

            </div>

        </div>

        <div id="profileSectionTabs" class="oj-md-12 oj-col">
            <div data-bind="ojComponent: {component: 'ojConveyorBelt'}">
                <div id="profileTabs" data-bind="ojComponent: {component: 'ojNavigationList', selection: tabRouter.stateId(), beforeSelect: selectTabHandler, drillMode: 'none', edge: 'top'}">
                    <ul data-bind="foreach: tabRouter.states">
                        <li data-bind="attr: {id: id}">
                            <a data-bind="text: label"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="oj-col profilePhotoArea oj-md-2">
    <span class="profileMask"></span>
        <span class="profileMaskImage" data-bind="style: {'backgroundImage': 'url('+ getPhoto(personProfile().empId) +')'}"></span>
<!--    <img id="empImg" data-bind="attr: {src: getPhoto(personProfile().empId)}" />-->
    </div>
</div>
<div class="oj-row addedNewEmpMessage">
     <div class="oj-md-12 oj-col">
         <span data-bind="text: personProfile().firstName + ' ' + personProfile().lastName"></span> has been successfully added!
     </div>
 </div>
<div class="oj-row">
    <div class="oj-md-12 oj-col" data-bind="if: tabRouter.stateId()">
        <div class="oj-panel tab-content" data-bind="with: tabRouter.currentState()">

            <div data-bind="template: {name: 'profile/' + id +'/' + id + '-large'}"></div>
                
        </div>
        <div class="float-r">
            <button class="editButton" data-bind="click: function(){$parent.handleOpen('#empDialog')}">edit <i class="fa fa-pencil-square-o"></i></button>
        </div>
    </div>
</div>
<div class="oj-row">
    <div class="oj-md-12 oj-col" id="footCol">
        <footer role="contentinfo">
          <div id='appfooterDiv' data-bind="ojModule: {name: 'footer', viewName: 'footer'}"></div>
        </footer>
    </div>
</div>
<!--Employee dialog modal-->
<div data-bind="template: {name: 'profile/profile/employee-log/employee-log-modal-large'}"></div>

<!--Home Store dialog modal-->
<div data-bind="template: {name: 'partials/employee-home-store-modal/employee-home-store-modal-large'}"></div>

<!--Hire Status dialog modal-->
<div data-bind="template: {name: 'partials/employee-hire-status-modal/employee-hire-status-modal-large'}"></div>

<!--External Payroll ID dialog modal-->
<div data-bind="template: {name: 'partials/employee-external-payroll-modal/employee-external-payroll-modal-large'}"></div>
</script>



<div class="templateArea" data-bind="template: {name: $root.medium() ? 'md_lg_xl_template' : 'sm_template'}"></div>
