<!-- small template -->
<script type="text/html" id="sm_template">
<div class="oj-row oj-cols-nopad">
    <div id="reportAnalyticsNavList" class="oj-sm-12 oj-col app-header-mobile-nav-title">
    </div>
</div>
</script>

<!-- large template -->
<script type="text/html" id="md_lg_xl_template">
    <div class="oj-md-12 oj-col reportsAnalyticsWrapper">
        <div id="reportAnalyticsSection" class="oj-col oj-med-12 oj-lg-12 oj-xl-12 page-header">
            <h1>
                <span data-bind="text: pageHeading"></span>
            </h1>
        </div>
    </div>
</script>


<div id="templateWrapper" data-bind="template: {name: $root.medium() ? 'md_lg_xl_template' : 'sm_template'}"></div>