<div>
    <h2>Getting Started - Search Existing/Past Employees</h2>
    <form>
        <label for="firstName">First Name</label>
        <input data-bind="ojComponent: {component: 'ojInputText', value: firstName}" />
        <br/>

        <label for="lastName">Last Name</label>
        <input data-bind="ojComponent: {component: 'ojInputText', value: lastName}" />
        <br/>

        <label for="dob">Date of Birth</label>
        <input data-bind="ojComponent: {component: 'ojInputText', value: dob}" />
        <br/>
    </form>

    <!--to check observable-->
    <!--            <span data-bind="text: firstName()"></span>-->
    <div class="resultWrapper">
        <div data-bind="ojComponent: {component: 'ojPagingControl', data: listViewDataSource, pageSize:10}"></div>
        <!--                Using the ojet listView Component-->
        <div class="listViewLabels">
            <div class="oj-row">
                <div class="oj-col oj-md-2">First Name</div>
                <div class="oj-col oj-md-2">Last Name</div>
                <div class="oj-col oj-md-2">DOB</div>
                <div class="oj-col oj-md-3">Last Manager Name</div>
                <div class="oj-col oj-md-2">Hire Status</div>
                <div class="oj-col oj-md-1">Update</div>
            </div>
        </div>
        <ul id="listview" data-bind="ojComponent: {component: 'ojListView',
                        data: listViewDataSource,
                        item: {template: 'empMatchlist_template'},
                        selectionMode: 'single',
                        currentItem: '100',
                        selection: ['100'],
                        rootAttributes: {style: 'width:100%;overflow:auto; margin-top: 5px'},
                        scrollPolicyOptions: {fetchSize: 10}}">
        </ul>

        <script type="text/html" id="empMatchlist_template">
            <li data-bind="attr: {id: $data['empId']}">
                <div class="oj-row" data-bind="click: $parent.toggleSections($data['empId'], '.empDetails')">
                    <div class="oj-col oj-sm-12 oj-md-2" data-bind="text: firstName"></div>
                    <div class="oj-col oj-sm-12 oj-md-2" data-bind="text: lastName"></div>
                    <div class="oj-col oj-sm-12 oj-md-2" data-bind="text: dob"></div>
                    <div class="oj-col oj-sm-12 oj-md-3" data-bind="text: mgrFirstName + ' ' + mgrLastName"></div>
                    <div class="oj-col oj-sm-12 oj-md-2" data-bind="text: hireStatus"></div>
                    <div class="oj-col oj-sm-12 oj-md-1"><a href="#" data-bind="click: $parent.loadPersonPage">Update</a></div>
                </div>
                <div class="empDetails">
                    <div class="oj-row">
                        <div class="oj-col oj-sm-12 oj-md-4">
                            <img style="width:75px; height:75px;" data-bind="attr: {src: $parent.getPhoto($data['empId'])}" />
                        </div>
                        <div class="oj-col oj-sm-12 oj-md-4" data-bind="text: lastName"></div>
                        <div class="oj-col oj-sm-12 oj-md-3" data-bind="text: hireStatus"></div>
                        <div class="oj-col oj-sm-12 oj-md-1"><a href="#" data-bind="click: $parent.loadPersonPage">Edit</a></div>
                    </div>
                </div>
            </li>
        </script>

        <!--                    OJ Table view-->
        <!--
                    <div class="oj-row">
                        <div class="oj-col oj-sm-12 oj-lg-12">
                            <table id="tableView"data-bind="ojComponent: {component: 'ojTable',
                            data: listViewDataSource, columns: [{headerText: 'First Name', sortProperty: 'firstName'}, {headerText: 'Last Name', sortProperty: 'lastName'},{headerText: 'DOB', sortProperty: 'dob'}, {headerText: 'Last Manager Name', sortProperty: 'lastManagerName'}, {headerText: 'SSN Match', sortProperty: 'ssnMatch'}, {headerText: 'Hire Status', sortProperty: 'hireStatus'}, {headerText: 'Edit', sortProperty: 'edit'}], rowTemplate: 'row_tmpl'}">
                            </table>
                        </div>
                    </div>

                    <script type="text/html" id="row_tmpl">
                        <tr>
                            <td data-bind="text: firstName"></td>
                            <td data-bind="text: lastName"></td>
                            <td data-bind="text: dob"></td>
                            <td data-bind="text: mgrFirstName + ' ' + mgrLastName"></td>
                            <td data-bind="text: ssn"></td>
                            <td data-bind="text: hireStatus"></td>
                            <td><a href="#" data-bind="click: $parent.loadPersonPage">Update</a></td>
                        </tr>
                    </script>
-->

        <!--<a href="index.html?root=add-employee" class="basic-btn-link">Create New Record</a>-->

        <button id="NextStep" type="button" style="display:inline-block;vertical-align:top;" data-bind="click: nextStep, ojComponent: {component: 'ojButton', label: 'Save and Continue ', icons: {end:'oj-fwk-icon-caret-end oj-fwk-icon'}}"></button>
    </div>
</div>
