<div style="display:none;" id="hireStatusDialog" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', rootAttributes: {class: 'generalModal-dimensions'},'position': {'my': 'start bottom', 'at': 'end+14 top'}}">
    <div class="oj-dialog-header oj-helper-clearfix" aria-labelledby="dialogTitleId">
        <span id="dialogTitleId" class="oj-dialog-title">
           <div>Hire Status Modal</div>
        </span>
    </div>
    <div class="oj-dialog-body">
        <div id="tabs-container">
            <div id="tabs" data-bind="ojComponent:{component: 'ojTabs', disabledTabs: [3]}">
                <!-- tab bar -->
                <ul>
                    <li><span>Hired</span></li>
                    <li><span>Terminated</span></li>
                    <li><span>Leave of Absence</span></li>
                </ul>
                <div id="tabs-1">
                    <div class="oj-row">
                        <div class="oj-col oj-sm-4">
                            <div>Hire Date</div>
                            <input data-bind="ojComponent: {component: 'ojInputDate', value: hireDate}" />
                        </div>
                        <div class="oj-col oj-sm-4">
                            <div>Type</div>
                            <div id="checkboxSetHireType" aria-labelledby="mainlabelid" data-bind="ojComponent: {component: 'ojCheckboxset', value: hireType}">
                              <span class="oj-choice-row">
                                <input id="temp" type="checkbox" value="temporary">
                                <label>Temporary</label>
                              </span>
                              <span class="oj-choice-row">
                                <input id="partTime" type="checkbox" value="partTime">
                                <label>Part-time</label>
                              </span>
                            </div>
                        </div>
                        <div class="oj-col oj-sm-4">
                            <div>Re-hire Date</div>
                            <input data-bind="ojComponent: {component: 'ojInputDate', value: reHireDate}" />
                        </div>
                    </div>
                </div>
                <div id="tabs-2">
                    <p>Terminated Tab</p>
                </div>
                <div id="tabs-3">
                    <p>Leave of Absence Tab</p>
                </div>
            </div>
        </div>
        <button id="submitButton" class="basic-btn" data-bind="click: function(){handleClose('#hireStatusDialog')}">Save</button>
    </div>
</div>
