<div style="display:none;" id="homeStoreDialog" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', rootAttributes: {class: 'generalModal-dimensions'}}">
   <div class="oj-dialog-header oj-helper-clearfix" aria-labelledby="dialogTitleId">
        <span id="dialogTitleId" class="oj-dialog-title">
           <div>Home Store Modal</div>
        </span>
     </div>
    <div class="oj-dialog-body">
        <div class="oj-row">

        </div>
        <button id="submitButton" class="basic-btn" data-bind="click: function(){handleClose('#homeStoreDialog')}">Save</button>
    </div>
</div>
