<div style="display:none" id="scheduleDetailDialog" title="" data-bind="ojComponent:{component: 'ojDialog', 
            initialVisibility: 'hide', 
            rootAttributes: {style: 'width: 900px; height: 800px;'}, 
            'position': {'my': 'start bottom', 'at': 'end+14 top'}}">
     <!-- Note: the user must provide the aria-labelledby attribute for the dialog to be accessible -->
     <div class="oj-dialog-header oj-helper-clearfix" aria-labelledby="dialogTitleId">
        <span id="dialogTitleId" class="oj-dialog-title">
            <h2>
            Edit Availablity, Days & Times, and School District for 
            <span data-bind="text: $parent.firstName"></span>
            <span data-bind="text: $parent.lastName"></span>
            </h2>

        </span>
     </div>
    <div class="oj-dialog-body">
        <div class="oj-row">
            <div class="oj-md-12 oj-col">
                <h4>Total Hours</h4>
            </div>
        </div>

        <div class="oj-row">
            <div class="custom-col-9 oj-col">&nbsp;</div>
            <div class="custom-col-9 oj-col"><strong>Week Total</strong></div>
            <!-- ko foreach: $parent.employeeAvailabilityList -->
            <div class="oj-col custom-col-9" data-bind="text: day"></div>
            <!-- /ko -->

        </div>
        <div class="oj-row">
            <div class="oj-row timeInputs">
                <div class="oj-col custom-col-9">Minimum</div>
                <div class="oj-col custom-col-9">
                    <input class="availabilityInputTotal" data-bind="value: $parent.minWeekTotal, ojComponent: {component: 'ojInputText',  readOnly: true}" />
                </div>
                <!-- ko foreach: $parent.employeeAvailabilityList -->
                <div class="oj-col custom-col-9">
                    <input data-bind="value: hoursavailablefrom, ojComponent: {component: 'ojInputText', converter: {type: 'number', options:{style:'decimal', minimumIntegerDigits: 1, minimumFractionDigits:1, maximumFractionDigits: 1}}}" />
                </div>
                <!-- /ko -->
            </div>
            <div class="oj-row timeInputs">
                <div class="oj-col custom-col-9">Maximum</div>
                <div class="oj-col custom-col-9">
                    <input class="availabilityInputTotal" data-bind="value: $parent.maxWeekTotal, ojComponent: {component: 'ojInputText', readOnly: true}" />
                </div>
                <!-- ko foreach: $parent.employeeAvailabilityList -->
                <div class="oj-col custom-col-9">
                    <input data-bind="value: hoursavailableto, ojComponent: {component: 'ojInputText', converter: {type: 'number', options:{style:'decimal', minimumIntegerDigits: 1, minimumFractionDigits:1, maximumFractionDigits: 1}}}" />
                </div>
                <!-- /ko -->
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-md-12">
                <h4>Days and Times</h4>
            </div>
            <hr class="oj-md-12" />
            
            <div class="oj-row timeSegmentRow">
<!-- ko foreach: $parent.daysAndTimesList -->
                <hr class="oj-md-12" />
                <div class="oj-md-2 oj-col vertical-align-items-stretch">
                    <label for="basicSelect">Time Segment</label>
                    <select id="basicSelect" data-bind="ojComponent: {component: 'ojSelect', value: timesegment}">
                    <!-- ko foreach: $parents[1].timeList() -->
                    <option data-bind="value: value, text: name"></option>
                    <!-- /ko -->
                    </select>
                </div>

                <div class="oj-md-9 oj-col secondColumn vertical-align-items-stretch">

                    <div id="tabs" data-bind="ojComponent:{component: 'ojTabs', selected: $parents[1].tabStatusResult(allday) ? 'tabs-1' : 'tabs-2'}">
                        <ul>
                            <li id="day"><span>Day</span></li>
                            <li id="partial"><span>Partial</span></li>
                        </ul>

                        <div id="tabs-1">
                            <div class="oj-md-12">
                                <div data-bind="text: $parents[1].allDayStatusResult(allday)"></div>
                                <label>Day of Week</label><br />
                                <select id="alldayweek" data-bind="ojComponent: {component: 'ojSelect', value: $parents[1].weekCompleteListResult(day)}">
                                <!-- ko foreach: $parents[1].weekOfDay() -->
                                <option data-bind="value: value, text: name"></option>
                                <!-- /ko -->
                                </select>
                            </div>
                        </div>
                        <div id="tabs-2">
                                <div class="oj-md-12 timeSegmentArea">
                                    <div class="oj-md-2 weekStartColumn">
                                        <label>Start of Week</label>
                                        <select id="startWeekSelect" data-bind="ojComponent: {component: 'ojSelect', value: $parents[1].weekCompleteListResult(day)}">
                                        <!-- ko foreach: $parents[1].weekOfDay() -->
                                        <option data-bind="value: value, text: name"></option>
                                        <!-- /ko -->
                                        </select>
                                    </div>

                                    <div class="oj-md-3 hourColumn">
                                        <label>Start Time</label>
                                          <input id="starttime" data-bind="ojComponent: {component: 'ojInputTime', 
                                                value: starttime, 
                                                timePicker: {
                                                timeIncrement: $parents[1].incrementValue()[0]}}"/>
                                    </div>
                                    <div class="oj-md-2"> </div>
                                    <div class="oj-md-2 weekStartColumn">
                                        <label>End of Week</label>
                                        <select id="startWeekSelect" data-bind="ojComponent: {component: 'ojSelect', value: $parents[1].weekCompleteListResult(day)}">
                                        <!-- ko foreach: $parents[1].weekOfDay() -->
                                        <option data-bind="value: value, text: name"></option>
                                        <!-- /ko -->
                                        </select>
                                    </div>

                                    <div class="oj-md-3 hourColumn">
                                        <label>Finish Time</label>
                                          <input id="starttime" data-bind="ojComponent: {component: 'ojInputTime', 
                                                value: endtime, 
                                                timePicker: {
                                                timeIncrement: $parents[1].incrementValue()[0]}}"/>
                                    </div>

                                </div>
                        </div>
                        <!--/ko-->
                        
                    </div>


            </div>
            <div class="oj-md-1 oj-col vertical-align-items-stretch"> 
                <div class="removeButton" data-bind="click: $parents[1].removeSegmentTime">
                  <i class="fa fa-trash"></i>
                </div>
            </div>
<!-- /ko -->
        </div>
    </div>
    <div class="oj-row">
        <div class="oj-md-12 oj-col">
            <div data-bind="click: $parent.addSegmentTime">Add Time Segment</div>
        </div>
    </div>
</div>
        
        
