<div style="display:none" id="scheduleDetailDialog" title="" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', rootAttributes: {class: 'scheduleModal-dimensions'}, 'position': {'my': 'start bottom', 'at': 'end+14 top'}}">
     <!-- Note: the user must provide the aria-labelledby attribute for the dialog to be accessible -->
     <div class="oj-dialog-header oj-helper-clearfix" aria-labelledby="dialogTitleId">
        <span id="dialogTitleId" class="oj-dialog-title">
            <span data-bind="text: $parent.firstName"></span>
            <span data-bind="text: $parent.lastName"></span>

        </span>
     </div>
    <div class="oj-dialog-body">
        hello
    </div>
</div>
