<div style="display:none;" id="empPayrollDialog" title="Edit Employee Payroll Information" data-bind="ojComponent:{component: 'ojDialog', initialVisibility: 'hide', rootAttributes: {class: 'generalModal-dimensions'}}">
    <div class="oj-dialog-body">
        <div class="oj-row">
            <strong>HELLO FROM PAYROLL MODAL</strong>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-md-3">
                <h3>General</h3>
            </div>
            <div class="oj-col oj-md-9">
                <h3>I9 Information</h3>
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-md-3">
                <div class="oj-col oj-md-12">External payroll ID</div>
                <div class="oj-col oj-md-12">
                    <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.extPayrollId}" />
                </div>
                <div class="oj-col oj-md-12">
                    <div><strong>Options</strong></div>
                    <div id="checkboxOptionsWages" aria-labelledby="mainlabelid" data-bind="ojComponent: {component: 'ojCheckboxset', value: ''}">
                        <span class="oj-choice-row">
                            <input id="temp" type="checkbox" value="minimum-wage">
                            <label>Allow sub minimum wage</label>
                          </span>
                        <span class="oj-choice-row">
                            <input id="partTime" type="checkbox" value="overtime">
                            <label>Overtime exempt</label>
                          </span>
                    </div>
                </div>
            </div>
            <div class="oj-col oj-md-9">
                <div class="oj-col oj-md-4">
                    <div>Date of Birth</div>
                    <input data-bind="ojComponent: {component: 'ojInputDate', value: $parent.birthDate}" />
                    <div><em>MM/DD/YYYY</em></div>
                    <div>Child Labor Law Requirements (Age 16)</div>
                </div>
                <div class="oj-col oj-md-4">
                   <div class="oj-col oj-md-12">INS Status</div>
                   <div class="oj-col oj-md-12">
                       <select id="basicSelect" data-bind="ojComponent: {component: 'ojSelect', value: $parent.insstatus, rootAttributes: {style:'max-width:20em'}}">
                            <option value="">Please Select</option>
                            <option value="Alien">Alien</option>
                            <option value="Citizen">Citizen</option>
                            <option value="Permanent Resident">Permanent Resident</option>
                        </select>
                    </div>
                    <div class="oj-col oj-md-12">Admission Number</div>
                    <div class="oj-col oj-md-12">
                        <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.admissionnumber()}" />
                    </div>
                    <div class="oj-col oj-md-12">INS Expiration Date</div>
                    <div class="oj-col oj-md-12">
                        <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.insexpirationdate()}" />
                    </div>
                </div>
                <div class="oj-col oj-md-4">
                    <div class="oj-col oj-md-12">Social Security Number</div>
                    <div class="oj-col oj-md-12">
                        <input type="password" id="password" data-bind="ojComponent: {component: 'ojInputPassword', value: $parent.socialsecuritynumber()}" />
                    </div>
                    <div class="oj-col oj-md-12">Confirm Social Security Number</div>
                    <div class="oj-col oj-md-12">
                        <input type="password" id="password" data-bind="ojComponent: {component: 'ojInputPassword', value: $parent.socialsecuritynumber()}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="oj-row">
            <div class="oj-col oj-md-12">
                <h3>Identity Documents</h3>
            </div>
            <div class="oj-col oj-md-12">
               <div><strong>Identify Document Type</strong></div>
                <div aria-labelledby="mainlabelid" data-bind="ojComponent: {component: 'ojRadioset', value: $parent.identifydocumenttype}">
                <!-- ko foreach: $parent.identityTypes -->
                    <span class="oj-choice-row">
                        <input data-bind="name: name, value: value" id="none" type="radio" >
                        <label for="none" data-bind="text: name"></label>
                    </span>
                <!-- /ko -->
                </div>
            </div>
            <hr class="oj-col oj-md-12" />
        </div>
        <div class="oj-row">
            <div class="oj-col oj-md-12">
                <strong>List B I9 Document Type</strong>
            </div>
            <div class="oj-col oj-md-3">
                <label for="basicSelect">Document Type</label>
                <select id="basicSelect" data-bind="ojComponent: {component: 'ojSelect', value: $parent.bi9documenttype}">
                <!-- ko foreach: $parent.bi9DocTypes -->
                <option data-bind="value: value, text: name"></option>
                <!-- /ko -->
                    </select>

            </div>
            <div class="oj-col oj-md-3">
                <div class="oj-col oj-md-12">Document ID</div>
                <div class="oj-col oj-md-12">
                    <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.bi9documentid}" />
                </div>
            </div>
            <div class="oj-col oj-md-2">
                <div class="oj-col oj-md-12">Expiration Date</div>
                <div class="oj-col oj-md-12">
<!--                    <input data-bind="ojComponent: {component: 'ojInputDate', value: $parent.bi9documentexpiration}" />-->
                </div>
            </div>
            <div class="oj-col oj-md-4">
                <div class="oj-col oj-md-12">Upload Document Image</div>
                <div class="oj-col oj-md-8">
                     <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.bi9documentupload}" />
                </div>
                <div class="oj-col oj-md-4">
                    <button id="buttonIcon2" data-bind="ojComponent: {component:'ojButton',
                                        icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'},
                                        label: 'Browse' }"></button>
                </div>

            </div>
            <hr class="oj-col oj-md-12" />
        </div>
        <div class="oj-row">
            <div class="oj-col oj-md-12">
               <strong> List C I9 Document Type</strong>
            </div>
            <div class="oj-col oj-md-3">
                <label for="basicSelect">Document Type</label>
                <select id="basicSelect" data-bind="ojComponent: {component: 'ojSelect', value: $parent.ci9documenttype}">
                <!-- ko foreach: $parent.ci9DocTypes -->
                <option data-bind="value: value, text: name"></option>
                <!-- /ko -->
            </select>

            </div>
            <div class="oj-col oj-md-3">
                <div class="oj-col oj-md-12">Document ID</div>
                <div class="oj-col oj-md-12">
                    <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.ci9documentid}" />
                </div>
            </div>
            <div class="oj-col oj-md-2">
                <div class="oj-col oj-md-12">Expiration Date</div>
                <div class="oj-col oj-md-12">
<!--                    <input data-bind="ojComponent: {component: 'ojInputDate', value: $parent.ci9documentexpiration}" />-->
                </div>
            </div>
            <div class="oj-col oj-md-4">
                <div class="oj-col oj-md-12">Upload Document Image</div>
                <div class="oj-col oj-md-8">
                     <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.ci9documentupload}" />
                </div>
                <div class="oj-col oj-md-4">
                    <button id="buttonIcon2" data-bind="ojComponent: {component:'ojButton',
                                icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'},
                                label: 'Browse'
                    }"></button>
                </div>
            </div>
            <hr class="oj-col oj-md-12" />
        </div>

        <div class="oj-row">
            <div class="oj-col oj-md-12">
               <div id="checkboxAgeCert" aria-labelledby="ageCert"
                 data-bind=
                   "ojComponent: {
                    component: 'ojCheckboxset',
                    value: $parent.agecertification()}" >
                  <span class="oj-choice-row">
                    <input id="agree" type="checkbox" value="1">
                    <label for="agree"><strong>Age Certification</strong></label>
                  </span>
                </div>
            </div>
            <div class="oj-col oj-md-4">
                <div class="oj-col oj-md-12">Certification Number</div>
                <div class="oj-col oj-md-12">
                    <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.certificationnumber}" />
                </div>
            </div>
            <div class="oj-col oj-md-4">
                <div class="oj-col oj-md-12">Expiration Date</div>
                <div class="oj-col oj-md-12">
<!--                    <input data-bind="ojComponent: {component: 'ojInputDate', value: $parent.certificationexpiration}" />-->
                </div>
            </div>
            <div class="oj-col oj-md-4">
                <div class="oj-col oj-md-12">Upload Document Image</div>
                <div class="oj-col oj-md-8">
                     <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.agecertupload}" />
                </div>
                <div class="oj-col oj-md-4">
                    <button id="buttonIcon2" data-bind="ojComponent: {component:'ojButton',
                                icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'},
                                label: 'Browse'
                    }"></button>
                </div>
            </div>

            <hr class="oj-col oj-md-12" />
        </div>

        <div class="oj-row">
            <div class="oj-col oj-md-12">
               <div id="checkboxWorkPermit" aria-labelledby="agreeId"
                 data-bind=
                   "ojComponent: {
                    component: 'ojCheckboxset',
                    value: $parent.workpermit}" >
                  <span class="oj-choice-row">
                    <input id="workPermit" type="checkbox" value="1">
                    <label for="agree"><strong>Work Permit</strong></label>
                  </span>
                </div>
            </div>
            <div class="oj-col oj-md-4">
                <div class="oj-col oj-md-12">Permit Number</div>
                <div class="oj-col oj-md-12">
                     <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.workpermitnumber}" />
                </div>
            </div>
            <div class="oj-col oj-md-4">
                <div class="oj-col oj-md-12">Expiration Date</div>
                <div class="oj-col oj-md-12">
<!--                    <input data-bind="ojComponent: {component: 'ojInputDate', value: $parent.workpermitexpiration}" />-->
                </div>
            </div>
            <div class="oj-col oj-md-4">
                <div class="oj-col oj-md-12">Upload Document Image</div>
                <div class="oj-col oj-md-8">
                    <input data-bind="ojComponent: {component: 'ojInputText', value: $parent.workpermitupload}" />
                </div>
                <div class="oj-col oj-md-4">
                    <button id="buttonIcon2" data-bind="ojComponent: {component:'ojButton',
                                icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'},
                                label: 'Browse'
                    }"></button>
                </div>
            </div>
        </div>
        <div class="button-row">
            <button id="submitButton" class="basic-btn" data-bind="click: function(){$parent.handleClose('#empPayrollDialog')}">Save</button>
        </div>
    </div>
</div>
