<div>
    <h2>New Employee - Add Analytics</h2>
    <form>
        <label for="firstName">First Name</label>
        <input data-bind="ojComponent: {component: 'ojInputText', value: firstName}" />
        <br/>

        <label for="lastName">Last Name</label>
        <input data-bind="ojComponent: {component: 'ojInputText', value: lastName}" />
        <br/>

        <label for="dob">Date of Birth</label>
        <input data-bind="ojComponent: {component: 'ojInputText', value: dob}" />
        <br/>
    </form>

    <!--to check observable-->
    <!--            <span data-bind="text: firstName()"></span>-->

</div>
<!-- Needs to be linked to profile page with new record-->
<button id="NextStep" type="button" style="display:inline-block;vertical-align:top;" data-bind="click: nextStep, ojComponent: {component: 'ojButton', label: 'Finish ', icons: {end:'oj-fwk-icon-caret-end oj-fwk-icon'}}"></button>
