<div>
    <h2>New Employee - Add Analytics</h2>
    <form>
        <label for="firstName">First Name</label>
        <input data-bind="ojComponent: {component: 'ojInputText', value: firstName}" />
        <br/>

        <label for="lastName">Last Name</label>
        <input data-bind="ojComponent: {component: 'ojInputText', value: lastName}" />
        <br/>

        <label for="dob">Date of Birth</label>
        <input data-bind="ojComponent: {component: 'ojInputText', value: dob}" />
        <br/>
    </form>

    <!--to check observable-->
    <!--            <span data-bind="text: firstName()"></span>-->

</div>
