<div class="oj-row add-profile">
    <h2>New Employee - Add Profile</h2>

    <form>
        <div class="oj-col oj-sm-12 oj-md-12">
            <h3>General</h3>
        </div>
        <div class="oj-col oj-sm-12 oj-md-3">
            <h4>Name</h4>
            <h5>First Name</h5>
            <input data-bind="ojComponent: {component: 'ojInputText', value: firstName}" />

            <h5>Last Name</h5>
            <input data-bind="ojComponent: {component: 'ojInputText', value: lastName}" />

            <h5>POS Check Name</h5>
            <input data-bind="ojComponent: {component: 'ojInputText', value: lastName}" />
        </div>
        <div class="oj-col oj-sm-12 oj-md-3">
            <h4>Last Name</h4>
            <input data-bind="ojComponent: {component: 'ojInputText', value: lastName}" />
        </div>
        <div class="oj-col oj-sm-12 oj-md-3">
            <h4>Date of Birth</h4>
            <input data-bind="ojComponent: {component: 'ojInputText', value: dob}" />
        </div>
        <div class="oj-col oj-sm-12 oj-md-12">
            <h3>Contact</h3>
        </div>
    </form>

    <!--to check observable-->
    <!--            <span data-bind="text: firstName()"></span>-->

</div>
