<div>
    <h2>New Employee - Add Permissions</h2>
    <form>
        <label for="firstName">First Name</label>
        <input data-bind="ojComponent: {component: 'ojInputText', value: firstName}" />
        <br/>

        <label for="lastName">Last Name</label>
        <input data-bind="ojComponent: {component: 'ojInputText', value: lastName}" />
        <br/>

        <label for="dob">Date of Birth</label>
        <input data-bind="ojComponent: {component: 'ojInputText', value: dob}" />
        <br/>
    </form>

    <!--to check observable-->
    <!--            <span data-bind="text: firstName()"></span>-->

</div>

<button id="PreviousStep" type="button" style="display:inline-block;vertical-align:top;" data-bind="click: previousStep, ojComponent: { component: 'ojButton', label: 'Back', icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'}}"></button>

<button id="NextStep" type="button" style="display:inline-block;vertical-align:top;" data-bind="click: nextStep, ojComponent: {component: 'ojButton', label: 'Save and Continue ', icons: {end:'oj-fwk-icon-caret-end oj-fwk-icon'}}"></button>
