<div class="justifyCenter">
    <div class="oj-row subToolRow">
        <div class="oj-col oj-sm-10">
             <a style="line-height:39px;" data-bind="attr:{href: 'index.html?root=people'}">Back to Search</a>
        </div>
        <div class="oj-col oj-sm-2">
            <div data-bind="click: $parent.handleOpen('#scheduleDetailDialog')" style="line-height:39px;">Edit <i class="fa fa-pencil-square-o"></i></div>
        </div>
    </div>
        <div class="oj-row">
        <div class="oj-col oj-sm-8">
            <a style="line-height:39px;" data-bind="click:$parent.editRequestTimehandleOpen">Time Off Request</a>

        </div>
        <div class="oj-col oj-sm-4 oj-lg-text-align-end">
            
        </div>
    </div>
    <div class="oj-row">
        <div class="oj-col currentWeekHeaderArea">
            <div class="currentWeekHeader"><strong>Current Week</strong> (8/40) </div>
        </div>
        <div class="oj-col">
            <div class="oj-row">
                <div class="oj-sm-6 oj-col shiftPoolDiv">
                   <a data-bind="click: $parent.handleOpen('#shiftPoolModal')" class="shiftPoolLink">Shift Pool</a>
                </div>
                <div class="oj-sm-6 oj-col emailAndPringDiv">
                    <ul class="scheduleToolArea">
                        <li id="email"><a href="#"><span class="fa fa-envelope-o"></span> Email</span></a></li>
                        <li id="print"><a href="#"><span class="fa fa-print""></span> Print</span></a></li>
                    </ul>
                </div>

            </div>
            <div id="filmStripDiv" class="oj-panel" style="margin: '20px';  width='776px'">
              <div id="filmStrip" aria-label="Set of chemicals" data-bind="ojComponent: {component: 'ojFilmStrip', arrowPlacement: self.currentNavArrowPlacement, arrowVisibility: self.currentNavArrowVisibility}">
                  <!-- ko foreach: $parent.currentScheduledDates -->
                  
                  <div class="oj-panel oj-panel-alt2 schedule-filmstrip-item" data-bind="style: {display: getItemInitialDisplay($index())}">
                      
                          <div>
                            <a data-bind="click:function(){$parents[1].showItemIndex('#currentWeekModal')}">        
                            <span data-bind="text: currentDayStart"></span> <span data-bind="text: currentDayStartTime"></span> - <span data-bind="text: currentDayEndTime"></span>
                            </a>
                            <br /><span data-bind="text: location"></span>, <span data-bind="text: revenueCenter"></span>
                            <br /><span data-bind="text: job"></span>, <span data-bind="text: station"></span>
                            <br /><span data-bind="text: status"></span>
                            <br /><span data-bind="text: notes"></span>
                          </div>
                        </a>
                    </div>
                      
                <!-- /ko -->

              </div>
            </div> <!-- end filmStripDiv -->
        </div>
    </div>
    <div class="oj-row futureRow">
        <div class="oj-md-12 upcomingWeekHeaderArea">
            <div class="upcomingWeekHeader"><strong>Upcoming Week</strong> (8/40) </div>
        </div>
        <div class="oj-md-12">
            <div class="oj-row">
                <div class="oj-sm-6 oj-col shiftPoolDiv">
                   <a data-bind="click: $parent.handleOpen('#shiftPoolModal')" class="shiftPoolLink">Shift Pool</a>
                </div>
                <div class="oj-sm-6 oj-col emailAndPringDiv">
                    <ul class="scheduleToolArea">
                        <li id="email"><a href="#"><span class="fa fa-envelope-o"></span> Email</span></a></li>
                        <li id="print"><a href="#"><span class="fa fa-print""></span> Print</span></a></li>
                    </ul>
                </div>

            </div>
            <div id="filmStripDiv" class="oj-panel" style="margin: '20px';  width='776px'">
              <div id="filmStrip" aria-label="Set of chemicals" data-bind="ojComponent: {component: 'ojFilmStrip', arrowPlacement: self.currentNavArrowPlacement, arrowVisibility: self.currentNavArrowVisibility}">
               
                <!-- ko foreach: $parent.futureScheduledDates -->

                <div class="oj-panel oj-panel-alt2 schedule-filmstrip-item" data-bind="style: {display: getItemInitialDisplay($index())}">
                    <a data-bind="click:function(){$parents[1].showItemIndex('#upcomingWeekModal')}">    
                    <span data-bind="text: futureDayStart"></span> <span data-bind="text: futureDayStartTime"></span> - <span data-bind="text: futureDayEndTime"></span>
                    </a>
                    <br /><span data-bind="text: location"></span>, <span data-bind="text: revenueCenter"></span>
                    <br /><span data-bind="text: job"></span>, <span data-bind="text: station"></span>
                    <br /><span data-bind="text: status"></span>
                    <br /><span data-bind="text: notes"></span>
                </div>

                <!-- /ko -->
              </div>
            </div> <!-- end filmStripDiv -->
        </div>
    </div>
        <div class="oj-row">
            <div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
                <div id="availability" data-bind="ojComponent: {component: 'ojCollapsible'}">
                    <h3>Availability</h3>
                    <div class="oj-sm-12">
                        <h4>Minimum - Maximum Hours by Day</h4>
                        <div data-bind="foreach: $parent.availability">
                            <div>
                                <span data-bind="text: day "></span> (<span data-bind="text: hoursavailablefrom"></span><span data-bind="visible: hoursavailableto > 0"><span data-bind="text: ' - ' + hoursavailableto"></span></span>)
                            </div>
                        </div>
                    </div>
                </div>
                <div id="availablity" data-bind="ojComponent: {component: 'ojCollapsible'}">
                    <h3>Days and Times</h3>
                    <div>
                        <h3>Days and Times</h3>
                       <h4>Unavailable</h4>
                       <div data-bind="foreach: $parent.daysAndTimeDisplay">
                           <div data-bind="visible: timesegment == 'unavailable'">
                                <span data-bind="text: day"></span>
                                <span data-bind="visible: allday == 'yes'">all day</span>
                                <span data-bind="visible: allday == 'no'">
                                    <span data-bind="text: $parents[1].basicTimeFormat(fullstarttime)"></span> - <span data-bind="text: $parents[1].basicTimeFormat(fullendtime)"></span>
                                </span>
                            </div>
                       </div>
                        <h4>Preferred</h4>
                            <div data-bind="foreach: $parent.daysAndTimeDisplay">
                                <div data-bind="visible: timesegment == 'preferred'">
                                <span data-bind="text: day"></span>
                                    <span data-bind="visible: allday == 'yes'">all day</span>
                                    <span data-bind="visible: allday == 'no'">
                                        <span data-bind="text: $parents[1].basicTimeFormat(fullstarttime)"></span> - <span data-bind="text: $parents[1].basicTimeFormat(fullendtime)"></span>
                                    </span>
                                 </div>
                            </div>
                    </div>
                </div>
                <div id="schooldistrict" data-bind="ojComponent: {component: 'ojCollapsible'}">
                    <h3>School District</h3>
                    <div>
                        <div data-bind="text: $parent.schooldistrict"></div>
                    </div>
                </div>
            </div>
    </div>
<div data-bind="template: {name: 'profile/schedules-timecards/shift-pool-modal/shift-pool-modal-small'}"></div>
<div data-bind="template: {name: 'partials/employee-schdeule-detail-edit/employee-schedule-detail-small'}"></div>
<div data-bind="template: {name: 'profile/schedules-timecards/current-week-modal/current-week-modal-small'}"></div>
<div data-bind="template: {name: 'profile/schedules-timecards/upcoming-week-modal/upcoming-week-modal-small'}"></div>
<div data-bind="template: {name: 'profile/schedules-timecards/schedule-timecard-modal/schedule-timecard-modal-small'}"></div>
<div data-bind="template: {name: 'profile/schedules-timecards/time-off-requested-modal/time-off-requested-modale-small'}"></div>     
</div>